<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="block newsletter">
    <div class="title"><h2><?= $block->escapeHtml(__('Fique por dentro')) ?></h2></div>
    <div class="content">
        <p><?= $block->escapeHtml(__('Faça parte da comunidade Urban Farmcy e receba dicas, novidades e promoções.')) ?></p>
        <form class="form subscribe"
            novalidate
            action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClassµ": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="control">
                    <label for="nome-cliente">
                        <input name="nome" type="text" id="nome-cliente"
                            placeholder="<?= $block->escapeHtml(__('Seu nome')) ?>"
                            data-validate="{required:false}"
                        />
                    </label>
                </div>
                <div class="control">
                    <label for="newsletter">
                        <span class="label">
                            <?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                        </span>
                        <input name="email" type="email" id="newsletter"
                               placeholder="<?= $block->escapeHtml(__('Enter your email address')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                        />
                    </label>
                </div>
                <div class="control">
                    <label for="estado_cliente">
                        <input name="estado_cliente" type="text" id="estado_cliente"
                               placeholder="<?= $block->escapeHtml(__('Seu estado')) ?>"
                               data-validate="{required:true}"
                        />
                    </label>
                </div>
                <div class="control">
                    <label for="cidade_cliente">
                        <input name="cidade_cliente" type="text" id="cidade_cliente"
                               placeholder="<?= $block->escapeHtml(__('Sua cidade')) ?>"
                               data-validate="{required:true}"
                        />
                    </label>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary"
                        title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>"
                        type="submit"
                        aria-label="Subscribe">
                    <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                </button>
            </div>
        </form>
        <p class="legal-note">
            <?= $block->escapeHtml(__('Ao clicar no botão, eu concordo em receber comunicação e aceito os Termos de Uso.')) ?>
        </p>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "newsletter-validate-detail"
            },
            "Nectar_NewsLetter/js/cidade-datalist": {}
        }
    }
</script>
