<div class="field amount required amount-container">
    <label class="label">
        <span><!-- ko i18n: 'Valor cobrado pix'--><!-- /ko --></span>
    </label>
    <div class="control">
        <input type="text"
               autocomplete="off"
               style="width: 225px;"
               class="input-text cc_amount"
               name="payment[bcc_amount]"
               value=""
        />
    </div>
</div>

<p><strong><!-- ko i18n: 'O QR code para pagamento do Pix será exibido após a finalização da compra.'--><!-- /ko --></strong></p>

<img loading="lazy" src="https://staging-cdn.mundipagg.com/assets/images/site/illustrations/pix-bc-logo-2.png" width="200" />

<div class="checkout-text-block">
    <span><!-- ko i18n: getText()--><!-- /ko --></span>
</div>
