<?php

/** @var \Nectar\ShippingMenu\Block\Adminhtml\Entregas $block */

?>

<div id="shippingmenu-entregas-list" data-bind="scope: 'entregas-list-scope'">

    <div class="wrapper">

        <div class="content">

            <!-- ko template: getTemplate() --><!-- /ko -->
        
        </div>

    </div>

</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "entregas-list-scope": {
                        "component": "Nectar_ShippingMenu/js/list",
                        "orders": <?= $block->getOrders() ?>,
                        "actionUrl": "<?= $block->getAjaxUrl() ?>"
                    }
                }
            }
        }
    }
</script>
