<?php

/** @var \Nectar\ShippingMenu\Block\Adminhtml\Grupos $block */

?>

<div id="shippingmenu-grupos-list" data-bind="scope: 'entregas-group-scope'">

    <!-- <button id="teste-shiporder">Vai lá filhão</button> -->

    <div data-role="messages" id="messages" style="display: none">
        <div class="messages">
            <div class="message message-error error">
                <div data-ui-id="messages-message-error"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">

        <div class="content">

            <!-- ko template: getTemplate() --><!-- /ko -->
        
        </div>

    </div>

</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "entregas-group-scope": {
                        "component": "Nectar_ShippingMenu/js/groups",
                        "groups": <?= $block->getGroups() ?>,
                        "actionUrl": "<?= $block->getAjaxUrl() ?>",
                        "actionUrlTeste": "<?= $block->getAjaxUrlTeste() ?>"
                    }
                }
            }
        }
    }
</script>
