<?php
/**
 * @var \Mexbs\ApBase\Block\PromoProducts $block
 */
?>
<script type="text/x-magento-init">
    <?= /* @noEscape */ $this->helper(\Magento\Framework\Json\Helper\Data::class)->jsonEncode([
        '*' => ['Mexbs_ApBase/js/promo-block' => [
            'promoProductsUrl' => $this->getUrl('apromotions/action/getPromoProductsHtml', ['_secure' => $this->getRequest()->isSecure()]),
            'promoAddToCartHtmlUrl' => $this->getUrl('apromotions/action/getPromoAddToCartHtml', ['_secure' => $this->getRequest()->isSecure()]),
            'promoAddToCartUrl' => $this->getUrl('apromotions/action/addPromoProductsToCart', ['_secure' => $this->getRequest()->isSecure()]),
            'promoAddToCartPartUrl' => $this->getUrl('apromotions/action/addPromoProductPartToCart', ['_secure' => $this->getRequest()->isSecure()]),
            'shouldLoadThePromoBlock' => true,
            'loaderImageUrl' => $block->getViewFileUrl('images/loader-2.gif')
        ]],
    ]);
    ?>
</script>
<div class="cart-promo-add-to-cart-modal"></div>
<div class="cart-promos-wrapper-title" style="display: none;"><?php echo $block->escapeHtml($this->helper("Mexbs\ApBase\Helper\Data")->getConfigPromoBlockTitle()) ?></div>
<div class="cart-promos-messages"></div>
<div class="cart-promos-wrapper">
    <img alt="Loading..." src="<?php echo $block->getViewFileUrl('images/loader-2.gif'); ?>">
</div>