#minicart-content-wrapper {
    overflow: auto;
}

.wrapper-mp-freeshippingbar {
    margin-top: 0;
}

.block-minicart .block-content {
    display: grid;
    grid-template-rows: max-content minmax(100px, 1fr) minmax(120px, 180px);

    .minicart-header {
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color-light;

        .customer-message {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .minicart-items-wrapper {
        max-height: none;
        padding-top: 10px;
    }

    .minicart-footer {
        order: 3;
    }

    .shipping-rates {
        font-size: 14px;
    }

    .subtotal {
        font-size: 14px;
        line-height: 1;
        margin-top: 10px;
    }

    .amount .price-wrapper:first-child .price {
        font-size: 14px;
    }

    .action.primary {
        line-height: 1;
    }

    .actions {
        margin-top: 10px;
        text-align: center;

        .secondary {
            line-height: 1;
        }
    }
}

.minicart-crosssell-items {
    margin: $grid-spacing 0;
    order: 2;
    overflow: hidden;

    > .title {
        font-weight: 400;
        letter-spacing: -0.01em;
    }

    > .list {
        display: flex;
        list-style: none;
        margin: 0 -4px;
        overflow: hidden;
        padding: 0;

        &.slick-initialized {
            display: block;
            margin: 0;
        }

        > .item {
            padding: 0 4px;
            width: 33.3333%;
        }
    }

    .slick-prev,
    .slick-next {
        height: 30px;
        transform: none;
        top: 40px;
        width: 30px;
    }

    .slick-prev {
        left: -11px;
    }

    .slick-next {
        right: -11px;
    }

    .slick-list {
        margin-left: -5px;
        margin-right: -5px;
        padding: 0;
    }

    .slick-track {
        display: flex;
        margin: 0;
    }

    .slick-slide {
        height: auto;
        padding: 0 5px;

        > div {
            height: 100%;

            .item {
                height: 100%;
            }
        }
    }

    .item {
        > .content {
            display: flex;
            flex-direction: column;
            height: 100%;

            .product-image-container {
                border-radius: 5px;
                overflow: hidden;
            }

            > .product-url {
                color: $text-color;
                font-family: $alternate-font;
                font-size: 13px;
                margin-top: 4px;
                text-transform: uppercase;
                max-height: 40px;
                letter-spacing: -0.03em;
                overflow: hidden;
                line-height: 1.2;

                > .name {
                    font-weight: 400;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            > .product-item-pricing {
                display: flex;
                flex-direction: column-reverse;
                margin-top: 8px;
                margin-bottom: 8px;

                > span {
                    font-family: $alternate-font;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 14px;
                }

                .price {
                    color: $text-color;
                }

                .special-price {
                    color: $special-price-color;

                    + .price {
                        font-size: 12px;
                        text-decoration: line-through;
                    }
                }
            }

            > .addtocart-form {
                margin-top: auto;

                .qty {
                    display: none;
                }

                .action.primary {
                    font-size: 13px;
                    padding: 7px 12px;
                }
            }
        }
    }
}
