<?php

$entrega_portaria = $block->getEntregaPortaria();
$message = '--';

if($entrega_portaria !== null) {
    $message = $entrega_portaria ? __('Sim') : __('Não');
}

?>

<section class="admin__page-section entrega-portaria">
    <div class="admin__page-section-title">
        <span class="title"><?= __('Pode deixar na portaria?') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item" style="width: 49%;">
            <table class="admin__table-secondary">
                <tr>
                    <td><?= __('O cliente permitiu a entrega na portaria?') ?></td>
                    <td style="text-align: right;"><?= $message ?></td>
                </tr>
            </table>
        </div>
    </div>
</section>