<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) : ?>
    <?php
    $type = 'widget-product-carousel';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <ol class="product-items <?= /* @noEscape */ $type ?>">
        <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
        <?php $iterator = 1; ?>
        <?php $rand = rand(10000, 99999); ?>
        <?php foreach ($items as $_item) : ?>
            <?php
            $showWishlist = false;
            $showCompare = false;
            $showCart = true;
            $showPrice = true;
            $showClass = "";
            if($_item->getReceitaProdutor_Cy()){
                $showWishlist = false;
                $showCompare = false;
                $showCart = false;
                $showPrice = false;
                $showClass = "not-product";
            }
            ?>
            <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item '. $showClass .'">' : '</li><li class="product-item '. $showClass .'">' ?>
            <div class="product-item-info">
                <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                    <?= $block->getImage($_item, $image)->toHtml() ?>
                </a>

                <?php $_getSelo = $_item->getResource()->getAttribute('selo__cy'); ?>
                <?php if($_getSelo && $_getSelo->getFrontend()->getValue($_item)): ?>
                    <div class="product-custom-label">
                        <span class="label"><?= $_getSelo->getFrontend()->getValue($_item) ?></span>
                    </div>
                <?php endif; ?>

                <div class="product-item-details">
                    <strong class="product-item-name">
                        <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                           href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                           class="product-item-link">
                            <?= $block->escapeHtml($_item->getName()) ?>
                        </a>
                    </strong>
                    <?php if ($templateType) : ?>
                        <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                    <?php endif; ?>

                    <?php if ($showPrice) : ?>
                        <div class="short-description"><?= $_item->getShortDescription() ?></div>

                        <div class="price-weight">
                            <?= /* @noEscape */ $block->getProductPrice($_item) ?>

                            <?php $_getMedida = $_item->getResource()->getAttribute('medida__cy'); ?>
                            <?php if($_getMedida && $_getMedida->getFrontend()->getValue($_item)): ?>
                                <span class="weight"><?= $_getMedida->getFrontend()->getValue($_item) ?></span>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>

                    <?= $block->getProductDetailsHtml($_item) ?>

                    <?php if ($showWishlist || $showCompare || $showCart) : ?>
                        <div class="product-item-inner">
                            <div class="product-item-actions">
                                <?php if ($showCart) : ?>
                                    <div class="actions-primary">
                                        <?php if ($_item->isSaleable()) : ?>
                                            <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                            <form data-role="tocart-form"
                                                  data-product-sku="<?= $block->escapeHtml($_item->getSku()) ?>"
                                                  data-product-image="<?= $block->escapeHtml($block->getImage($_item, $image)->toHtml()) ?>"
                                                  data-product-name="<?= $block->escapeHtml($_item->getName()) ?>"
                                                  data-product-price="<?= $block->escapeHtml($block->getProductPrice($_item)) ?>"
                                                  action="<?= $block->escapeUrl($postParams['action']) ?>"
                                                  method="post">
                                                <input type="hidden" name="product" value="<?= $block->escapeHtmlAttr($postParams['data']['product']) ?>">
                                                <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">

                                                <div class="field qty">
                                                    <button id="dec-<?= $rand ?>-<?= /* @noEscape */ (int)$_item->getId() ?>" class="decrease"></button>
                                                    <input type="number" name="qty" value="1" id="qty-<?= $rand ?>-<?= /* @noEscape */ (int)$_item->getId() ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" min="1" maxlength="12" />
                                                    <button id="inc-<?= $rand ?>-<?= /* @noEscape */ (int)$_item->getId() ?>" class="increase"></button>
                                                </div>
                                                <script type="text/x-magento-init">
                                                    {
                                                        "*": {
                                                            "Magento_Catalog/js/inc_dec_qty": {
                                                                "id": "<?= $rand ?>-<?= /* @noEscape */ (int)$_item->getId() ?>"
                                                            }
                                                        }
                                                    }
                                                </script>

                                                <?= $block->getBlockHtml('formkey') ?>
                                                <button type="submit"
                                                        title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                        class="action tocart primary"
                                                        disabled>
                                                    <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                </button>
                                            </form>
                                        <?php else : ?>
                                            <?php if ($_item->getIsSalable()) : ?>
                                                <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                            <?php else : ?>
                                                <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                                <?php if ($showWishlist || $showCompare) : ?>
                                    <div class="actions-secondary" data-role="add-to-links">
                                        <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist) : ?>
                                            <a href="#"
                                               data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                            </a>
                                        <?php endif; ?>
                                        <?php if ($block->getAddToCompareUrl() && $showCompare) : ?>
                                            <?php $compareHelper = $this->helper(\Magento\Catalog\Helper\Product\Compare::class);?>
                                            <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <?= ($iterator == count($items) + 1) ? '</li>' : '' ?>
        <?php endforeach ?>
    </ol>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_item->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif;?>
