<div class="postcode">
    <span class="label">
        <!-- ko i18n: 'Delivery in postcode:' --><!-- /ko -->
    </span>
    <span class="value" data-bind="afterRender: getPostcode()"></span>
    <button class="edit-postcode" data-bind="click: openPostcodeModal">
        <span><!-- ko i18n: 'Edit postcode' --><!-- /ko --></span>
    </button>
</div>

<div class="totals">
    <span class="label">
        <!-- ko i18n: 'Shipping Rates:' --><!-- /ko -->
    </span>
    <span class="value" data-bind="afterRender: calculateShippingPrice()"></span>
</div>