<?php

$_order = $block->getOrder(); 
$entrega_portaria = $_order->getData('entrega_portaria');
$message = '--';

if($entrega_portaria !== null) {
    $message = $entrega_portaria ? __('Yes') : __('No');
}

?>

<div class="entrega-portaria">
    <label class="label">
        <span><?= __('Pode deixar na portaria?') ?></span>
    </label>
    <span class="value"><?= $message ?></span>
</div>

