<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: $data.items !== undefined && $data.items.length > 0 -->
<div class="minicart-crosssell-items">
    <h3 class="title">
        <span data-bind="i18n: 'Products you might like'"></span>
    </h3>

    <ol class="list" data-bind="foreach: { data: $data.items, as: 'item' }, afterRender: $parent.initializeSlick() ">
        <!-- ko foreach: $parents[1].getRegion('cartCrosssellItem') -->
            <!-- ko template: {name: getTemplate(), data: item} --><!-- /ko -->
        <!-- /ko -->
    </ol>
</div>
<!-- /ko -->
