<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: status === "1" && is_salable === "1" && item !== undefined -->
<li class="item">
    <div class="content">
        <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
        <!-- /ko -->

        <a class="product-url" data-bind="attr: { href: item.product_url }">
            <strong class="name" data-bind="text: item.name"></strong>
        </a>

        <div class="product-item-pricing">
            <!-- ko if: $parent.hasSpecialPrice(item) -->
                <span class="special-price" data-bind="text: $parent.getProductSpecialPrice(item)"></span>
            <!-- /ko -->
            <span class="price" data-bind="text: $parent.getProductPrice(item)"></span>
        </div>
    
        <form class="addtocart-form" data-bind="submit: $parent.addToCart, attr: { action: $parent.getActionUrl() }">
            <input type="hidden" name="product" data-bind="attr: { value: entity_id }">
            <input type="hidden" name="form_key" data-bind="attr: { value: $parent.getFormKey() }">
    
            <input type="number" name="qty" value="1" title="Qtd" class="input-text qty" min="1" maxlength="12" data-bind="attr: { id: 'qty-' + entity_id }">
    
            <button type="submit" class="action tocart primary">
                <span data-bind="i18n: 'Add to Cart'"></span>
            </button>
        </form>
    </div>
</li>
<!-- /ko -->