.catalogsearch-result-index {

    &.catalogsearch-no-products {
        .column.main {
            @include responsivo(tablet-up) {
                padding-left: 0;
                width: 100%;
            }
        }
    }

    .column.main {
        .no-products-message {
            margin-top: -40px;
            margin-bottom: 20px;

            p {
                a {
                    font-weight: 500;
                }

                @include responsivo(desktop-up) {
                    font-size: 18px;
                }
            }

            @include responsivo(tablet-up) {
                margin-top: 0;
            }
        }
    }
}