
.block-search {
    margin-left: $grid-spacing/2;
    margin-top: 0;
    width: auto;

    .block-title {
        display: flex;
        cursor: pointer;
        height: 36px;
        width: 36px;
        margin: 0;
        align-items: center;
        justify-content: center;

        @include icon(search, $text-color, 32px);

        &::before {
            position: static;
        }

        strong {
            display: none;
        }

        @include responsivo(tablet-up) {
            height: 40px;
            width: 40px;
        }
    }

    .block-content {
        display: none;
        background-color: $topbar-background-color;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 15;
        padding: 40px 40px 100px;

        &.-active {
            display: block;
        }

        @include responsivo(mobile) {
            padding-top: 92px;
        }
    }

    .form {
        margin: 0 auto;
        max-width: 520px;
        position: relative;
    }

    input {
        border: 0;
        font-size: 18px;
        height: 50px;
        padding: 15px 60px 15px 20px;
    }

    .close-block {
        border: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-weight: 400;
        width: 50px;
        position: absolute;
        top: 40px;
        right: 40px;

        @include icon(x-close, #fff, 20px);

        &::before {
            position: static;
        }

        @include responsivo(mobile) {
            right: 25px;
            top: 25px;
        }
    }

    .action.search {
        align-items: center;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        display: flex;
        height: 50px;
        justify-content: center;
        right: 0;
        width: 64px;

        @include icon(search, $text-color, 30px);

        &[disabled] {
            opacity: 0.5;
        }
    }

    @include responsivo(mobile) {
        input {
            margin: 0;
            position: static;
        }

        .control {
            border: 0;
            clear: both;
            margin: 0;
            padding: 0;
        }

        .field.search {
            label {
                display: none;
            }
        }

        .action.search {
            bottom: 0;
            right: 0;
            // height: 34px;
            top: auto;
            position: absolute;

            span {
                display: none;
            }
        }
    }

    @include responsivo(tablet-up) {
        margin-left: $grid-spacing;
        padding-left: 0;
    }
}

.cms-index-index,
.has-image {
    .block-search {
        .block-title {
            &::before {
                background-color: #fff;
            }
        }
    }
}

.search-terms-container {
    padding: 30px 20px;
    margin: 0 auto;
    max-width: 520px;
    position: relative;

    .title {
        font-family: $alternate-font;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    .search-terms {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > li {
            font-size: 16px !important;
            font-weight: 300;
            line-height: 1.2;
            margin-top: $grid-spacing;

            a {
                color: #fff;

                &:hover {
                    color: $link-color;
                }
            }
        }
    }
}

.search-autocomplete {
    width: calc(100% - 40px) !important;
    left: 50%;
    transform: translateX(-50%);

    ul {
        li {
            align-items: center;
            border-top: 1px solid $border-color-muted;
            display: flex;
            justify-content: space-between;
            line-height: 1;
            padding: 10px 16px;

            .qs-option-name {
                color: $text-color-light;
                font-size: 14px;
                font-weight: 400;
            }

            .amount {
                color: $text-color-light;
                font-size: 14px;
                font-weight: 400;
                position: static;
            }
        }
    }

    ul:not(:empty) {
        border-radius: 0 0 8px 8px;
    }
}
