<div class="admin__fieldset">
    <div class="admin__field">
        <label class="admin__field-label action-details-fieldset-label">
            <span>Apply</span>
        </label>
        <div class="admin__field-control">
            <fieldset id="simple_action_container">
                <span class="rule-param-new-child">
                    <select class="admin__control-select" data-bind="
                        attr: {
                            name: inputName,
                            id: 'simple_action',
                            disabled: disabled,
                            'aria-describedby': noticeId
                        },
                        hasFocus: focused,
                        optgroup: options,
                        value: value,
                        optionsCaption: caption,
                        optionsValue: 'value',
                        optionsText: 'label'"
                            />
                </span>
            </fieldset>
        </div>
    </div>
</div>

