<?php
/**
 * @var \Mexbs\FreeGift\Block\Cart\GiftAdd\Discount $block
 */
?>
<style>
    .gift-add-promo-product-item-info{
        width: 29%;
        float: left;
        margin: 5px 10px 30px 10px;
        padding: 2px;
    }
    .gift-add-promo-mouseover{
        border: 2px solid #1979c3;
        padding: 0;
    }
    .gift-add-promo-product-image{
        max-height: 200px;
        max-width: 100%;
    }
    .gift-add-promo-group-title, .gift-add-promo-group-chosen{
        padding: 10px;
        font-size: 18px;
    }
    .gift-add-promo-group-wrapper{
        display: none;
        float: left;
        width: 100%;
    }
    .gift-add-promo-group-products-wrapper{
        padding: 10px 10px 10px 30px;
    }
    /** custom checkbox **/
    .gift-add-promo-product-checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .gift-add-promo-product-checkbox-container{
        float: left;
    }

    /* Create a custom checkbox */
    .gift-add-promo-product-checkbox-checkmark {
        float:left;
        padding-left: 10px;
        padding-top: 5px;
        height: 24px;
        width: 20px;
        background-color: #eee;
        border: 2px solid #999999;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .gift-add-promo-product-checkbox-checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .gift-add-promo-product-checkbox-container input:checked ~ .gift-add-promo-product-checkbox-checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .gift-add-promo-product-checkbox-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .gift-add-promo-product-checkbox-container input:checked ~ .gift-add-promo-product-checkbox-checkmark:after {
        display: block;
    }

        /* Style the checkmark/indicator */
    .gift-add-promo-product-checkbox-container .gift-add-promo-product-checkbox-checkmark:after {
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .gift-add-promo-wrapper-button-next.action.primary,
    .gift-add-promo-wrapper-button-done.action.primary,
    .gift-add-promo-wrapper-button-prev{
        float: none;
        margin: 25px auto 15px auto;
        font-size: 20px;
        padding: 17px;
        width: 50%;
        display: block;
    }
    .gift-add-promo-wrapper-button-next,
    .gift-add-promo-wrapper-button-done{
        clear: both;
    }
    .gift-add-promo-red-label{
        background-color: #ff0000;
        color: #ffffff;
        font-size: 20px;
        padding: 10px;
    }
    .gift-add-promo-wrapper-error-configurations,
    .gift-add-promo-wrapper-error-products{
        display: none;
        float: right;
        margin: 0px 15px 10px 0;
    }
    .gift-add-promo-product-item-qty input{
        width: 54px;
        float: left;
        border: 2px solid #999999;
    }
    .gift-add-promo-product-item-qty{
        margin-top: 10px;
    }
    .gift-add-promo-product-item-qty-label{
        float: left;
        margin-top: 5px;
        color: #999999;
        font-weight: 700;
        margin-right: 5px;
    }
    .gift-add-promo-product-item-details{
        min-height: 50px;
    }
</style>
<div class="gift-promo-wrapper">
    <?php
    $stepIndex = 1;
    $productGroups = $block->getRuleProductGroupsWithDisplayDataAndProducts();
    $qtyCanAddNowPerGroup = $block->getGroupsCountForTriggeringItemsGroup();

    $totalStepsNumber = $block->getTotalStepsNumber($qtyCanAddNowPerGroup);

    foreach($productGroups as $groupNumber => $productGroup):
        if(!is_numeric($groupNumber)){
            continue;
        }

        $qtyToMatchForGroup = $qtyCanAddNowPerGroup[$groupNumber];
        if($qtyToMatchForGroup == 0){
            continue;
        }
        ?>
        <div class="gift-add-promo-group-wrapper" data-step-index="<?php echo $block->escapeHtmlAttr($stepIndex); ?>"
             data-group-qty="<?php echo $block->escapeHtmlAttr($qtyToMatchForGroup); ?>"
            <?php echo ($stepIndex==1 ? ' style="display:block;"' : ''); ?>>
            <div class="gift-add-promo-group-title cart-promo-blue-label"><?php echo ($totalStepsNumber > 1 ? "Step ".$block->escapeHtml($stepIndex).": " : "");?>Por favor escolha <?php echo $block->escapeHtml($qtyToMatchForGroup) ?> <?php echo ($qtyToMatchForGroup == 1 ? $block->escapeHtml($productGroup['title_singular']) : $block->escapeHtml($productGroup['title_plural'])); ?></div>
            <div class="gift-add-promo-group-chosen cart-promo-grey-label">Selecionado 0 de <?php echo $block->escapeHtml($qtyToMatchForGroup) ?></div>
            <div class="gift-add-promo-group-products-wrapper">
                <?php
                $productIndex = 0;
                foreach($productGroup['products'] as $productGroupProduct):
                    ?>
                    <div class="gift-add-promo-product-item-info<?php echo ($productIndex==0 ? " first" : "") ?>" data-product-id=<?php echo $block->escapeHtmlAttr($productGroupProduct->getId()); ?>>
                        <label class="gift-add-promo-product-checkbox-container">&nbsp;
                            <input type="checkbox" />
                            <span class="gift-add-promo-product-checkbox-checkmark"></span>
                        </label>
                        <?php
                        $imageUrl = $block->getProductImageUrl($productGroupProduct);
                        ?>
                        <img src="<?php echo $block->escapeHtmlAttr($imageUrl) ?>" class="gift-add-promo-product-image" />
                        <div class="gift-add-promo-product-item-details">
                            <?php
                            $productNameStripped = $block->stripTags($productGroupProduct->getName(), null, true);
                            ?>
                            <strong class="gift-add-promo-product-item-name">
                                <a class="gift-add-promo-product-item-link"
                                   href="<?php echo $block->escapeHtmlAttr($block->escapeUrl($productGroupProduct->getProductUrl())) ?>"
                                    target="_blank">
                                    <?php echo $block->escapeHtml($productGroupProduct->getName()); ?>
                                </a>
                            </strong>
                            <?php echo $block->getProductDetailsHtml($productGroupProduct); ?>
                            <div class="gift-add-promo-product-custom-options-wrapper">
                            <?php
                                $customOptionsBlock = $block->getLayout()->getBlock('product.info.options');
                                if($customOptionsBlock){
                                    $customOptionsBlock->setProduct($productGroupProduct);
                                    if($customOptionsBlock->getOptions() && is_array($customOptionsBlock->getOptions())){
                                        echo $customOptionsBlock->toHtml();
                                    }
                                }
                                ?>
                            </div>
                        </div>
                        <?php if($qtyToMatchForGroup > 1): ?>
                        <div class="gift-add-promo-product-item-qty"><div class="gift-add-promo-product-item-qty-label">Quantidade:&nbsp;</div> <input type="text" /></div>
                        <?php endif; ?>
                    </div>
                <?php
                    $productIndex++;
                endforeach; ?>
            </div>
            <?php if($stepIndex < $totalStepsNumber): ?>
            <button class="gift-add-promo-wrapper-button-next action primary" data-action="go-to-next-step">
                <span>Próximo</span>
            </button>
            <?php elseif($stepIndex == $totalStepsNumber): ?>
            <button class="gift-add-promo-wrapper-button-done action primary" data-action="steps-done">
                <span>Feito!</span>
            </button>
            <?php endif; ?>
            <?php if($stepIndex > 1): ?>
                <button class="gift-add-promo-wrapper-button-prev" data-action="go-to-previous-step">
                    <span>Anterior</span>
                </button>
            <?php endif; ?>
        </div>
        <div class="gift-add-promo-wrapper-error-products gift-add-promo-red-label"
             data-step-index="<?php echo $block->escapeHtmlAttr($stepIndex); ?>"></div>
        <div class="gift-add-promo-wrapper-error-configurations gift-add-promo-red-label"
             data-step-index="<?php echo $block->escapeHtmlAttr($stepIndex); ?>">Por favor, selecione as configurações para seus produtos selecionados</div>
    <?php
    $stepIndex++;
    endforeach; ?>
</div>