<!--@subject {{trans "Houve um erro de Integração na loja da Urban"}} @-->
<!--@vars {
"var identificador":"Custom Message 1",
"var label_identificador":"Custom Message 1",
"var request_url":"Custom Message 1",
"var request_body":"Custom Message 2"
"var codigo_erro":"Custom Message 2"
"var mensagem_erro":"Custom Message 2"
} @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p>{{trans "%label_identificador" label_identificador=$label_identificador|raw}}</p>
        </td>
        <td>
            <p>{{trans "%identificador" identificador=$identificador|raw}}</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p>Código do erro:</p>
        </td>
        <td>
            <p>{{trans "%codigo_erro" codigo_erro=$codigo_erro|raw}}</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p>Mensagem de erro:</p>
        </td>
        <td>
            <p>{{trans "%mensagem_erro" mensagem_erro=$mensagem_erro|raw}}</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p>Request URL:</p>
        </td>
        <td>
            <p>{{trans "%request_url" request_url=$request_url|raw}}</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p>Request Body:</p>
        </td>
        <td>
            <p>{{trans "%request_body" request_body=$request_body|raw}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}