<?php
/**
 * @var \Mexbs\FreeGift\Block\Cart\GiftHintMessages $block
 */
$giftQtysCanAddPerGroupPerRule = $block->getGiftQtysCanAddPerGroupPerRule();
foreach($block->getGiftHintMessages() as $ruleId => $giftHintMessage): ?>
    <div class="top_gift_cart_hint"
         data-message-type="gift-hint-message"
         data-gift-message="<?php echo $block->escapeHtmlAttr($giftHintMessage) ?>"
         data-rule-id="<?php echo $block->escapeHtmlAttr($ruleId) ?>"
         data-gift-qtys-can-add-per-group='<?php echo /* @noEscape */ (isset($giftQtysCanAddPerGroupPerRule[$ruleId]) ? json_encode($giftQtysCanAddPerGroupPerRule[$ruleId]) : "") ?>'>
       <span><?php echo $block->escapeHtml($giftHintMessage) ?></span>
    </div>
<?php endforeach;