<div class="order-groups">

    <div class="content">

        <h3 class="title">Grupos de Pedidos para entrega</h3>

        <span data-bind="visible: orderGroups().length < 1">Não há grupos de pedido para serem exibidos</span>

        <ul class="list" data-bind="foreach: orderGroups, visible: orderGroups().length > 0">
            <li class="item">
                <div class="ordergroup-card" data-bind="attr: { 'data-ordergroup-id': $data.id }">
                    <div class="content">
                        <div class="header">
                            <span class="number">
                                <strong data-bind="text: 'Número do grupo: '"></strong>
                                <span data-bind="text: $data.id"></span>
                            </span>
                            <span class="status">
                                <strong data-bind="text: 'Status: '"></strong>
                                <span data-bind="text: $data.status_label"></span>
                            </span>
                        </div>
                        <div class="footer">
                            <a class="show-orders" href="#" data-bind="click: $parent.openOrdersModal"><span>Ver pedidos </span><span data-bind="text: '(' + $data.orders.length + ')' "></span></a>
                            <a class="cancel-ordergroup" href="#" data-bind="click: $parent.cancelOrderGroup.bind($data, $parent)"><i class="fa fa-trash"></i><span>Cancelar entrega</span></a>
                        </div>
                        <div class="orders" data-bind="attr: { 'id': 'orders-' + $data.id }">
                            <ul class="list" data-bind="foreach: $data.orders">
                                <li class="item">
                                    <div class="order-card">
                                        <div class="content">
                                            <div class="header">
                                                <span class="number" data-bind="text: 'Pedido #' + $data.id_Magento"></span>
                                                <span class="protheus" data-bind="text: 'Protheus: ' + $data.id_Protheus"></span>
                                            </div>
                                            <div class="main">
                                                <span class="customer">
                                                    <span data-bind="text: $data.nome"></span>
                                                </span>
                                                <span class="address">
                                                    <span data-bind="text: $data.rua[0]"></span>,
                                                    <span data-bind="text: $data.rua[1]"></span>,
                                                    <span data-bind="text: $data.rua[2]"></span>,
                                                    <span data-bind="text: $data.cidade"></span>,
                                                    <span data-bind="text: $data.estado"></span>,
                                                    <span data-bind="text: $data.cep"></span>
                                                </span>
                                                <div class="time" data-bind="visible: $data.data.length > 0 || $data.hora.length > 0">
                                                    <strong>Entrega: </strong>
                                                    <span data-bind="text: $data.data"></span>,
                                                    <span data-bind="text: $data.hora"></span>
                                                </div>
                                                <div class="comments" data-bind="visible: $data.comentario.length > 0">
                                                    <strong>Comentário: </strong>
                                                    <span data-bind="text: $data.comentario"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>
