<span data-bind="visible: invoicedOrders().length < 1">Não há pedidos faturados para serem exibidos</span>

<div class="invoiced-orders" data-bind="visible: invoicedOrders().length > 0">

    <div class="content">

        <h3 class="title">Pedidos faturados</h3>

        <ul class="list" data-bind="foreach: invoicedOrders">
            <li class="item" data-bind="visible: $data.visible">
                <div class="invoicedorder-card">
                    <div class="content">
                        <div class="header">
                            <span class="number" data-bind="text: 'Pedido #' + $data.id_Magento"></span>
                            <span class="protheus" data-bind="text: 'Protheus: ' + $data.id_Protheus"></span>
                        </div>
                        <div class="main">
                            <span class="customer">
                                <span data-bind="text: $data.nome"></span>
                            </span>
                            <span class="address">
                                <span data-bind="text: $data.rua[0]"></span>,
                                <span data-bind="text: $data.rua[1]"></span>,
                                <span data-bind="text: $data.rua[2]"></span>,
                                <span data-bind="text: $data.cidade"></span>,
                                <span data-bind="text: $data.estado"></span>,
                                <span data-bind="text: $data.cep"></span>
                            </span>
                            <div class="time" data-bind="visible: $data.data.length > 0 || $data.hora.length > 0">
                                <strong>Entrega: </strong>
                                <span data-bind="text: $data.data"></span>,
                                <span data-bind="text: $data.hora"></span>
                            </div>
                            <div class="comments" data-bind="visible: $data.comentario.length > 0">
                                <strong>Comentário: </strong>
                                <span data-bind="text: $data.comentario"></span>
                            </div>
                        </div>
                        <button class="add-to-list" data-bind="click: $parent.addOrderToList.bind($data, $parent)">
                        </button>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>

<div class="added-orders" data-bind="visible: invoicedOrders().length > 0">

    <div class="content">

        <h3 class="title">Lote de entrega</h3>

        <ul class="list" data-bind="foreach: addedOrders">

            <li class="item">

                <div class="addedorder-card">
                    <div class="content">
                        <span class="count" data-bind="text: $index() + 1"></span>
                        <div class="header">
                            <span class="number" data-bind="text: 'Pedido #' + $data.id_Magento"></span>
                            <span class="protheus" data-bind="text: 'Protheus: ' + $data.id_Protheus"></span>
                        </div>
                        <div class="main">
                            <span class="customer">
                                <span data-bind="text: $data.nome"></span>
                            </span>
                            <span class="address">
                                <span data-bind="text: $data.rua[0]"></span>,
                                <span data-bind="text: $data.rua[1]"></span>,
                                <span data-bind="text: $data.rua[2]"></span>,
                                <span data-bind="text: $data.cidade"></span>,
                                <span data-bind="text: $data.estado"></span>,
                                <span data-bind="text: $data.cep"></span>
                            </span>
                            <div class="time" data-bind="visible: $data.data.length > 0 || $data.hora.length > 0">
                                <strong>Entrega: </strong>
                                <span data-bind="text: $data.data"></span>,
                                <span data-bind="text: $data.hora"></span>
                            </div>
                            <div class="comments" data-bind="visible: $data.comentario.length > 0">
                                <strong>Comentário: </strong>
                                <span data-bind="text: $data.comentario"></span>
                            </div>
                        </div>
                        <button class="remove-from-list" data-bind="click: $parent.removeOrderFromList.bind($data, $parent)">
                        </button>
                    </div>
                </div>

            </li>

        </ul>

        <button id="send-batch" class="action send-batch" data-bind="enable: addedOrders().length > 0, click: sendBatchOrders.bind($parent)">
            <span data-bind="i18n: 'Enviar lote'"></span>
        </button>

    </div>

</div>

<div id="addedorders-modal">

    <h3 class="title">Lote de entrega</h3>

    <p class="confirmation">
        Você tem certeza de que deseja enviar esses pedidos para entrega?
    </p>

    <ul class="list" data-bind="foreach: addedOrders">

        <li class="item">

            <div class="addedorder-card">
                <div class="content">
                    <span class="count" data-bind="text: $index() + 1"></span>
                    <div class="header">
                        <span class="number" data-bind="text: 'Pedido #' + $data.id_Magento"></span>
                        <span class="protheus" data-bind="text: 'Protheus: ' + $data.id_Protheus"></span>
                    </div>
                    <div class="main">
                        <span class="customer">
                            <span data-bind="text: $data.nome"></span>
                        </span>
                        <span class="address">
                            <span data-bind="text: $data.rua[0]"></span>,
                            <span data-bind="text: $data.rua[1]"></span>,
                            <span data-bind="text: $data.rua[2]"></span>,
                            <span data-bind="text: $data.cidade"></span>,
                            <span data-bind="text: $data.estado"></span>,
                            <span data-bind="text: $data.cep"></span>
                        </span>
                        <div class="time" data-bind="visible: $data.data.length > 0 || $data.hora.length > 0">
                            <strong>Entrega: </strong>
                            <span data-bind="text: $data.data"></span>,
                            <span data-bind="text: $data.hora"></span>
                        </div>
                        <div class="comments" data-bind="visible: $data.comentario.length > 0">
                            <strong>Comentário: </strong>
                            <span data-bind="text: $data.comentario"></span>
                        </div>
                    </div>
                </div>
            </div>

        </li>

    </ul>

</div>