<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php   $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
        $orderData = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($block->getOrderId());

        //echo "<pre>";print_r($orderData->getData());

        $orderItems = $orderData->getAllItems();
        $orderItems_ = "";
        $total_order_itens = 0;

        foreach ($orderItems as $item) {
            $sku_item = "%7C" . str_replace(" ","",str_replace(".","",$item->getSku())) . "%3B"; //SKU
            $qtd_item = (int)$item->getQtyOrdered() . "%3B"; //QTD unit
            $price_item = $item->getPrice(); //PRICE unit
            
            $orderItems_ .= $sku_item.$qtd_item.$price_item;
            $total_order_itens++;
        }
        $base_grand_total = $orderData->getData('base_grand_total'); //TOTAL COM VOUCHER APLICADO
        $shipping_amount = $orderData->getData('base_shipping_amount'); //FRETE
        $base = $base_grand_total - $shipping_amount; //TOTAL - FRETE
        $cartProducts = $total_order_itens.$orderItems_;
    ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()) : ?>
        <?php if ($block->getCanViewOrder()) : ?>
            <p><?= $block->escapeHtml(__('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeUrl($block->getViewOrderUrl()), $block->getOrderId())), ['a', 'strong']) ?></p>
        <?php else : ?>
            <p><?= $block->escapeHtml(__('Your order # is: <span>%1</span>.', $block->getOrderId()), ['span']) ?></p>
        <?php endif; ?>
        <?php if ($block->getIsOrderStorePickup()->execute()) : ?>
            <p><?= $block->escapeHtml(__('We\'ll email you an order and pick-up confirmation with details.')) ?></p>
        <?php else : ?>
            <p><?= $block->escapeHtml(__('We\'ll email you an order confirmation with details and tracking info.')) ?></p>
        <?php endif; ?>
    <?php endif; ?>

    
    <?= $block->getAdditionalInfoHtml() ?>
    

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue"
               href="<?= $block->escapeUrl($block->getContinueUrl()) ?>"><span><?= $block->escapeHtml(__('Continue Shopping')) ?></span></a>
        </div>
    </div>
</div>
<script type="text/javascript">
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}
  
function meliuzPixel() {
  var meliuz_commission = 0.07;
  var ID = "8017";
  var auth_token ="617be79772806";
  var currency ="BRL";
  var cartProducts ="<?= $cartProducts; ?>";
  var orderNumber = <?= $block->getOrderId(); ?>;
  var totalValue = Number(<?= $base; ?>);
  
  var commission = totalValue*meliuz_commission;
  var xtra = getCookie('meliuzCookie');
  var url = "https://www.meliuz.com.br/pixel/pa/"+ID+".png?"+"auth="+auth_token+"&cart="+cartProducts.toString()+"&commission="+commission.toString()+"&iso_currency="+currency+"&order="+orderNumber.toString()+"&value="+totalValue.toString()+"&xtra="+xtra.toString();
  document.write('<img style="visibility: hidden;" src="'+url+'">');
}
  
function callPixel(){
  var meliuz = getCookie('meliuzCookie');
  if (!!meliuz){
  meliuzPixel();
  var status = 1;}
  else{
  status = 0;
  }
  console.log('pixel_meliuz: ',status);
  return status;
}
callPixel();
</script>