<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
$customer = $block->getCustomerModel();
?>
<div class="page-actions">
    <div class="page-actions-inner">
        <div class="page-actions-buttons">
            <?= $block->getChildHtml() ?>

            <form class="action-element"
                  action="<?= $block->escapeUrl($block->getUrl('*/*/forcarIntegracao')) ?>"
                  method="post">
                <input
                    name="form_key"
                    type="hidden"
                    value="<?= $block->escapeHtmlAttr($block->getFormKey()) ?>"/>
                <input
                    name="entity_id"
                    type="hidden"
                    value="<?= $customer->getData('entity_id') ?>"/>
                <button
                    class="action-primary"
                    type="submit"
                    title="<?= $block->escapeHtmlAttr(__('Forçar Integração')) ?>">
                    <?= $block->escapeHtml(__('Forçar Integração')) ?>
                </button>
            </form>
        </div>
    </div>
</div>
