<?php

/** @var \Urban\Integrador\Block\Adminhtml\Clientes\Details $block */
$customerModel = $block->getCustomerModel();
$customerAttributes = $block->getCustomerAttributes();
$customerEditUrl = $this->getUrl('customer/index/edit', ['id' => $customerModel->getData('entity_id')]);
?>

<section class="admin__page-section customer-data">
    <div class="admin__page-section-title">
        <span class="title"><?= $escaper->escapeHtml(__('Customer Information')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item" style="width: 100%;">
            <table class="admin__table-secondary">
                <tr>
                    <td><strong><a href="<?= $customerEditUrl ?>">Editar dados do cliente</a></strong></td>
                </tr>
                <?php foreach ($customerAttributes as $attribute): ?>
                <tr>
                    <td><strong><?= $escaper->escapeHtml(__($attribute['label'])) ?></strong></td>
                    <td class="<?= $attribute['code'] ?>"><?= $escaper->escapeHtml($attribute['value']) ?></td>
                </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</section>
