<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item" data-role="product-item">
    <div class="product">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->

        <div class="product-item-details">
            <strong class="product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url}, html: product_name"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                    <!-- ko text: product_name --><!-- /ko -->
                <!-- /ko -->
            </strong>
            <!-- ko ifnot: _.isEmpty(hint_messages) -->
            <!-- ko if: (Object.keys(JSON.parse(hint_messages)).length > 0) -->
            <!-- ko foreach: { data: JSON.parse(hint_messages) } -->
            <div data-bind="attr: {
                           'data-rule-id': $data.rule_id,
                           'data-gift-trigger-item-ids-qtys-of-same-group': $parent.gift_trigger_item_ids_qtys_of_same_group,
                           'data-gift-qtys-can-add-per-group': $parent.gift_qtys_can_add_per_group,
                           'data-product-id': $parent.product_id,
                           'data-gift-message': $data.hint_message
                           }"  class="gift_cart_hint in-item gift in-minicart" data-message-type="gift-hint-message">
                <span>Incluir ítem por apenas R$0,01</span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: _.isEmpty(gift_message) -->
            <div data-bind="attr: {
                           'data-rule-id': $data.rule_id,
                           'data-gift-trigger-item-ids-qtys': $parent.gift_trigger_item_ids_qtys,
                           'data-product-id': $parent.product_id,
                           'data-gift-message': $data.gift_message
                           }"  class="cart-item-gift-message in-item in-minicart">
                <span>Incluir ítem por apenas R$0,01</span>
            </div>
            <!-- /ko -->
            <!-- ko if: options.length -->
            <div class="product options" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
                <span data-role="title" class="toggle"><!-- ko i18n: 'See Details' --><!-- /ko --></span>

                <div data-role="content" class="content">
                    <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                    <dl class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dt class="label"><!-- ko text: option.label --><!-- /ko --></dt>
                        <dd class="values">
                            <!-- ko if: Array.isArray(option.value) -->
                                <span data-bind="html: option.value.join('<br>')"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: Array.isArray(option.value) -->
                                <span data-bind="text: option.value"></span>
                            <!-- /ko -->
                        </dd>
                        <!-- /ko -->
                    </dl>
                </div>
            </div>
            <!-- /ko -->

            <div class="product-item-pricing">
                <!-- ko if: canApplyMsrp -->

                <div class="details-map">
                    <span class="label" data-bind="i18n: 'Price'"></span>
                    <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot:   -->

                <!-- ko if: item.discount_amount < 0  -->
                <div class="price-container">
                    <span class="price-wrapper discounted" data-bind="html: item.product_price"></span>
                </div>
                <div class="price-container">
                    <span class="price-wrapper" data-bind="html: item.price_incl_discount"></span>
                </div>
                <!-- /ko -->

                <!-- ko if: item.discount_amount == 0  -->
                <div class="price-container">
                    <span class="price-wrapper not-discounted" data-bind="html: item.product_price"></span>
                </div>
                <!-- /ko -->

                <!-- /ko -->

                <div class="details-qty qty">
                    <label class="label" data-bind="i18n: 'Qty', attr: {
                           for: 'cart-item-'+item_id+'-qty'}"></label>
                    <input data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty"
                           type="number"
                           size="4"
                           class="item-qty cart-item-qty">
                    <button data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           title: $t('Update')
                           }"
                            class="update-cart-item"
                            style="display: none">
                        <span data-bind="i18n: 'Update'"></span>
                    </button>
                </div>
            </div>

            <div class="product actions">
                <!-- ko if: is_visible_in_site_visibility -->
                <div class="primary">
                    <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit">
                        <span data-bind="i18n: 'Edit'"></span>
                    </a>
                </div>
                <!-- /ko -->
                <div class="secondary">
                    <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                       class="action delete">
                        <span data-bind="i18n: 'Remove'"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="message notice" if="$data.message">
        <div data-bind="text: $data.message"></div>
    </div>
</li>
