<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php $rand = rand(10000, 99999); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control">
                <button type="button" id="dec-<?= $rand ?>-<?= /* @noEscape */ (int)$_product->getId() ?>" class="decrease"><span></span></button>
                <input
                    type="number"
                    name="qty"
                    value="1"
                    id="qty-<?= $rand ?>-<?= /* @noEscape */ (int)$_product->getId() ?>"
                    title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                    class="input-text qty"
                    min="1"
                    maxlength="12"
                />
                <button type="button" id="inc-<?= $rand ?>-<?= /* @noEscape */ (int)$_product->getId() ?>" class="increase"><span></span></button>
            </div>
        </div>

        <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_Catalog/js/inc_dec_qty": {
                        "id": "<?= $rand ?>-<?= /* @noEscape */ (int)$_product->getId() ?>"
                    }
                }
            }
        </script>

        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<script type="text/x-magento-init">
{
    "#product_addtocart_form": {
        "catalogAddToCart": {
            "bindSubmit": false
        }
    }
}
</script>
