<div class="selos-box">
    <div class="content">
        <ul class="list">
            <li class="item">
                <button 
                    id="selo_agricultura_familiar"
                    data-code="selo"
                    data-id="agricultura_familiar"
                    class="action open-attribute-popup">
                    <img loading="lazy" src="<?= $this->getViewFileUrl('images/agricultura-familiar.svg'); ?>" height="50" width="50" alt="Agricultura Familiar" />
                </button>
            </li>
            <li class="item">
                <button 
                    id="selo_alimento_limpo"
                    data-code="selo"
                    data-id="alimento_limpo"
                    class="action open-attribute-popup">
                    <img loading="lazy" src="<?= $this->getViewFileUrl('images/alimento-limpo.svg'); ?>" height="50" width="50" alt="Alimento Limpo" />
                </button>
            </li>
            <li class="item">
                <button 
                    id="selo_compromisso_planeta"
                    data-code="selo"
                    data-id="compromisso_planeta"
                    class="action open-attribute-popup">
                    <img loading="lazy" src="<?= $this->getViewFileUrl('images/compromisso-planeta.svg'); ?>" height="50" width="50" alt="Compromisso com o Planeta" />
                </button>
            </li>
            <li class="item">
                <button 
                    id="selo_plant_based"
                    data-code="selo"
                    data-id="plant_based"
                    class="action open-attribute-popup">
                    <img loading="lazy" src="<?= $this->getViewFileUrl('images/plant-based.svg'); ?>" height="50" width="50" alt="Plant Based" />
                </button>
            </li>
            <li class="item">
                <button 
                    id="selo_ultraprocessado"
                    data-code="selo"
                    data-id="ultraprocessado"
                    class="action open-attribute-popup">
                    <img loading="lazy" src="<?= $this->getViewFileUrl('images/ultraprocessado.svg'); ?>" height="50" width="50" alt="Não é ultraprocessado" />
                </button>
            </li>                
        </ul>

        <span class="info"><?= __('Touch to view more') ?></span>
    </div>
</div>