<?php

$product = $block->getProduct();
$productUrl = $product->getProductUrl();
$productName = $product->getProductName();

?>

<div class="product-share">
    <div class="content">
        <button id="share-product" data-product-name="<?= $productName ?>" data-product-url="<?= $productUrl ?>" class="action secondary share-product">
            <span><?= __('Share') ?></span>
        </button>

        <div class="social-links">
            <h3 class="title"><?= __('Share') ?></h3>
            <ul class="list">
                <li class="item">
                    <a href="mailto:info@example.com?&subject=&cc=&bcc=&body=<?= $productUrl ?>" target="_blank">
                        <i class="far fa-envelope"></i>
                        <span>Email</span>
                    </a>
                </li>
                <li class="item">
                    <a href="https://api.whatsapp.com/send?text=<?= $productUrl ?>" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                        <span>WhatsApp</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "shareProduct": {}
        }
    }
</script>