.cart-summary {
    background-color: $main-color;
    border-radius: 8px;
    width: 30%;
    padding: 16px 32px 32px;

    @include responsivo(mobile) {
        width: 100%;
        order: 3;
    }

    > .title {
        color: #fff;
        font-family: $alternate-font;
        text-transform: uppercase;
        margin: 20px 0;

        @include responsivo(mobile) {
            display: block;
        }
    }

    #block-shipping {
        display: none;
        color: #fff;

        .title {
            border-top-color: $text-color-light;
            padding-top: $grid-spacing;
            padding-bottom: $grid-spacing;

            &:after {
                top: 20px;
            }

            @include responsivo(mobile) {
                padding: $grid-spacing 0;

                &:after {
                    right: 2px;
                }
            }
        }
    }

    .checkout-methods-items {
        padding: 0;

        .action.primary.checkout {
            background: $action-secondary-background-color;
            border: 1px solid $action-secondary-border-color;
            color: $action-secondary-text-color;
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            margin-left: auto;
            padding: 12px 30px;
            text-transform: uppercase;
            width: auto;

            &:hover,
            &:active,
            &:focus {
                background-color: $action-secondary-hover-background-color;
                border-color: $action-secondary-hover-border-color;
                color: $action-secondary-hover-text-color;
            }

            @include responsivo(tablet-up) {
                font-size: 20px;
                width: 100%;
            }
        }
    }
}

.cart-totals {
    background-color: $main-color;
    border-top-color: $text-color-light;
    padding: $grid-spacing 0 0;

    > .table-wrapper {
        > .table {
            tr {
                padding-bottom: $grid-spacing/2;

                th {
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                }

                td {
                    color: #fff;
                    font-weight: 700;
                    text-align: right;
                }
            }

            .totals {
                &.sub {
                    order: 1;
                }

                &.shipping {
                    border-bottom: 1px solid $text-color-light;
                    order: 2;

                    th, td {
                        padding-bottom: $grid-spacing;
                    }
                }

                &.deadline {
                    order: 3;
                }

                &.taxes {
                    order: 4;
                }

                &.grand {
                    order: 5;
                }

                &.price-in-cash {
                    order: 6;
                }
            }

            .grand {
                .mark {
                    border: 0;
                    font-size: 13px;
                    padding: $grid-spacing 0 0;

                    strong {
                        font-weight: 400;
                    }
                }

                .amount {
                    border: 0;
                    display: block;
                    font-size: 18px;
                    padding: $grid-spacing 0 0;
                    text-align: right;

                    strong {
                        font-weight: 700;
                        padding: 0;
                    }
                }
            }

            .price-in-cash {
                .amount {
                    border: 0;
                    color: $highlight-color;
                    display: block;
                    font-size: 20px;
                    padding: 0;

                    strong {
                        font-weight: 700;
                        padding: 0;
                    }
                }
            }
        }
    }
}
