.checkout-cart-index {
    .page-main > .page-title-wrapper .page-title {
        font-size: 3.4rem;
    }
}

.cart-container {
    margin-top: 20px;

    @include responsivo(mobile) {
        display: flex;
        flex-direction: column;
    }

    .form-cart {
        width: 70%;

        @include responsivo(mobile) {
            width: 100%;
            order: 1;
        }

        .actions.main {
            display:flex;
            justify-content: flex-end;

            .update {
                background: $action-secondary-background-color;
                border: 1px solid $action-secondary-border-color;
                border-radius: 25px;
                font-family: $alternate-font;
                font-weight: 400;
                text-transform: uppercase;
                padding: $grid-spacing/2 $grid-spacing;
                margin-left: 10px;

                &:hover,
                &:active,
                &:focus {
                    background-color: $action-secondary-hover-background-color;
                    border-color: $action-secondary-hover-border-color;
                    color: $action-secondary-hover-text-color;
                }
            }

            .continue {
                color: #333333;
                display: flex;
                background: $action-secondary-background-color;
                border: 1px solid $action-secondary-border-color;
                border-radius: 25px;
                font-family: $alternate-font;
                font-weight: 400;
                text-transform: uppercase;
                padding: $grid-spacing/2 $grid-spacing;
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    background-color: $action-secondary-hover-background-color;
                    border-color: $action-secondary-hover-border-color;
                    color: $action-secondary-hover-text-color;
                }
            }

            .clear {
                color: #333333;
                display: none;
                background: $action-secondary-background-color;
                border: 1px solid $action-secondary-border-color;
                border-radius: 25px;
                font-family: $alternate-font;
                font-weight: 400;
                text-transform: uppercase;
                padding: $grid-spacing/2 $grid-spacing;

                &:hover,
                &:active,
                &:focus {
                    background-color: $action-secondary-hover-background-color;
                    border-color: $action-secondary-hover-border-color;
                    color: $action-secondary-hover-text-color;
                }
            }
        }
    }

    .cart-gift-item {
        width: 70%;

        @include responsivo(mobile) {
            width: 100%;
        }

        .title {
            span {
                color: $main-color;
                font-size: 14px;
            }
        }

        .action {
            border-radius: 25px;
            box-shadow: none !important;
            font-family: $alternate-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
            height: auto;
            padding: $grid-spacing/2 $grid-spacing;
            margin-top: 0 !important;

            &.action-cancel {
                background: #fff;
                border: 1px solid $main-color;
                color: $main-color;
            }

            &.secondary {
                background: $main-color;
                color: #fff;
            }
        }
    }

    .cart-discount {
        @include responsivo(mobile) {
            order: 2;
        }

        .title {
            strong {
                color: $main-color;
                font-size: 14px;
            }
        }

        .fieldset {
            margin: 0;
        }

        .block-content {
            padding: 0;
        }

        .action {
            &.primary {
                background: $main-color;
                border-radius: 25px;
                box-shadow: none !important;
                color: #fff;
                height: 50px;
                margin-left: 10px;

                @include responsivo(mobile) {
                    height: 40px;
                }
            }

            &.check {
                color: $main-color;
                font-size: 14px;
                text-decoration: underline;
            }
        }
    }
}

.cart.table-wrapper {
    .action {
        &.action-towishlist {
            color: $main-color;
            font-family: $main-font;
            text-decoration: underline;

            > span {
                color: $main-color;
                font-size: 14px;
            }
        }
    }

    .product-image-photo {
        border-radius: 8px;
    }

    .product-item-photo {
        @include responsivo(mobile) {
            left: auto;
            max-width: none;
            padding: 0;
            position: relative;
            top: auto;
        }
    }

    .product-item-details {
        padding-bottom: 0;

        .product-item-name {
            @include responsivo(mobile) {
                margin: 0;
            }
        }
    }

    th {
        &.col {
            color: $text-color-light;
            font-size: 14px;

            &.price,
            &.qty {
                text-align: center;
            }
        }
    }

    td {
        &.col {
            &.photo {
                max-width:100px;

                @include responsivo(mobile) {
                    grid-row: 1/3;
                }
            }

            &.price,
            &.subtotal {
                .cart-price {
                    .price {
                        color: $main-color;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }

            &.price,
            &.qty {
                text-align: center;
            }
        }
    }

    tr.item-info {
        @include responsivo(mobile) {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 10px;
            padding-top: 15px;
        }

        > td.col {
            @include responsivo(mobile) {
                width: auto;
                padding: 0;

                &.price {
                    text-align: left;

                    > span {
                        line-height: 28px;
                    }
                }

                &.subtotal {
                    text-align: right;

                    > span {
                        line-height: 28px;
                    }
                }

                &.qty[data-th],
                &.price[data-th],
                &.subtotal[data-th],
                &.msrp[data-th] {
                    &:before {
                        font-size: 14px;
                        font-weight: 400;
                        padding: 0;
                    }
                }
            }
        }
    }

    .item {
        .col.item {
            @include responsivo(mobile) {
                display: table-cell;
                grid-column: 2/5;
                min-height: initial;
                padding: 0;
            }
        }
    }

    .field.qty {
        border: 0;
        border-radius: 0;
        display: inline-block;
        width: 50px;
        text-align: right;

        .control {
            position: relative;
            display: block;

            .label {
                display: none;
            }
        }

        div.mage-error {
            line-height: 14px;
            margin-left: -60px;
            max-width: 160px;
            position: absolute;
        }

        .input-text {
            border: 1px solid $border-color-light;
            border-radius: 20px;
            display: block;
            font-family: $main-font;
            font-size: 14px;
            padding: 5px 10px;
            margin: 0 auto;
            height: auto;
            text-align: center;
            width: 100%;
        }
    }

    .actions-toolbar {
        display: flex;
        justify-content: flex-end;
        min-height: 0;
        padding-bottom: 20px;

        > .action-edit {
            @include icon(edit, $text-color, 22px);
        }

        > .action-delete {
            @include icon(trash, $text-color, 22px);
        }

        > .action-edit,
        > .action-delete {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: static;
            margin-left: 10px;

            &::before {
                position: static;
            }

            &:hover {
                &::before {
                    background-color: $text-color-darker;
                }
            }
        }


        @include responsivo(mobile) {
            min-height: 22px;
            padding-bottom: 0;
            box-sizing: border-box;
            margin: 0 0 10px;
        }
    }
}
