.modal-popup.nao-entrega-popup {
    left: 0;
    top: auto;

    .modal-inner-wrap {
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;
        right: auto;
        transform: translateX(-50%);

        @include responsivo(tablet-up) {
            border-radius: 40px;
            height: auto;
            max-width: 360px;
            margin: 5rem auto;
            right: auto;
        }
    }

    .modal-header {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px;

        .modal-title {
            border: 0;
        }

        .action-close {
            line-height: 1;
            margin: 0 0 10px;
            padding: 5px;
            position: static;

            &::before {
                background-color: $text-color-darker;
                content: "";
                display: block;
                height: 20px;
                width: 20px;

                -webkit-mask: url('../images/angle-down.svg') no-repeat center;
                mask: url('../images/angle-down.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask-size: 100%;

                @include responsivo(tablet-up) {
                    -webkit-mask: url('../images/x-close.svg') no-repeat center;
                    mask: url('../images/x-close.svg') no-repeat center;
                    -webkit-mask-size: 100%;
                    mask-size: 100%;
                }
            }
        }
    }

    .modal-content {
        flex-grow: 1;
        padding: 0 40px 20px;
        text-align: center;

        .step {
            display: none;

            .title {
                font-family: $alternate-font;
                color: $text-color-darker;
                font-size: 22px;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .icon {
                display: block;
                margin-top: 30px;
                margin-bottom: 20px;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            p {
                color: $text-color-darker;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 15px;

                &.success {
                    margin-bottom: 3px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                @include responsivo(tablet-up) {
                    font-size: 16px;
                }
            }

            .action.primary {
                height: 50px;
                font-size: 20px;
                font-weight: 400;
                margin-top: 40px;

                @include responsivo(tablet-up) {
                    max-width: 200px;
                }
            }
        }

        @include responsivo(tablet-up) {
            max-height: 440px;
            overflow-y: auto;
        }
    }

    .modal-footer {
        border-top: 0;
        padding-top: 0;

        .action.secondary {
            font-size: 16px;
            height: 40px;
        }
    }

    @include responsivo(tablet-up) {
        top: 0;
    }

}

.modal-popup.redirect-popup {
    left: 0;
    top: auto;

    .modal-inner-wrap {
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;
        
        // transform: translateX(-50%);

        @include responsivo(tablet-up) {
            border-radius: 40px;
            height: auto;
            margin: 5rem auto;
            max-width: 480px;
            right: auto;
        }
    }

    .modal-header {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px;

        .modal-title {
            border: 0;
        }

        .action-close {
            line-height: 1;
            margin: 0 0 10px;
            padding: 5px;
            position: static;

            &::before {
                background-color: $text-color-darker;
                content: "";
                display: block;
                height: 20px;
                width: 20px;

                -webkit-mask: url('../images/angle-down.svg') no-repeat center;
                mask: url('../images/angle-down.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask-size: 100%;

                @include responsivo(tablet-up) {
                    -webkit-mask: url('../images/x-close.svg') no-repeat center;
                    mask: url('../images/x-close.svg') no-repeat center;
                    -webkit-mask-size: 100%;
                    mask-size: 100%;
                }
            }
        }
    }

    .modal-content {
        flex-grow: 1;
        padding: 0 40px 20px;
        text-align: center;

        .step {
            display: none;

            .title {
                font-family: $alternate-font;
                color: $text-color-darker;
                font-size: 22px;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .icon {
                display: block;
                margin-top: 30px;
                margin-bottom: 20px;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            p {
                color: $text-color-darker;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 15px;

                &.success {
                    margin-bottom: 3px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                @include responsivo(tablet-up) {
                    font-size: 16px;
                }
            }

            .action.primary {
                height: 50px;
                font-size: 20px;
                font-weight: 400;
                margin-top: 40px;

                @include responsivo(tablet-up) {
                    max-width: 200px;
                }
            }
        }

        @include responsivo(tablet-up) {
            max-height: 440px;
            overflow-y: auto;
        }
    }

    .modal-footer {
        border-top: 0;
        padding-top: 0;

        .action {
            font-size: 15px;
            height: 34px;

            + .action {
                margin-top: 10px;
            }
        }
    }

    @include responsivo(tablet-up) {
        top: 0;
    }

}

.redirect-popup-content {
    > .list {
        list-style: none;
        margin-bottom: 0;
        margin-top: 16px;
        padding: 0 20px;

        > .item {
            align-items: flex-start;
            display: flex;
            justify-content: flex-start;
        }
    }

    .image {
        width: 60px;
    }

    .product-item-details {
        align-items: flex-start;
        justify-content: center;
        padding-left: 12px;

        .price-wrapper {
            font-size: 14px;

            .price {
                font-weight: 500;
            }

            .qty {
                margin-left: 12px;
            }
        }
    }
}