.opc-sidebar {
    .modal-inner-wrap {
        background-color: $main-color;

        .action-close::before {
            color: #fff;
        }

        @include responsivo(tablet-up) {
            background-color: transparent;
        }
    }

    @include responsivo(tablet-up) {
        width: 36%;
    }
}

.opc-block-summary {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    padding: 20px;

    > .title {
        border: 0;
        color: #fff;
        font-family: $alternate-font;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: $grid-spacing;
        margin-top: 0;
        order: 1;
        padding: 0;
        text-transform: uppercase;
    }

    .items-in-cart {
        margin-bottom: 16px;
        order: 2;

        > .title {
            align-items: center;
            color: #fff;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-right: 0;

            @include icon(angle-down, #fff, 14px);

            strong {
                font-size: 14px;
                font-weight: 400;
            }

            &::before {
                margin-left: $grid-spacing;
                position: static;
                right: 0;
            }

            &::after {
                display: none;
            }
        }

        &.active {
            > .title {
                @include icon(angle-up, #fff, 14px);

                &::before {
                    margin-left: $grid-spacing;
                    position: static;
                }
            }
        }
    }

    .minicart-items-wrapper {
        margin: 0;
        max-height: 360px;
        padding: $grid-spacing 0;

        .minicart-items {
            display: flex;
            flex-direction: column;

            .product-item {
                padding: $grid-spacing 0;
                position: relative;
                width: 100%;

                .product-item-inner {
                    color: #fff;
                    margin-bottom: 0;
                }
            }

            .product-image-container {
                display: block;
                border-radius: 8px;
                overflow: hidden;
            }
        }
    }

    .minicart-items {
        .product-item-details {
            padding-left: 10px;
        }

        .product-item-name {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
        }

        .details-qty {
            align-items: center;
            font-size: 13px;
            display: flex;
            margin-top: 4px;

            .value {
                margin-left: 3px;
            }
        }

        .subtotal {
            margin-top: 5px;

            .price {
                font-size: 14px;
                font-weight: 700;
            }
        }

        .price-excluding-tax {
            font-size: inherit;
            margin: 0;
        }
    }

    .table-totals {
        border: 0;
        color: #fff;
        margin-top: $grid-spacing;
        order: 3;
        text-align: left;

        tr {
            padding-right: $grid-margin;

            th {
                color: #fff;
                display: block;
                font-weight: 400;
                font-size: 14px;
            }

            td {
                display: block;
                font-weight: 700;
                font-size: 16px;
            }
        }

        tbody {
            .amount {
                font-weight: 700;
                font-size: 16px;
                padding: 0;
                text-align: left;
            }

            .mark {
                padding-top: $grid-spacing;
            }
        }

        .totals {
            &.sub {
                order: 1;
            }

            &.shipping {
                order: 2;
            }

            &.deadline {
                order: 3;
            }

            &.taxes {
                order: 4;
            }

            &.grand {
                order: 5;
            }

            &.price-in-cash {
                order: 6;
            }
        }

        .mark {
            .value {
                color: #fff;
            }
        }

        .grand {
            .mark {
                border: 0;
                display: block;
                font-size: 14px;
                color: #fff;
                padding-bottom: 0;
                padding-top: $grid-spacing;

                strong {
                    font-weight: 400;
                }
            }

            .amount {
                border: 0;
                display: block;
                font-size: 20px;
                padding: 0;

                strong {
                    font-weight: 700;
                    padding: 0;
                }
            }
        }

        .price-in-cash {
            .amount {
                border: 0;
                color: $highlight-color;
                display: block;
                font-size: 20px;
                padding: 0;

                strong {
                    font-weight: 700;
                    padding: 0;
                }
            }
        }
    }

    .actions-toolbar {
        display: none !important;
    }

    @include responsivo(tablet-up) {
        border-radius: 8px;
        border: 1px solid $border-color;
        padding: 32px;
    }
}

.opc-block-shipping-information {
    padding: 0;

    .shipping-information {
        color: #fff;
        padding: 20px;

        @include responsivo(tablet-up) {
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid $border-color;
            color: $text-color;
            padding: 32px;
        }
    }

    .shipping-information-title {
        border: 0;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        font-family: $alternate-font;
        line-height: 1;
        margin-bottom: 24px;
        padding: 0;
        text-transform: uppercase;

        .action-edit {
            display: none;
        }
        
        @include responsivo(tablet-up) {
            color: $text-color;
        }
    }

    .ship-to {
        .shipping-information-content {
            color: #fff;
            font-size: 13px;
            font-weight: 400;

            a {
                color: #fff;

                @include responsivo(tablet-up) {
                    color: $text-color;
                }
            }

            @include responsivo(tablet-up) {
                color: $text-color;
            }
        }
    }

    .ship-via {
        // display: none;
        margin-bottom: 0;
    }
}
