.checkout-index-index {
    .header.content {
        justify-content: center;
        padding: $grid-spacing;
    }

    .logo {
        margin: 0;
    }

    .page-footer {
        display: none !important;
    }

    .modal-popup {
        .fieldset {
            .field {
                &[name="shippingAddress.country_id"] {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    z-index: -1;
                }

                &.street {
                    margin-bottom: 0;

                    .field {
                        margin-bottom: 20px;
                    }
                }

                .label {
                    font-size: 14px;
                    margin: 0 0 5px;
                    display: block;
                    height: auto;
                    width: auto;
                    position: relative;
                }

                .field-tooltip {
                    .label {
                        display: none;
                    }
                }
            }
        }
    }

    .fieldset {
        .field {
            #tooltip-label {
                display: none;
            }
        }
    }
}

.opc-estimated-wrapper {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    border: 1px solid $border-color;
    justify-content: space-between;
    margin: 0 0 $grid-spacing*2;
    padding: $grid-spacing;

    &::before,
    &::after {
        display: none;
    }

    .estimated-block {
        font-size: 14px;
    }

    .minicart-wrapper {
        margin: 0;
    }

    @include responsivo(mobile) {
        display: flex;
    }
}

.opc-wrapper {
    .step-title {
        border: 0;
        color: $text-color;
        font-family: $alternate-font;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: $grid-spacing;
        margin-top: 0;
        padding: 0;
        text-transform: uppercase;

        @include responsivo(tablet-up) {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    .step-subtitle {
        color: $text-color-darker;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.05em;
        margin-bottom: 0;
        margin-top: 8px;
    }

    .methods-shipping {
        border: 0;
        margin: 0;
        padding: 0;
    }

    @include responsivo(tablet-up) {
        padding-right: 32px;
        width: 64%;
    }

    @include responsivo(tablet-up) {
        padding-right: 32px;
    }
}
