.checkout-payment-method {
    .customer-cpf {
        .payment-option-title {
            border: 0;
            color: #4d4d4d;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: $grid-spacing;
            padding: 0;
            // text-transform: uppercase;

            @include responsivo(tablet-up) {
                font-size: 18px;
            }

            @include responsivo(desktop-up) {
                font-size: 20px;
            }
        }

        .payment-option-content {
            padding: 0 0 $grid-margin;

            .form-customer-cpf {
                max-width: 380px;
                align-items: initial;
                display: flex;
                flex-direction: column;
                width: 100%;
                min-width: auto;

                //@include responsivo(tablet-up) {
                //    flex-direction: row;
                //}
            }

            .input-text {
                font-size: 14px;

                &.error {
                    border-color: $system-color-red;
                }
            }

            label {
                font-size: 12px;

                &.error {
                    color: $system-color-red;
                }
            }
        }
    }
}
