.checkout-payment-method {
    .discount-code {
        .payment-option-title {
            border: 0;
            color: #4d4d4d;
            font-family: $main-font;
            font-size: 16x;
            font-weight: 400;
            margin-bottom: $grid-spacing;
            padding: 0;
            // text-transform: uppercase

            @include responsivo(tablet-up) {
                font-size: 18px;
            }

            @include responsivo(desktop-up) {
                font-size: 20px;
            }
        }

        .payment-option-content {
            padding: 0 0 $grid-margin;

            .form-discount {
                align-items: center;
                display: flex;
                flex-direction: row;

                //@include responsivo(tablet-up) {
                //    flex-direction: row;
                //}
            }

            .input-text {
                font-size: 14px;
            }

            .payment-option-inner {
                flex-grow: 1;
                margin-bottom: 0;
            }

            .actions-toolbar {
                width: auto;
                margin: 0;

                .action.action-apply,
                .action.action-cancel {
                    background-color: $action-primary-background-color;
                    border-radius: $button-border-radius;
                    border: 1px solid $action-primary-border-color;
                    box-shadow: none!important;
                    color: $action-primary-text-color;
                    font-family: $alternate-font;
                    font-size: 16px;
                    font-weight: 400;
                    height: 50px;
                    margin: 0 0 0 10px;
                    text-transform: uppercase;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: $action-primary-hover-background-color;
                        color: $action-primary-hover-text-color;
                    }

                    @include responsivo(mobile){
                        font-size: 14px;
                        height: 40px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
