.block-minicart {
    .block-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 88%;
        position: relative;
        width: 100%;

        .items-total {
            float: none;
            font-family: $alternate-font;
            font-size: 22px;
            line-height: 1;
            margin: 0 0 20px;
            order: 1;
            text-transform: uppercase;

            .count {
                font-weight: 400;
            }
        }

        .customer-message {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 1;
            letter-spacing: -0.025em;
            order: 2;
        }

        .minicart-items-wrapper {
            max-height: 200px;
            order: 2;

            + .actions {
                order: 4;
            }
        }

        .subtotal {
            align-items: center;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            margin: $grid-spacing 0 0;
            order: 3;

            .label {
                font-weight: 700;

                &::after {
                    display: none;
                }
            }

            .label::after {
                display: none;
            }
        }

        .shipping-rates {
            border-bottom: 1px solid $border-color;
            font-size: 16px;
            margin: $grid-spacing 0 0;
            padding-bottom: 10px;
            order: 3;

            .label {
                font-weight: 400;
            }

            .value {
                font-weight: 400;
            }

            .totals,
            .postcode {
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                position: relative;
            }

            .postcode {
                padding-right: 25px;
            }

            .edit-postcode {
                background-color: transparent;
                border: 0;
                box-shadow: none;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20px;
                top: 0;
                padding: 0;
                right: 0;
                position: absolute;

                @include icon(edit, $text-color, 20px);

                > span {
                    display: none;
                }

                &::before {
                    position: static;
                }
            }
        }

        .amount .price-wrapper:first-child .price {
            font-size: 16px;
        }

        > .actions {
            order: 5;
            margin-top: $grid-spacing;
            width: 100%;

            > .primary {
                margin: 0;

                .action.primary {
                    height: 50px;
                    font-size: 20px;
                    line-height: 1;
                    font-weight: 400;
                    font-family: $alternate-font;
                    padding: 12px 24px;
                    text-transform: uppercase;
                }
            }
        }
    }

    .subtitle.empty {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        padding: 40px 20px 20px;
    }
}

.minicart-items-wrapper {
    border: 0;
    height: auto !important;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 100%;

    @include responsivo(mobile) {
        padding: $grid-spacing 0;
    }
}

.minicart-items {
    .product-image-wrapper {
        .product-image-photo {
            border-radius: 8px;
        }
    }

    .product {
        > .product-item-photo,
        > .product-image-container {
            flex-shrink: 0;
            float: none;
        }

        .actions {
            margin: 0;
            align-self: flex-end;
            display: flex;
            justify-content: flex-end;
            pointer-events: none;
            margin-left: $grid-spacing/2;

            > * {
                pointer-events: all;
            }

            > .primary {
                display: none;
            }

            @include responsivo(mobile) {
                margin-top: 0;
            }
        }
    }

    .product-item {
        padding-bottom: 0;

        > .product {
            align-items: flex-start;
            display: flex;
        }

        &:not(:first-child) {
            border: 0;
        }

        @include responsivo(mobile) {
            padding: $grid-spacing 0;
        }
    }

    .product-item-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        flex-grow: 1;
        padding-left: 12px;

        .price-excluding-tax,
        .price-including-tax {
            margin: 0;
        }

        .price {
            font-weight: 400;
        }
    }

    .product-item-name {
        font-family: $alternate-font;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 2px;
        width: 100%;

        a {
            color: $text-color;
        }
    }

    .product-item-pricing {
        .details-qty {
            margin: $grid-spacing 0 0;
        }

        .label {
            display: none;
        }
    }

    .item-qty {
        font-size: 20px;
        font-weight: 400;
        font-family: $alternate-font;
        height: 34px;
        width: 90px;
    }

    .action.edit {
        display: none;
    }

    .action.delete {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34px;
        width: 34px;
        border: 1px solid #333;
        border-radius: 50%;
        transition: all 0.1s linear;

        @include icon(trash, #333, 22px);

        &::before {
            position: static;
        }

        &:hover {
            background-color: $text-color-darker;
            border-color: $text-color-darker;

            &::before {
                background-color: #fff;
            }
        }
    }
}

.minicart-wrapper {

    .action.showcart {
        height: 34px;
        width: 34px;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;

        @include icon(cart, $text-color, 32px);

        &::before,
        &.active::before {
            content: '';
            position: static;
        }

        &.active {
            display: flex;
        }

        .counter.qty {
            align-items: center;
            background-color: $main-color;
            border-radius: 50%;
            display: flex;
            height: 18px;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 18px;
        }

        .counter-number {
            color: #fff;
            font-size: 11px;
            font-weight: 700;
        }

        @include responsivo(tablet-up) {
            height: 40px;
            width: 40px;
        }
    }

    .action.close {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;

        @include icon(x-close, $main-color, 16px);
    }

    .action.delete,
    .action.edit {
        &::before {
            color: $text-color-muted;
        }
    }

    .action.viewcart {
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        font-family: $alternate-font;
        text-transform: uppercase;
        color: $text-color;

        &:hover {
            color: $link-color;
        }
    }

    .block-minicart {
        background-color: $body-background-color;
        border: 0;
        border-radius: 0;
        box-shadow: $main-box-shadow;
        display: none;
        margin: 0;
        padding: 40px 30px 20px;
        position: fixed;
        right: 0;
        top: 0;
        min-width: 0;
        height: 100%;
        width: 360px;
    }

    .minicart-widgets {
        display: none;
    }

    &.active {
        .block-minicart {
            display: flex !important;
            flex-direction: column;
        }
    }

    #minicart-content-wrapper {
        flex-grow: 1;
        order: 2;
        overflow: hidden;
     }

    @include responsivo(mobile) {
        margin: 0;
        order: 2;
    }

    @include responsivo(tablet-up) {
        margin-left: $grid-spacing;
    }
}

.cms-index-index,
.has-image {
    .minicart-wrapper {
        .action.showcart {
            &::before {
                background-color: #fff;
            }
        }
    }
}

.modal-popup.confirm {
    .action-close {
        line-height: 1;
        padding: 30px;
    }

    .modal-inner-wrap {
        border-radius: 30px;
    }

    .modal-header {
        padding: 40px;
    }

    .modal-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .modal-footer {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    .action-dismiss {
        background-color: #fff;
        box-shadow: none;
        border-radius: 20px;
        font-weight: 600;
        height: 40px;
        padding: 10px 24px;
    }

    .action-accept {
        box-shadow: none;
        border: 0;
        border-radius: 20px;
        color: $action-primary-text-color;
        font-weight: 400;
        font-size: 18px;
        height: 40px;
        padding: 10px 24px;
        font-family: $alternate-font;
        text-transform: uppercase;
        background-color: $action-primary-background-color;
    }
}
