.payment-group {
    position: relative;
}

.payment-method-billing-address {
    display: block;
}

.bpsd-lightbox-content {
    display: none;
}

.bp-card-container {
    display: block;

    + .payment-method-billing-address {
        display: none;
    }
}

.billing-address-details {
    span {
        display: block;
    }

    a {
        color: $text-color-darker;
        display: block;
    }
}

.checkout-payment-method {

    .payment-methods {
        @include responsivo(mobile) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .checkout-billing-address {
        .billing-address-details {
            margin-bottom: 20px;
        }
    }

    .payment-method-content {
        border: 1px solid $border-color;
        background-color: #fff;
        border-radius: 8px;
        font-size: 14px;
        padding: 24px;

        > .actions-toolbar {
            > .primary {
                .action.primary {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1;
                    padding: 16px 60px;
                    text-transform: uppercase;
                }
            }
        }

        .note {
            margin-top: $grid-spacing;

            > p {
                color: $system-color-red;
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 0;
            }
        }

        .fields {
            .select {
                padding-left: $grid-spacing;
                padding-right: $grid-spacing;
            }
        }

        @include responsivo(tablet-up) {
            padding: $grid-spacing*2;
        }
    }

    .ccard {
        .field {
            max-width: 400px;
        }

        .group-2 {
            display: flex;

            .field {
                flex-grow: 1;
            }
        }

        .number {
            .input-text {
                width: 100%;
            }
        }

        .cvv {
            .input-text {
                width: 120px;
            }
        }

        .month {
            .select {
                width: 100%;
            }
        }

        .year {
            .select {
                width: 100%;
            }
        }
    }

    .field-select-billing,
    .billing-address-form {
        max-width: none;

        .label {
            @include cancelarHidden();

            color: $text-color;
            font-size: 13px;
            font-weight: 700;
        }
    }

    .bp-card-container {
        .cards {
            display: block;
            height: 30px;
            margin-bottom: $grid-spacing;
            width: auto;
        }

        .form-container {
            float: none;
            max-width: none;
        }

        .fieldset {
            display: flex;
            flex-wrap: wrap;
            margin-left: -$grid-spacing/2;
            margin-right: -$grid-spacing/2;
            width: auto;

            .field {
                box-sizing: border-box;
                flex-basis: 100%;
                padding: 0 $grid-spacing/2;

                .label {
                    color: $text-color;
                    display: block !important;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 4px;
                }

                &.number,
                &.owner {
                    flex-basis: 50%;
                }

                &.date {
                    flex-basis: 36%;
                }

                &.cvv {
                    flex-basis: 22%;

                    > .control {
                        padding-right: 28px;
                    }
                }

                &.installments {
                    flex-basis: 42%;
                }

                .input-text,
                .select {
                    width: 100%;
                }

                .input-text {
                    @include responsivo(tablet-up) {
                        height: 40px;
                    }
                }

                .select {
                    border-radius: 8px;
                    line-height: 1;
                    padding: 8px 12px;

                    @include responsivo(tablet-up) {
                        height: 40px;
                    }
                }

                .group {
                    display: flex;

                    .field {
                        margin: 0;
                        padding: 0;

                        &.year {
                            padding-left: $grid-spacing/2;
                        }
                    }
                }

                .control {
                    .field {
                        margin: 0;
                        padding: 0;
                    }
                }

                @include responsivo(mobile) {
                    .label {
                        font-size: 12px;
                    }

                    &.date {
                        flex-basis: 55%;
                    }

                    &.cvv {
                        flex-basis: 45%;
                    }

                    &.installments {
                        flex-basis: 100%;
                    }
                }
            }
        }

        .field-tooltip {
            top: 50%;
            transform: translateY(-50%);

            .field-tooltip-action {
                align-items: center;
                background-color: $alternate-color;
                border-radius: 80%;
                box-sizing: border-box;
                display: flex;
                height: 22px;
                justify-content: center;
                width: 22px;

                &::before {
                    color: #fff;
                    content: '!';
                    font-family: $main-font;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .payment-option.opc-payment-additional {

        // &.discount-code,
        &.giftcardaccount {
            display: none;
        }
        
        @include responsivo(mobile) {
            margin: 40px 0 0;
        }
    }
}

#co-payment-form {
    br {
        display: none;
        height: 0;
        margin: 0;
    }
}

.opc-payment {
    .payment-method {
        cursor: pointer;

        &.deactivated {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.5;
        }

        .payment-method-note {
            display: none;
        }

        &.pagarme_billet {
            .payment-method-note {
                display: block;
                background-color: #fff1c5;
                padding: 12px 20px;
                border-radius: 8px;

                span {
                    color: #cca50b;
                    font-size: 14px;
                }
            }
        }
    }
}

.field.date {
    .field-note {
        background-color: #fff1c5;
        padding: 12px 20px;
        border-radius: 8px;
        margin-top: 10px;

        span {
            color: #cca50b;
            font-size: 14px;
        }
    }
}

.modal-popup.checkout-payment-failed {
    .modal-inner-wrap {
        border-radius: 40px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        max-width: 400px;
        width: calc(100% - 60px);
    }

    .modal-header {
        display: flex;
        justify-content: center;
        padding: 15px;

        .action-close {
            line-height: 1;
            margin: 0;
            padding: 5px;
            position: static;

            &::before {
                background-color: $text-color-darker;
                content: "";
                display: block;
                height: 20px;
                width: 20px;

                -webkit-mask: url('../images/x-close.svg') no-repeat center;
                mask: url('../images/x-close.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask-size: 100%;
            }
            
        }
    }

    .modal-content {
        flex-grow: 1;
        overflow-x: hidden;
        padding: 0 30px 20px;
        text-align: center;

        @include responsivo(mobile) {
            max-height: 400px;
        }

        @include responsivo(tablet-up) {
            max-height: 480px;
            overflow-y: auto;
            padding: 0 40px 20px;
        }
    }

    .modal-footer {
        border: 0;
        display: flex;
        justify-content: center;
        padding-top: 0;
    }

    .confirm {
        background-color: $action-primary-background-color;
        border-radius: 20px;
        border: 0;
        box-shadow: none;
        color: $action-primary-text-color;
        font-family: $alternate-font;
        font-size: 18px;
        font-weight: 400;
        height: 40px;
        padding: 10px 24px;
        text-transform: uppercase;
    }

    @include responsivo(tablet-up) {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        transform: none;
    }
}
