.opc-progress-bar {
    > .opc-progress-bar-item {
        &::before {
            background: $border-color;
            border-color: $border-color;
            height: 5px;
            position: absolute;
            width: 140px;
        }

        > span {
            display: flex;
            font-size: 15px;
            justify-content: center;
            height: 64px;
            line-height: 1.2;
            padding: 64px 0 0;
            position: relative;
            text-align: center;
            width: 64px;

            > span {
                color: $text-color;
                font-size: 14px;
                font-weight: 500;
                left: 50%;
                position: absolute;
                text-align: center;
                top: 100%;
                transform: translateX(-50%);
            }

            &::before {
                background: $border-color;
                border-color: $border-color;
                height: 64px;
                left: 0;
                margin: 0;
                top: -10px;
                width: 64px;
            }

            &::after {
                background-color: #fff;
                border: 0;
                content: "";
                display: block;
                height: 44px;
                left: 12px;
                margin: 0;
                position: absolute;
                top: 1px;
                width: 44px;

                -webkit-mask: url('../images/truck.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask: url('../images/truck.svg') no-repeat center;
                mask-size: 100%;
            }
        }

        &._active {
            &::before {
                background: $text-color;
                border-color: $text-color;
            }

            > span {
                > span {
                    color: $text-color;
                }

                &::before {
                    background: $text-color;
                    border-color: $text-color;
                }
            }
        }

        &._complete {
            &:hover {
                &::before,
                > span::before {
                    background: $border-color;
                    border-color: $border-color;
                }
            }
        }

        &:last-child {
            > span {
                &::after {
                    -webkit-mask: url('../images/credit-card.svg') no-repeat center;
                    -webkit-mask-size: 100%;
                    mask: url('../images/credit-card.svg') no-repeat center;
                    mask-size: 100%;
                }
            }
        }

        @include responsivo(tablet-up) {
            width: 140px;
        }
    }

    @include responsivo(tablet-up) {
        margin-bottom: $grid-margin*2;
        margin-top: $grid-margin;
    }
}
