.opc-wrapper {
    .form-shipping-address {
        .fieldset {
            .field {
                .label {
                    font-size: 14px;
                    margin: 0 0 5px;
                    display: block;
                    height: auto;
                    width: auto;
                    position: relative;
                }

                &.street {
                    .field {
                        margin-bottom: 20px;
                    }
                }
            }

            [name="shippingAddress.country_id"] {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                z-index: -1;
            }
        }
    }

    .shipping-address-items {
        @include responsivo(tablet-up) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .shipping-address-item {
        border: 1px solid $border-color-muted;
        border-radius: 8px;
        color: $text-color-darker;
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        padding: 28px;
        position: relative;
        width: 100%;

        &:nth-child(even) {
            @include responsivo(tablet-up) {
                margin-left: 20px;
            }
        }

        a {
            color: $text-color-darker;
        }

        .edit-accountaddress-link {
            color: $link-color;
            display: none;
        }

        &[data-address-id] .edit-accountaddress-link{
            display: block;
        }

        &.selected-item {
            border-color: $text-color-light;
            border-bottom-width: 1px;
            padding: 24px;

            &::after {
                background-color: $text-color;
                border-bottom-left-radius: 8px;
                border-top-right-radius: 6px;
                font-size: 16px;
                height: 40px;
                line-height: 38px;
                width: 40px;
            }
        }

        @include responsivo(tablet-up) {
            width: calc(50% - 10px);
        }
    }

    .action-select-shipping-item {
        background-color: $action-secondary-background-color;
        color: $action-secondary-text-color;
        border: 1px solid $action-secondary-border-color;
        border-radius: $button-border-radius;
        font-family: $alternate-font;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 10px;

        &:hover,
        &:focus,
        &:active {
            background-color: $action-secondary-hover-background-color;
            color: $action-secondary-hover-text-color;
            border: 1px solid $action-secondary-hover-border-color;
        }
    }

    .action-show-popup {
        background-color: $action-secondary-background-color;
        color: $action-secondary-text-color;
        border: 1px solid $action-secondary-border-color;
        border-radius: $button-border-radius;
        font-family: $alternate-font;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 12px 20px;

        &:hover,
        &:focus,
        &:active {
            background-color: $action-secondary-hover-background-color;
            color: $action-secondary-hover-text-color;
            border: 1px solid $action-secondary-hover-border-color;
        }
    }

    .methods-shipping {
        background-color: #fff;
    }
}

.table-checkout-shipping-method {
    width: 100%;
}

.checkout-container {
    .checkout-shipping-address,
    .checkout-payment-method {
        div.new-address-popup {
            margin: 0;
        }
    }
}

.table-checkout-shipping-method {
    tbody {
        td {
            font-size: 14px;
        }
    }
}

#onepage-checkout-shipping-method-additional-load {
    margin-top: $grid-spacing;
}

.modal-popup {
    .modal-title {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.checkout-shipping-address {
    .customer-can-proceed {
        background-color: #fff1c5;
        color: #cca50b;
        display: none;
        font-size: 14px;
        padding: 15px 20px;
        border-radius: 8px;
        margin-bottom: 20px;

        &.visible {
            display: block;
        }
    }
}

#shipping-new-address-form {
    margin-bottom: 0;
}

.checkout-index-index .modal-popup .modal-footer .action-save-address {
    padding: 12px;
}

.opc-wrapper .shipping-address-item.selected-item .edit-address-link {
    top: 10px;
    right: 60px;

    @include responsivo(mobile-large-up) {
        float: none;
        margin: 0;
        position: absolute;
    }

    @include responsivo(tablet-up) {
        top: 12px;
        right: 50px;
    }
}

.checkout-shipping-method .actions-toolbar .action.primary.button {
    padding: 12px 20px;
    margin-top: 0;
    line-height: 1;
}


.field[name="shippingAddress.custom_attributes.entrega_portaria"] {
    .label {
        font-weight: 700;
    }

    .control {
        &._with-tooltip {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .field-tooltip {
        position: static;

        .field-tooltip-action {
            display: none;
        }

        .field-tooltip-content {
            display: block;
            position: static;
            border: 0;
            padding: 0;
            font-size: 13px;
            color: #777;
            margin: 5px 0 8px;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .admin__field-option {
        border: 1px solid #ccc;
        display: flex;
        height: 36px;
        width: 72px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;

        &::before {
            display: flex;
            content: '';
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-color: #ddd;
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            left: 2px;
            pointer-events: none;
        }

        &::after {
            display: flex;
            content: '';
            height: 32px;
            width: 32px;
            background-color: #777;
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            left: 2px;
            pointer-events: none;

            -webkit-mask: url('../images/x-close.svg') no-repeat center;
            mask: url('../images/x-close.svg') no-repeat center;
            -webkit-mask-size: 14px;
            mask-size: 14px;
        }

        input {
            width: 100%;
            margin: 0;
            height: 100%;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    }

    &.checked {
        .admin__field-option {
            background-color: #ffdddd;
            border-color: $alternate-color;

            &::before {
                background-color: $alternate-color;
                left: auto;
                right: 2px;
            }
    
            &::after {
                background-color: #fff;
                left: auto;
                right: 2px;
    
                -webkit-mask: url('../images/confirmation.svg') no-repeat center;
                mask: url('../images/confirmation.svg') no-repeat center;
                -webkit-mask-size: 34px;
                mask-size: 34px;
            }
        }
    }
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-col,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-col {
    display: none;
}