.checkout-onepage-success {

    .page-header {
        margin-bottom: 20px;
    }

    .page-title-wrapper {
        text-align: center;

        .page-title {
            color: $main-color;
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 0;
            text-transform: uppercase;

            @include responsivo(tablet-up) {
                font-size: 28px;
            }
        }
    }

    .action.print {
        display: none;
    }

    .checkout-success {
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid $border-color;
        font-size: 16px;
        margin: 0 auto;
        max-width: 600px;
        padding: 24px;
        text-align: center;

        .actions-toolbar {
            display: flex;
            justify-content: center;
            margin-top: $grid-spacing;
        }

        .action.continue {
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            margin: 0;
            padding: 12px 40px;
            text-transform: uppercase;
            border-radius: $button-border-radius;
        }

        @include responsivo(tablet-up) {
            padding: 32px;
        }
    }
}
