.voucher-note {
    background-color: #fff1c5;
    border-radius: 8px;
    display: none;
    margin-bottom: $grid-spacing*2;
    padding: 12px 20px;

    span {
        color: #cca50b;
        font-size: 13px;

        @include responsivo(tablet-up) {
            font-size: 14px;
        }
    }
}

#pagarme_voucher-form {
    .voucher-note {
        display: block;
    }
}