<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();

if (!$_product instanceof \Magento\Catalog\Model\Product) {
    return;
}

$_calls = explode(',', $block->getAtCall());
$_codes = explode(',', $block->getAtCode());
$_attributeLabels = explode(',', $block->getAtLabel());
$_attributeTypes = explode(',', $block->getAtType());
$_attributeAddAttribute = $block->getAddAttribute();
$_className = $block->getCssClass();

$_attributes = [];

for($i = 0; $i < sizeof($_calls); $i++) {

    if($_attributeTypes[$i] !== 'multiselect') {
        $testingValue = $_helper->productAttribute($_product, $_product->{$_calls[$i]}(), $_codes[$i]);
        if($testingValue === null || $testingValue === false) {
            continue;
        }
    } else {
        $testingValue = $_product->getResource()->getAttribute($_codes[$i])->getFrontend()->getValue($_product);
        if($testingValue === null || $testingValue === false) {
            continue;
        }
    }

    $_attributes[$i]['code'] = $_codes[$i];
    $_attributes[$i]['type'] = $_attributeTypes[$i];

    if ($_attributeLabels[$i] && $_attributeLabels[$i] == 'default') {
        $_attributes[$i]['label'] = $_product->getResource()->getAttribute($_codes[$i])->getStoreLabel();
    } else {
        $_attributes[$i]['label'] = $_attributeLabels[$i];
    }

    if($_attributes[$i]['type'] !== 'multiselect') {
        $_attributes[$i]['value'] = $_helper->productAttribute($_product, $_product->{$_calls[$i]}(), $_codes[$i]);
    } else {
        $_attributes[$i]['value'] = $_product->getResource()->getAttribute($_codes[$i])->getFrontend()->getValue($_product);
    }
}

?>

<?php if (!empty($_attributes)) : ?>
    <div class="product attribute <?= $block->escapeHtmlAttr($_className) ?>">
        <?php foreach($_attributes as $attribute) : ?>

            <?php if($attribute['type'] === "multiselect") : ?>

                <?php if($attribute['value'] !== false) : ?>

                    <?php $multiselectValues = explode(', ', $attribute['value']); ?>

                    <div class="attribute <?= $attribute['code'] ?>">
                        <?php if($attribute['label'] !== "none") : ?>
                            <span class="label"><?= $attribute['label'] ?></span>
                        <?php endif; ?>

                        <div class="value multiselect">
                        <?php foreach($multiselectValues as $multiselectValue) : ?>
                            <?php
                                setlocale(LC_ALL, 'en_US.UTF-8');
                                $id = strtolower(str_replace(' ', '_', iconv('UTF-8', 'ASCII//TRANSLIT', $multiselectValue)));
                            ?>
                                <button
                                    id="<?= $attribute['code'] . '_' . $id ?>"
                                    data-code="<?= $attribute['code'] ?>"
                                    data-id="<?= $id ?>"
                                    class="action open-attribute-popup"
                                >
                                    <span><?= /* @noEscape */ $multiselectValue ?></span>
                                </button>
                            <?php endforeach; ?>
                        </div>
                    </div>

                <?php endif; ?>

            <?php elseif($attribute['type'] === "text" && strpos($attribute['code'], '__cy') !== false) : ?>

                <?php if(!empty($attribute['value'])) : ?>

                    <?php $textValues = explode('|', $attribute['value']); ?>

                    <div
                        id="<?= $attribute['code'] . '_default' ?>"
                        data-code="<?= $attribute['code'] ?>"
                        data-id="<?= str_replace('__cy', '', $attribute['code']) ?>"
                        class="attribute-holder open-attribute-popup">
                        <div class="content">
                            <?php if($attribute['label'] !== "none") : ?>
                                <span class="label"><?= $attribute['label'] ?></span>
                            <?php endif; ?>
                            <span class="value"><?= /* @noEscape */ $textValues[0] ?></span>
                            <span class="percent"><?= /* @noEscape */ isset($textValues[1]) ? $textValues[1] : '' ?></span>
                        </div>
                    </div>

                <?php endif; ?>

            <?php elseif($attribute['type'] === "textarea" && strpos($attribute['code'], '__cy') !== false) : ?>

                <?php if ((strpos($attribute['label'], 'Maior') !== false) || (strpos($attribute['label'], 'Menor') !== false)) : ?>
                    
                    <?php $textareaValues = explode(', ', $attribute['value']); ?>

                    <div class="attribute <?= $attribute['code'] ?>">
                        <?php if($attribute['label'] !== "none") : ?>
                            <span class="label"><?= $attribute['label'] ?></span>
                        <?php endif; ?>

                        <div class="value multiselect">
                            <?php foreach($textareaValues as $textareaValues) : ?>
                            <?php
                                setlocale(LC_ALL, 'en_US.UTF-8');
                                $id = strtolower(str_replace(' ', '_', iconv('UTF-8', 'ASCII//TRANSLIT', $textareaValues)));
                            ?>
                                <button
                                    id="<?= $attribute['code'] . '_' . $id ?>"
                                    data-code="<?= $attribute['code'] ?>"
                                    data-id="<?= $id ?>"
                                    class="action open-attribute-popup"
                                >
                                    <span><?= /* @noEscape */ $textareaValues ?></span>
                                </button>
                            <?php endforeach; ?>
                        </div>
                    </div>

                <?php else: ?>

                    <?php if(!empty($attribute['value'])) : ?>

                        <div class="attribute-holder textarea">
                            <div class="content">
                                <?php if($attribute['label'] !== "none") : ?>
                                    <span class="label"><?= $attribute['label'] ?></span>
                                <?php endif; ?>
                                <span class="value"><?= $attribute['value'] ?></span>
                            </div>
                        </div>

                    <?php endif; ?>

                <?php endif; ?>                

            <?php else: ?>

                <?php if($attribute['label'] !== "none") : ?>
                    <span class="label"><?= $attribute['label'] ?></span>
                <?php endif; ?>

                <div class="value"><?= /* @noEscape */ $attribute['value'] ?></div>

            <?php endif; ?>

        <?php endforeach; ?>
    </div>

    <?= $block->getChildHtml() ?>

    <div id="pdp-attribute-popup">
        <div id="pdp-attribute-popup-content">

        </div>
    </div>

    <script type="text/x-magento-init">
        {
            "*": {
                "attribute_popup": {}
            }
        }
    </script>

<?php endif; ?>
