#shippingmenu-grupos-list {
    > .wrapper {
        > .content {
            display: flex;
            justify-content: space-between;
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}

.order-groups {
    padding: 0 20px;
    width: 50%;
    
    > .content {
        > .title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        > .list {
            border: 1px solid $border-color-light;
            list-style: none;
            padding: 20px;

            > .item {
                margin: 0;
                padding: 0;

                + .item {
                    margin-top: 10px;
                }
            }
        }
    }
}

.ordergroup-card {
    > .content {
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
        padding: 20px;
        position: relative;

        > .header {
            display: flex;
            justify-content: space-between;
        }

        > .footer {
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            margin-top: 15px;
            padding-top: 15px;
            line-height: 1;

            .show-orders {
                color: #27569D;
                text-decoration: underline;
            }

            .cancel-ordergroup {
                color: #CA2D2D;
                text-decoration: underline;

                i {
                    font-size: 13px;
                    margin-right: 8px;
                }
            }
        }

        > .orders {
            display: none;
        }
    }
}

[id*="orders-"] {
    .list {
        border: 1px solid $border-color-light;
        list-style: none;
        padding: 20px;

        > .item {
            margin: 0;
            padding: 0;

            + .item {
                margin-top: 10px;
            }
        }
    }
}

.order-card {
    > .content {
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        position: relative;

        > .header {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
        }
    }
}
