#shippingmenu-entregas-list {
    > .wrapper {
        > .content {
            display: flex;
            justify-content: space-between;
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}

.invoiced-orders,
.added-orders {
    padding: 0 20px;
    width: 100%;
    
    > .content {
        > .title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        > .list {
            border: 1px solid $border-color-light;
            list-style: none;
            padding: 20px;

            > .item {
                margin: 0;
                padding: 0;

                + .item {
                    margin-top: 10px;
                }
            }
        }
    }
}

#addedorders-modal {
    .list {
        border: 1px solid $border-color-light;
        list-style: none;
        padding: 20px;

        > .item {
            margin: 0;
            padding: 0;

            + .item {
                margin-top: 10px;
            }
        }
    }
}

.invoicedorder-card {
    > .content {
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px 60px 20px 20px;
        position: relative;

        > .header {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
        }

        > .main {
            .customer {
                display: block;
                line-height: 1.6;
            }

            .address {
                display: block;
                line-height: 1.6;
            }

            .time {
                display: block;
                line-height: 1.6;
            }
        }

        > .add-to-list {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            background-color: #fff;
            border-color: #ccc;

            &::before {
                background-color: #000;
                content: "";
                display: block;
                height: 14px;
                position: static;
                width: 14px;

                -webkit-mask: url('../images/plus.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask: url('../images/plus.svg') no-repeat center;
                mask-size: 100%;
            }
        }
    }
}

.addedorder-card {
    > .content {
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px 20px 20px 60px;
        position: relative;

        > .count {
            position: absolute;
            border-radius: 50%;
            height: 30px;
            font-size: 13px;
            width: 30px;
            background-color: #fff;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -10px;
            left: -10px;
        }

        > .header {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
        }

        > .main {
            .customer {
                display: block;
                line-height: 1.6;
            }

            .address {
                display: block;
                line-height: 1.6;
            }

            .time {
                display: block;
                line-height: 1.6;
                margin-top: 3px;
            }
        }

        > .remove-from-list {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            background-color: #fff;
            border-color: #ccc;

            &::before {
                background-color: #000;
                content: "";
                display: block;
                height: 14px;
                position: static;
                width: 14px;

                -webkit-mask: url('../images/minus.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask: url('../images/minus.svg') no-repeat center;
                mask-size: 100%;
            }
        }
    }
}

#addedorders-modal {
    display: none;
}
