<?php
/** @var \Nectar\Shipping\Block\Template $block */
?>

<div class="shipping-price">
    <form id="calculate-shipping-price">
        <input type="text">
        <button type="submit">Enviar</button>
        <span class="result"></span>
    </form>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "calculate_shipping_price": {}
        }
    }
</script>