<?php
/** @var \Nectar\Shipping\Block\DeliveryAddress $block */

$customerPostcode = '';
$customerCity = '';
if($block->isCustomerLoggedIn()) {
    $customerPostcode = $block->getCurrentCustomerPostcode();
    $customerCity = $block->getCurrentCustomerCity();
}

?>

<div
    class="delivery-address"
    data-current-customer-postcode="<?= $customerPostcode ?>"
    data-current-customer-city="<?= $customerCity ?>"
>

    <div class="content">

        <!-- Link para abrir o modal -->
        <div class="message">
            <img loading="lazy" src="<?= $this->getViewFileUrl('images/icons-16-locate.svg'); ?>" height="16" width="16" alt="" />
            <span>Entrega aqui?</span>
            <a id="delivery-address-modal-opener" tabindex="0" href="#">
                <span>Digite o CEP</span>
            </a>
        </div>

        <!-- Conteúdo do modal -->
        <div class="delivery-address-modal-content" id="delivery-address-modal-content">
            <div class="content">

                <div class="step" data-step="initial">
                    <h3 class="title">Será que entrega?</h3>
                    <p>Digite seu CEP e checamos pra você.</p>
                    <form class="form">
                        <input
                            id="delivery-address-postcode"
                            name="delivery-address-postcode"
                            type="tel"
                            inputmode="numeric"
                            pattern= "\d{5}-?\d{3}"
                            placeholder="Seu CEP"
                            dir="ltr"
                        />
                        <button class="action primary search-address" type="submit" disabled="disabled">
                            <span>Buscar</span>
                        </button>
                    </form>
                </div>

                <div class="step" data-step="failure">
                    <h3 class="title">Será que entrega?</h3>
                    <span class="icon">
                        <img loading="lazy" src="<?= $this->getViewFileUrl('images/sad.svg'); ?>" height="40" width="40" />
                    </span>
                    <p><strong>Ah não! Ainda não entregamos aí.</strong></p>
                    <p>Mas daqui a pouco a gente chega.</p>
                    <button class="action primary go-back">
                        <span>Buscar outro CEP</span>
                    </button>
                </div>

                <div class="step" data-step="success">
                    <h3 class="title">Será que entrega?</h3>
                    <span class="icon">
                        <img loading="lazy" src="<?= $this->getViewFileUrl('images/confirmation.svg'); ?>" height="40" width="40" />
                    </span>
                    <p class="success"><strong>Pode pedir! Entregamos no seu endereço.</strong></p>
                    <span class="loader"></span>
                    <p class="address">
                        <span class="logradouro"></span> - <span class="bairro"></span><br>
                        <span class="cidade"></span> - <span class="estado"></span>
                    </p>
                    <button class="action primary continue">
                        <span>Seguir comprando</span>
                    </button>
                </div>

            </div>
        </div>

    </div>

    <script type="text/x-magento-init">
        {
            "*": {
                "delivery_address": {
                    "modalOpenerSelector": "delivery-address-modal-opener"
                }
            }
        }
    </script>

</div>
