<?php

$firstOrderFlag = $block->getFlag();

?>

<section class="admin__page-section integration-flags">
    <div class="admin__page-section-title">
        <span class="title"><?= __('First Order') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item" style="width: 49%;">
            <table class="admin__table-secondary">
                <?php foreach($integrationFlags as $attribute) : ?>
                <tr>
                    <td><?= __($attribute['label']) ?></td>
                    <td style="text-align: right;"><?= $attribute['value'] ?></td>
                </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</section>