.open-attribute-popup {
    > * {
        pointer-events: none;
    }
}

#pdp-attribute-popup-content {
    .loader {
        @include icon(loading, $alternate-color, 44px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
            transform: translate(-50%, -50%);
            z-index: 100;
            animation: spinner 0.48s linear infinite;
            position: static;
            height: 40px;
            width: 40px;
        }
    }
}

.modal-popup.pdp-attribute-popup {
    left: 0;
    top: auto;

    .modal-inner-wrap {
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);

        @include responsivo(tablet-up) {
            border-radius: 40px;
            height: auto;
            max-width: 360px;
        }
    }

    &._show {
        .modal-inner-wrap {
            transform: translateY(0);
        }
    }

    .modal-header {
        display: flex;
        justify-content: center;
        padding: 20px;

        .action-close {
            line-height: 1;
            margin: 0;
            padding: 5px;
            position: static;

            &::before {
                background-color: $text-color-darker;
                content: "";
                display: block;
                height: 20px;
                width: 20px;

                -webkit-mask: url('../images/angle-down.svg') no-repeat center;
                mask: url('../images/angle-down.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask-size: 100%;

                @include responsivo(tablet-up) {
                    -webkit-mask: url('../images/x-close.svg') no-repeat center;
                    mask: url('../images/x-close.svg') no-repeat center;
                    -webkit-mask-size: 100%;
                    mask-size: 100%;
                }
            }
        }
    }

    .modal-content {
        flex-grow: 1;
        padding: 0 40px 30px;
        text-align: center;

        @include responsivo(tablet-up) {
            max-height: 440px;
            overflow-y: auto;
            padding-bottom: 30px;
        }
    }

    @include responsivo(tablet-up) {
        top: 0;
    }
}

#pdp-attribute-popup-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        font-family: $alternate-font;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
    }

    @include responsivo(tablet-up) {
        align-items: flex-start;
    }
}
