.catalog-product-view-produtores {
    .column.main {
        @include responsivo(desktop-up) {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
        }
    }

    .page-title-wrapper {
        order: 1;
    }

    .product.attribute.banner {
        margin: 30px 0 20px;
        order: 2;
    }

    .breadcrumbs {
        margin-bottom: 0;
        // order: 3;

        @include responsivo(desktop-up) {
            padding: 20px 0 0;
        }
    }

    .product-info-main {
        order: 4;

        @include responsivo(desktop-up) {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            width: auto;
        } 
    
    }

    .product-social-links {
        @include responsivo(desktop-up) {
            padding: 20px;
            margin-top: 0;
        }
    }

    .product-share>.content {
        @include responsivo(desktop-up) {
            justify-content: center;
        }
    }

    .product.info.detailed {
        order: 5;
    }

    .product.attribute.description {
        order: 6;
    }

    .product-info-main {
        .subtitulo {
            .value {
                font-size: 28px;

                @include responsivo(tablet-up) {
                    font-size: 30px;
                }

                @include responsivo(desktop-up) {
                    font-size: 34px;
                }
            }

            @include responsivo(desktop-up) {
                margin-bottom: 0;
            }
        }
    }

}