.catalog-product-view-receitas {

    .column.main {
        @include responsivo(desktop-up) {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
        }
    }

    .page-title-wrapper {
        order: 1;
    }

    .product.attribute.banner {
        margin: 30px 0 20px;
        order: 2;
    }

    .breadcrumbs {
        margin-bottom: 0;
        order: 3;

        @include responsivo(desktop-up) {
            padding: 20px 0 0;
        } 
    }

    .product-info-main {
        order: 4;

        @include responsivo(desktop-up) {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            width: auto;
        }
    }

    .product-social-links {
        @include responsivo(desktop-up) {
            padding: 20px;
            margin-top: 0;
        }
    }

    .product-share>.content {
        @include responsivo(desktop-up) {
            justify-content: center;
        }
    }

    .product.info.detailed {
        order: 5;
    }

    .product.attribute.description {
        order: 6;
    }

}