.selos-box {
    padding: $grid-spacing 0;
    
    > .content {
        > .list {
            align-items: center;
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            > .item {
                margin: 0;
                padding: 0 5px;

                button {
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                }

                img {
                    display: block;
                    height: 40px;
                    width: 40px;
                }
            }

            @include responsivo(desktop-up) {
                margin-left: -5px;
                margin-right: -5px;
            }
        }

        > .info {
            color: $text-color-light;
            display: block;
            text-align: center;
            font-size: 14px;
            margin-top: $grid-spacing/2;
        }
    }

    @include responsivo(desktop-up) {
        margin-top: 16px;
    }
}