<?php

/** @var \Urban\Integrador\Block\Adminhtml\Pedidos\Details $block */
$orderModel = $block->getOrderModel();
$orderData = $orderModel->getData();
$orderAttributes = $block->getOrderAttributes();
$customerEditUrl = $this->getUrl('customer/index/edit', ['id' => $orderModel->getData('customer_id')]);
$orderViewUrl = $this->getUrl('sales/order/view', ['order_id' => $orderModel->getData('entity_id')]);
?>

<section class="admin__page-section order-data">
    <div class="admin__page-section-title">
        <span class="title"><?= $escaper->escapeHtml(__('Informações da Integração')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item" style="width: 100%;">
            <table class="admin__table-secondary">
                <tr>
                    <td><strong><a href="<?= $orderViewUrl ?>">Ver pedido original</a></strong></td>
                </tr>
                <tr>
                    <td><strong><a href="<?= $customerEditUrl ?>">Editar dados do cliente</a></strong></td>
                </tr>
                <?php foreach ($orderAttributes as $attribute): ?>
                <tr>
                    <td><strong><?= $escaper->escapeHtml(__($attribute['label'])) ?></strong></td>
                    <td class="<?= $attribute['code'] ?>"><?= $escaper->escapeHtml($attribute['value']) ?></td>
                </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</section>