.gift-add-to-cart-modal-wrapper .modal-content{
    padding: 0;
}
.gift_cart_hint span,
.top_gift_cart_hint span{
    border-bottom: 1px dashed;
}
.gift_cart_hint,
.top_gift_cart_hint{
    cursor: pointer;
}
.gift_cart_hint.in-minicart{
    cursor: initial;
}
.gift_cart_hint.in-minicart span{
    border: none;
}
.cart-item-gift-message{
    padding: 4px 0 2px;
    font-size: 1.3rem;
    background: #000;
    color: #fff;
    margin: 10px 0;
    border-radius: 30px;
    text-align: center;
    font-family: "Wood Heinz","Open Sans",sans-serif;
    font-weight: 400;
    width: 50%;
}
.hint {
    display: inline-block;
    flex-shrink: 0;
    line-height: 18px;
    margin-left: 5px;
    position: relative;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #757575;
}
.gift_cart_hint.in-minicart .hint .tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: -130px;
    width: 240px;
    padding: 10px;
    line-height: 1.4;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 10;
}
.price-wrapper.discounted{
    text-decoration: line-through;
    color: #aaaaaa;
}

.price-container {
    float: left;
    margin: 0px 10px 10px;
}

.product .options {
    width: 100%;
}

#shopping-cart-table .cart-item-gift-message {
    width: 70%;
}
