.account {
    .page-title-wrapper {
        .page-title {
            font-size: 22px;
            margin-bottom: $grid-spacing;
            text-transform: uppercase;

            @include responsivo(desktop-up) {
                font-size: 28px;
                margin-bottom: $grid-margin;
            }
        }
    }

    .columns .sidebar-main {
        @include responsivo(mobile) {
            order: 0;
        }
    }

    .column.main {
        .block:not(.widget) {
            .block-title {
                border-bottom: 1px solid $border-color-light;
                line-height: 1;
                margin-bottom: $grid-spacing;
                padding-bottom: $grid-spacing/2;

                > strong {
                    font-size: 16px;
                    font-weight: 600;
                }

                .view {
                    font-size: 12px;
                    font-weight: 500;
                    margin-left: 8px;
                }
            }

            .box-title {
                > span {
                    color: $text-color-light;
                    font-size: 14px;
                }
            }
        }

        .action.primary {
            font-size: 18px;
            padding: 12px 30px;
        }

        .fieldset {
            .field {
                &.country {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    z-index: -1;
                }

                &.street {
                    .label {
                        font-size: 14px;
                        font-weight: 600;
                        position: relative;
                    }
                }
            }
        }
    }

    .table-wrapper {
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: 8px;
        width: 100%;

        table {
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        font-size: 12px;
                        padding: 8px 12px;
                    }

                    > th {
                        white-space: nowrap;
                    }

                    &.subtotal,
                    &.shipping,
                    &.grand_total {
                        > th,
                        > td {
                            font-size: 16px;

                            @include responsivo(mobile) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

        @include responsivo(mobile) {
            padding: $grid-spacing/2;
        }

        @include responsivo(tablet-up) {
            padding: $grid-spacing;
        }
    }

    .data.table {
        .col.actions {
            .action::after {
                margin: 0 4px;
            }
        }
    }

    .block-content {
        .table-wrapper {
            padding: 0;
        }
    }

    .toolbar {
        .limiter {
            align-items: center;
            display: flex;
            font-size: 12px;
        }
    }
}

.field.additional.required {
    > .label {
        &::after {
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            // display: block;
            margin: 0 0 0 5px;
        }
    }
}

.return-status,
.order-status {
    margin: 0;
    font-size: 12px;
    line-height: 1;
}

.block-dashboard-info,
.block-dashboard-addresses,
.block-dashboard-orders {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 8px;

    a {
        font-weight: 500;
    }

    .block-content {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        + .box {
            @include responsivo(tablet-up) {
                padding-left: $grid-spacing;
            }
        }

        &.box-billing-address {
            display: none;
        }

        @include responsivo(tablet-up) {
            margin-bottom: 0;
        }
    }

    .box-actions {
        margin-top: 10px;
    }

    @include responsivo(mobile) {
        padding: $grid-spacing;
    }

    @include responsivo(tablet-up) {
        padding: $grid-spacing;
    }

    @include responsivo(desktop-up) {
        padding: $grid-spacing*2;
    }
}

.block-addresses-default {
    .block-content {
        .box.box-address-billing {
            display: none;
        }

        .box.box-address-shipping {
            float: left;
        }
    }
}

.account .column.main .block:not(.widget) .block-content .box:nth-child(2).box-address-shipping {
    float: left;
}

.block-collapsible-nav {
    .content {
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: 8px;
        padding: 25px 0;
    }

    .item {
        margin: 0;

        > a,
        > strong {
            color: $text-color;
            font-weight: 400;
            line-height: 1;
            padding: 10px 20px;
        }

        a:hover {
            background-color: transparent;
            border-color: $text-color;
            font-weight: 500;
        }

        &.current {
            > a,
            > strong {
                border-color: $text-color;
                font-weight: 700;
            }
        }

        .delimiter {
            display: none;
        }
    }

    @include responsivo(mobile) {
        position: static;
    }
}

.table-wrapper.orders-recent .table-order-items.table tbody > tr > td.col {
    @include responsivo(mobile) {
        padding: 10px;
    }
}

.box-billing-address,
.box-shipping-address,
.box-address-billing,
.box-address-shipping,
.box-information {
    .box-content {
        font-size: 14px;
    }
}

.table-wrapper.balance-history,
.table-wrapper.reward-history,
.table-wrapper.orders-recent {
    margin-top: 0;
}

.search-sku button[type=submit],
.search-sku .quote-details-items .actions-toolbar > .action[type=submit] {
    height: 36px;
    width: 36px;
    margin-left: -36px;
}

.my-orders-search-advanced {
    .extra-order-search,
    .filter-close {
        .label {
            color: $text-color-light;
            font-size: 13px;
            font-weight: 600;
            line-height: 1;
        }
    }
}
