.customer-account-create {
    .page-main {
        > .page-title-wrapper {
            display: none;
        }
    }
}

.form-create-account .fieldset.create.account:after {
    margin-top: 0;
}

.password-strength-meter {
    font-size: 14px;
    display: none;
}

.field.choice {
    &.showpassword,
    &.newsletter {
        font-size: 14px;
        margin-top: 10px;
    }
}

.create.account {
    .fieldset {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: $grid-gutter/4 $grid-gutter;
        margin-bottom: 4px;

        &.additional_info {
            display: block;
            margin: 0;
        }

        .legend {
            display: none;
            grid-column: 1 / -1;
        }

        &.create.info {
            .field {
                order: 1;

                &.field-estado_cliente {
                    order: 2;
                }

                &.field-cidade_cliente {
                    order: 3;
                }

                &.newsletter {
                    order: 99;
                }

                &.field-dob {
                    .customer-dob {
                        border: 1px solid #ccc;
                        border-radius: 25px;

                        input[type='text'] {
                            border: none;
                            height: 48px;

                            @include responsivo(mobile){
                                height: 38px;
                            }
                        }

                        button {
                            right: 10px;
                        }
                    }
                }
            }
        }
    }

    .field {
        .control {
            // display: flex;
        }

        select {
            height: 50px;

            @include responsivo(mobile){
                height: 40px;
            }
        }
    }

    > .actions-toolbar {
        margin: 0;

        > .primary {
            .action {
                &.primary {
                    border-radius: 2.4rem;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.4rem;
                }
            }
        }

        > .secondary {
            .action {
                color: $text-color-darker;
                font-size: 1.3rem;
                font-weight: 400;
                text-decoration: underline;
                margin: 0;
            }
        }
    }
}
