.authorization-link {
    + li {
        display: none;
    }
}

.customer-box {
    display: none;
    margin-left: $grid-spacing;

    > .links {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin: 0;
            line-height: 1;

            a {
                color: $text-color;
                font-family: $alternate-font;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    @include responsivo(tablet-up) {
        display: block;
    }
}

.cms-index-index,
.has-image {
    .customer-box {
        > .links {
            li {
                a {
                    color: #fff;
                }
            }
        }
    }
}


.customer-name {
    + .authorization-link {
        display: none;
        position: absolute;
        width: 100%;
    }

    > a {
        @include responsivo(mobile) {
            display: none !important;
        }
    }

    > .links {

        > .content {
            
            > a {

                + a {
                    margin-top: 10px;
                }

                &:hover {
                    color: $link-color;
                    text-decoration: underline;
                }

                @include responsivo(tablet-up) {
                    color: $text-color;
                    display: block;
                    font-family: $main-font;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: none;
                }
            }

            @include responsivo(tablet-up) {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: $main-box-shadow;
                padding: 15px 20px;
                text-align: right;
                white-space: nowrap;
            }
        }

        @include responsivo(tablet-up) {
            display: none;
            padding-top: 20px;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }

    &:hover {
        > .links {
            display: flex;
            flex-direction: column;
        }
    }
}

.customer-box {
    position: relative;

    &:hover {
        .authorization-link {
            display: block;
        }
    }
}
