.page-main {
    > .page-title-wrapper {}
}

.login-container {
    > .block {
        
        .block-title {
            border-bottom:0px white;
            margin-bottom: 15px;
            padding-bottom: 12px;
            display: none !important;
        }
        .actions-toolbar {
            margin: 0;

            > .primary {
                .action {
                    &.primary {
                        border-radius: 2.4rem;
                        font-size: 1.6rem;
                        font-weight: 500;
                        line-height: 2.4rem;
                    }
                }
            }

            > .secondary {
                .action {
                    color: $text-color-darker;
                    font-size: 1.3rem;
                    font-weight: 400;
                    text-decoration: underline;
                    margin: 0;
                }
            }
        }
    }
}
