.order-links {
    .item {
        strong {
            background-color: $block-background-color;
            border-radius: 5px 5px 0 0;
            font-size: 14px;
            font-weight: 500;
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

.table-order-items {
    background-color: #fff;
}

.order-details-items {
    background-color: $block-background-color;
    border: 1px solid $border-color;
    border-radius: 0 5px 5px 5px;
    padding: $grid-spacing*2;

    .order-title {
        @include responsivo(mobile) {
            display: none;
        }
    }

    .table-holder {
        + .table-holder {
            margin-top: $grid-margin*2;

            @include responsivo(mobile) {
                margin-top: $grid-margin;
            }
        }

        &:last-of-type {
            border-bottom: 1px solid $border-color-light;
            padding-bottom: $grid-margin;

            @include responsivo(mobile) {
                padding-bottom: $grid-spacing;
            }
        }
    }

    .table-order-items {
        > thead {
            > tr {
                > th {
                    color: $text-color-light;
                    font-family: $main-font;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 1;
                    padding: $grid-spacing $grid-spacing/2;

                    @include responsivo(mobile) {
                        font-size: 12px;
                    }
                }
            }
        }

        tbody {
            td {
                font-size: 14px;
                font-weight: 400;
                padding: $grid-spacing $grid-spacing/2;

                @include responsivo(mobile) {
                    font-size: 12px;
                }
            }
        }

        .product-item-name {
            color: $text-color;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0;

            @include responsivo(mobile) {
                font-size: 12px;
            }
        }
    }

    .col.name {
        padding-top: $grid-spacing/2;
    }

    .col.price .price-including-tax,
    .col.price .price-excluding-tax,
    .col.subtotal .price-including-tax,
    .col.subtotal .price-excluding-tax {
        color: $text-color;
        font-size: 14px;
        font-weight: 700;

        .price-label {
            display: none;
        }
    }

    .items-qty {
        .title {
            display: none;
        }
    }

    @include responsivo(mobile) {
        padding: $grid-spacing;
    }
}

.table-order-items-footer {
    margin-top: $grid-margin;

    @include responsivo(mobile) {
        margin-top: $grid-spacing;
    }
}

.order-actions-toolbar {
    .actions {
        @include responsivo(mobile) {
            display: flex;
            justify-content: space-between;
        }
    }

    .action.print {
        @include responsivo(mobile) {
            display: block;
        }
    }
}

.cd-totals {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: $grid-spacing;
    padding: 0 12px;

    .subtotals,
    .shipping-totals,
    .totals {
        padding-left: $grid-margin;
        text-align: right;

        @include responsivo(mobile) {
            margin-bottom: 10px;
        }
    }

    span {
        color: $text-color;
        font-size: 12px;
        display: block;
    }

    strong {
        color: $text-color;
        font-size: 14px;
        display: block;
        font-weight: 700;
    }

    .totals {
        span {
            color: $alternate-color;
        }
    }

    @include responsivo(mobile) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.sales-order-view {
    .entrega-portaria {
        margin-bottom: 16px;

        .label {
            font-weight: 700;
        }
    }
}
