<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<script type="text/x-magento-init">
    <?= /* @noEscape */ $this->helper(\Magento\Framework\Json\Helper\Data::class)->jsonEncode([
        '*' => ['Mexbs_FreeGift/js/gift-add' => [
            'promoAddToCartHtmlUrl' => $this->getUrl('freeGift/action/getGiftAddToCartHtml', ['_secure' => $this->getRequest()->isSecure()]),
            'promoAddToCartUrl' => $this->getUrl('freeGift/action/addGiftProductsToCart', ['_secure' => $this->getRequest()->isSecure()]),
            'getCartGiftHintMessagesAjaxUrl' => $this->getUrl('freeGift/action/getCartGiftHintMessages', ['_secure' => $this->getRequest()->isSecure()])
        ]],
    ]);
    ?>
</script>
<div class="gift-add-to-cart-modal"></div>