$transition-settings: 0.2s linear;

.header.content.visible {
    .block-search .block-title::before,
    .minicart-wrapper .action.showcart::before,
    .nav-toggle::before {
        background-color: $text-color;
    }

    .logo .alternate {
        height: 100%;
        opacity: 1;
    }

    .logo .main {
        height: 0;
        opacity: 0;
    }

    .customer-box > .links a {
        color: $text-color;
    }
}

@include responsivo(tablet-up) {
    .logo img {
        transition: opacity $transition-settings;
    }
    
    .header-menu-container ul li a {
        transition: color $transition-settings;
    }
    
    .block-search .block-title::before,
    .minicart-wrapper .action.showcart::before {
        transition: background-color $transition-settings;
    }
    
    .customer-box > .links a {
        transition: color $transition-settings;
    }
    
    .header.content:hover {
        .block-search .block-title::before,
        .minicart-wrapper .action.showcart::before {
            background-color: $text-color;
        }
    
        .logo .alternate {
            height: 100%;
            opacity: 1;
        }
    
        .logo .main {
            height: 0;
            opacity: 0;
        }
    
        .header-menu-container ul li a {
            color: $text-color;
        }
    
        .customer-box > .links a {
            color: $text-color;
        }
    }
    
    .block-search .action.search::before {
        transition: background-color $transition-settings;
    }
    
    .block-search .action.search:hover::before {
        background-color: $alternate-color;
    }

    .header.content.visible {
        .header-menu-container ul li a {
            color: $text-color;
        }
    }
}
