<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
//$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt()
?>
<a class="logo" href="https://nectarconsulting.com.br/" title="<?= $block->escapeHtmlAttr(__("Néctar Consulting")); ?>">
    <img loading="lazy" src="<?= $block->getViewFileUrl('images/logo_nectar.png') ?>" title="<?= $block->escapeHtmlAttr(__("Néctar Consulting")); ?>" alt="<?= $block->escapeHtmlAttr(__("Néctar Consulting")); ?>" />
</a>
