<div class="payment-option opc-payment-additional customer-cpf">
    <div class="payment-option-title field" data-role="title">
        <span id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: labelCpf --><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <form action="/nectarcustomer/account/saveCpf" method="post" id="form-validate" class="form form-customer-cpf" data-hasrequired="* Campos Obrigatórios" novalidate="novalidate">
            <div class="payment-option-inner">
                <div class="field _required">
                    <div class="control _with-tooltip">
                        <input type="text" data-bind="event: { 'blur': saveCPF }, value: fieldCpf, afterRender: setCpfMask" id="taxvat" name="taxvat" class="input-text required-entry validate-cpf" aria-required="true" />

                        <div class="field-tooltip toggle">
                            <span id="tooltip-label" class="label"><span><!-- ko i18n: 'Tooltip' --><!-- /ko --></span></span>
                            <span id="tooltip" class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}" aria-labelledby="tooltip-label" aria-haspopup="true" aria-expanded="false" role="button"></span>
                            <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true"><!-- ko i18n: 'Para questões de cobrança.' --><!-- /ko --></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
