<div class="shipping-entrega-portaria" data-bind="visible: getEntregaPortaria()">
    <!-- ko i18n: 'Pode deixar na portaria'--><!-- /ko -->: <span class="value" data-bind="text: getEntregaPortaria()"></span>
</div>