<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>

<?php if($block->isLoggedIn()) : ?>

    <li>
        <div class="customer-name">
            <a href="<?= $this->getUrl('customer/account') ?>">
                <span data-mage-init='{"Magento_Customer/js/customer-information": {} }'>...</span>
            </a>

            <div class="links">
                <div class="content">
                    <a class="my-account" href="<?= $this->getUrl('customer/account') ?>">
                        <span>Minha Conta</span>
                    </a>

                    <a class="logout" <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
                        <?= $escaper->escapeHtml($block->getLabel()) ?>
                    </a>
                </div>
            </div>
        </div>
    </li>

<?php else: ?>

    <li class="authorization-link" data-label="<?= $block->isLoggedIn() ? '' : $escaper->escapeHtml(__('or')) ?>">
        <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?> data-role="link-authorization-link">
            <?= $escaper->escapeHtml($block->getLabel()) ?>
        </a>
    </li>

    <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Customer/js/return-after-login" : {
                    "currentURL" : "<?= $block->escapeUrl($this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true])) ?>",
                    "action": ".authorization-link"
                }
            }
        }
    </script>

<?php endif; ?>
