@mixin responsivo($breakpoint) {

    $mobile-breakpoint: 767px;
    $mobile-large-up-breakpoint: 640px;
    $tablet-up-breakpoint: 768px;
    $desktop-up-breakpoint: 1024px;
    $desktop-large-up-breakpoint: 1440px;

    @if $breakpoint == 'mobile' {
        @media only screen and (max-width: $mobile-breakpoint) {
            @content;
        }
    }

    @if $breakpoint == 'mobile-large-up' {
        @media only screen and (min-width: $mobile-large-up-breakpoint) {
            @content;
        }
    }

    @if $breakpoint == 'tablet-up' {
        @media only screen and (min-width: $tablet-up-breakpoint) {
            @content;
        }
    }

    @if $breakpoint == 'desktop-up' {
        @media only screen and (min-width: $desktop-up-breakpoint) {
            @content;
        }
    }

    @if $breakpoint == 'desktop-large-up' {
        @media only screen and (min-width: $desktop-large-up-breakpoint) {
            @content;
        }
    }
}

@mixin fontFace($fontFamily, $fontWeight, $fontStyle, $fontDir) {
    @font-face {
        font-family: $fontFamily;
        src: url('../fonts/' + $fontDir + '.woff2') format('woff2'),
             url('../fonts/' + $fontDir + '.woff') format('woff'),
             url('../fonts/' + $fontDir + '.ttf') format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
        font-display: swap;
    }
}

@mixin icon($iconName, $iconColor, $iconSize) {

    &:before {
        background-color: $iconColor;
        content: "";
        display: block;
        height: $iconSize;
        position: absolute;
        width: $iconSize;

        -webkit-mask: url('../images/' + $iconName + '.svg') no-repeat center;
        -webkit-mask-size: 100%;
        mask: url('../images/' + $iconName + '.svg') no-repeat center;
        mask-size: 100%;
    }

}

@mixin reticencias($rowQuantity) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowQuantity;
    -webkit-box-orient: vertical;
}

@mixin cancelarHidden() {
    clip: none;
    height: auto;
    margin: 0;
    padding: 0;
    position: static;
    width: auto;
}