.pagebuilder-slider {
    margin-top: -$header-max-height;

    .pagebuilder-slide-wrapper {
        align-items: center;
        display: flex;

        .pagebuilder-overlay:not(.pagebuilder-poster-overlay){
            @include responsivo(mobile) {
                max-width: 100%;
                hyphens: auto;
            }

            h2 {
                span {
                    @include responsivo(mobile) {
                        font-size: 40px;
                        line-height: 1;
                        hyphens: none;
                        word-break: break-word;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .slick-list {
        padding: 0;

        &::before {
            display: none;
            content: '';
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    .slick-dots {
        padding: 10px 0;
        bottom: 0;
        position: absolute;

        li {
            width: 30px;

            button {
                background-color: $main-color;
                border: 0;
                height: 4px;
                width: 30px;
            }

            &.slick-active {
                button {
                    background-color: $body-background-color;
                }
            }
        }
    }

    @include responsivo(mobile) {
        min-height: 60vw !important;
        margin-top: -96px;
    }
}

.pagebuilder-banners-grid {
    @include responsivo(mobile) {
        .pagebuilder-column {
            flex-basis: 50%;
            padding: 5px !important;
        }

        .pagebuilder-banner-wrapper {
            .pagebuilder-overlay {
                &.pagebuilder-poster-overlay {
                    min-height: 32vw !important;
                }
            }
        }
    }
}

.pagebuilder-slide-button.pagebuilder-button-primary {
    background: $body-background-color;
    border: 0;
    border-radius: $button-border-radius;
    color: $action-secondary-text-color;
    font-family: $alternate-font;
    font-size: 2rem;
    font-weight: 400;
    padding-left: $grid-gutter*2;
    padding-right: $grid-gutter*2;
    text-transform: uppercase;
    transition: all 0.2s linear;

    &:hover,
    &:active,
    &:focus {
        background-color: $action-primary-hover-background-color;
        border: 0;
        color: $action-primary-hover-text-color;
    }
}
