.page-header {
    .header.panel {
        font-weight: 700;

        p {
            margin: 0;
        }

        @include responsivo(mobile) {
            font-size: 12px;
        }

        @include responsivo(tablet-up) {
            font-size: 13px;
        }

        @include responsivo(desktop-up) {
            font-size: 14px;
        }
    }
}

.banner-animated {
    .pagebuilder-banner {
        margin: auto;
        position: relative;
        transition: none !important;
    }

    .pagebuilder-column-group {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;

        @include responsivo(mobile){
            flex-direction: row;
        }
    }

    .pagebuilder-column {
        color: #fff;
        padding: 0;
        opacity: 1;
        left: 4.4vw;
        right: auto;
        bottom: 4.4vw;
        max-width: 400px;
        position: absolute;

        @include responsivo(mobile){
            width: auto !important;
        }
    }

    .pagebuilder-banner-banner {
        width: 100%;
        height: 44vw;
        position: relative;
        z-index: 1;

        @include responsivo(mobile){
            height: 145vw;
        }
    }
}


.widget.block,
.category-cms {
    .pagebuilder-column-group {
        .pagebuilder-column {
            * {
                @include responsivo(mobile) {
                    text-align: center;
                }
            }

            &.icons {
                column-gap: 10px !important;
                flex-direction: row !important;
                justify-content: center !important;

                @include responsivo(desktop-up) {
                    justify-content: left !important;
                }
            }
        }

        h2[data-content-type='heading'] {
            font-size: 3.4rem;
        }

        a.pagebuilder-button-link {
            color: $main-color;
            font-family: $alternate-font;
            font-size: 1.6rem;
            font-weight: 400;
            text-decoration: underline;
        }

        .pagebuilder-button-primary {
            background: #fff;
            border: 0;
            color: $main-color;
            font-family: $alternate-font;
            font-size: 2rem;
            font-weight: 400;
        }

        .play {
            .pagebuilder-button-primary {
                padding-left: 40px;
                position: relative;
                @include icon(triangle-right, #000, 32px);

                &::before {
                    top: 8px;
                    left: 6px;
                    position: absolute;
                }
            }
        }
    }

    .pagebuilder-banner {
        transition: all 1s;

        .pagebuilder-column-group {
            flex: 1;

            h2[data-content-type='heading'] {
                color: $action-primary-text-color;
                font-size: 6rem;
                line-height: 1;
                hyphens: auto;

                @include responsivo(mobile) {
                    font-size: 4.2rem;
                }
            }

            p {
                color: $action-primary-text-color;
                font-size: 1.6rem;
            }
        }

        &.animate {
            .pagebuilder-column-group {
                h2[data-content-type='heading'],
                [data-content-type='text'],
                [data-content-type='buttons'] {
                    opacity: 0;
                    transition: opacity .9s;
                }

                .pagebuilder-column {
                    @include responsivo(mobile) {
                        order: 1;
                    }

                    &.pagebuilder-banner-content {
                        @include responsivo(mobile) {
                            order: 2;
                            padding: 20px 40px !important;
                        }
                    }
                }
            }

            &.show {
                transform: scaleY(1.046);
                margin-left: -32px !important;
                margin-right: -32px !important;

                h2[data-content-type='heading'],
                [data-content-type='text'],
                [data-content-type='buttons'] {
                    opacity: 1;
                }

                @include responsivo(mobile) {
                    margin-left: -16px !important;
                    margin-right: -16px !important;
                }
            }
        }
    }

    .pagebuilder-carousel {
        .slick-list {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        .pagebuilder-column {
            position: relative;

            &-group {
                @include responsivo(desktop-up) {
                    flex-direction: column;

                    .slick-list {
                        padding-left: 32px !important;
                        padding-right: 32px !important;
                    }
                }
            }

            &:before {
                content: "";
                background-color: transparent;
                box-shadow: 0 2rem 3rem 0 rgba(0,0,0,0.5);
                display: block;
                width: 80%;
                height: 96%;
                top: 1rem;
                left: 50%;
                opacity: 0;
                position: absolute;
                z-index: 0;
                transform: translateX(-50%);
                transition: opacity .3s cubic-bezier(.38,.41,.27,1);
            }

            [data-content-type='image'] {
                background: $main-color;
                border-radius: 8px;
                position: relative;
                z-index: 1;
                transition: transform .3s cubic-bezier(.395,0,.135,1);

                img {
                    display: block;
                    width: 100%;
                    opacity: 0.7;
                    transition: opacity .3s cubic-bezier(.38,.41,.27,1);
                }
            }

            [data-content-type='heading'] {
                color: #fff;
                bottom: 10%;
                left: 30px;
                right: 30px;
                position: absolute;
                pointer-events: none;
                z-index: 2;
                transition: bottom .3s cubic-bezier(.395,0,.135,1);
            }

            [data-content-type='buttons'] {
                //display: none;
                bottom: 0;
                left: 50%;
                position: absolute;
                z-index: 2;
                opacity: 0;
                transform: translate(-50%, 0);
                transition: all .3s cubic-bezier(.395,0,.135,1);
            }

            @include responsivo(desktop-up) {
                &:hover {
                    &:before {
                        opacity: 1;
                    }

                    [data-content-type='image'] {
                        transform: scale(1.02);

                        img {
                            opacity: 0.85;
                        }
                    }

                    [data-content-type='heading'] {
                        bottom: 30%;
                    }

                    [data-content-type='buttons'] {
                        opacity: 1;
                        bottom: 12%;
                    }
                }
            }
        }
    }
}
