<?php
/**
 * @var \Mexbs\ApBase\Block\Adminhtml\Promo\Quote\Action\Details $block
 */
?>
<script>
    require([
        "Mexbs_ApBase/js/rules",
        'jquery'
    ], function(apRulesForm, $){
        window.simple_action_container = new apRulesForm('<?php echo $block->getActionDetailsContainerId(); ?>',
            '<?php echo $block->escapeJs($block->escapeUrl($block->getNewChildUrl())) ?>',
            [
                '<?php echo \Magento\SalesRule\Model\Rule::BY_PERCENT_ACTION ?>',
                '<?php echo \Magento\SalesRule\Model\Rule::BY_FIXED_ACTION ?>',
                '<?php echo \Magento\SalesRule\Model\Rule::CART_FIXED_ACTION ?>',
                '<?php echo \Magento\SalesRule\Model\Rule::BUY_X_GET_Y_ACTION ?>'
            ],
            '<?php echo $block->escapeJs($block->getMagentoVersion()); ?>'
        );

        $(document).ready(function(){
            var simpleAction = $("#<?php echo $block->getActionDetailsContainerId(); ?>").parent().prev().find("[name='simple_action']");
            var toggleSimpleActionVisibility = function(){
                var wrapperLis = $("#<?php echo $block->getActionDetailsContainerId(); ?> li");
                if((wrapperLis=='undefined') || (wrapperLis.length == 0) || wrapperLis.first().is(':empty')){
                    simpleAction.show();
                }else{
                    simpleAction.hide();
                }
            };

            toggleSimpleActionVisibility();

            $(document).on("click", ".rule-param-remove", toggleSimpleActionVisibility);

            var toggleActionFieldsVisibility = function(){
                switch(simpleAction.val()) {
                    <?php
                    $allFieldNames = $block->getAllFieldNames();
                    foreach($block->getApSimpleActionFieldNamesShowSetting() as $apSimpleAction => $fieldNamesToShow): ?>
                    case "<?php echo $block->escapeJs($apSimpleAction) ?>":
                        <?php foreach($allFieldNames as $fieldName): ?>
                        <?php if(in_array($fieldName, $fieldNamesToShow)): ?>
                            $("[name='<?php echo $block->escapeJs($fieldName) ?>']").closest(".admin__field").show();
                            <?php if($fieldName == \Mexbs\ApBase\Block\Adminhtml\Promo\Quote\Action\Details::ACTIONS_SECTION_NAME): ?>
                            $("#actions__1__type").closest(".rule-tree").show();
                            <?php endif; ?>
                        <?php else: ?>
                            $("[name='<?php echo $block->escapeJs($fieldName) ?>']").closest(".admin__field").hide();
                            <?php if($fieldName == \Mexbs\ApBase\Block\Adminhtml\Promo\Quote\Action\Details::ACTIONS_SECTION_NAME): ?>
                            $("#actions__1__type").closest(".rule-tree").hide();
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php endforeach; ?>
                        break;
                    <?php endforeach; ?>
                    default:
                    <?php foreach($block->getAllNonApFieldNames() as $fieldName): ?>
                        $("[name='<?php echo $block->escapeJs($fieldName) ?>']").closest(".admin__field").show();
                        <?php if($fieldName == \Mexbs\ApBase\Block\Adminhtml\Promo\Quote\Action\Details::ACTIONS_SECTION_NAME): ?>
                            $("#actions__1__type").closest(".rule-tree").show();
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <?php foreach($block->getAllApFieldNames() as $fieldName): ?>
                        $("[name='<?php echo $block->escapeJs($fieldName) ?>']").closest(".admin__field").hide();
                    <?php endforeach; ?>
                }
            };

            toggleActionFieldsVisibility();

            simpleAction.on("change", toggleActionFieldsVisibility);


        });
    });
</script>
<div class="admin__fieldset fieldset rule-tree rule-param-new-child" id="<?php echo $block->getActionDetailsContainerId(); ?>">
    <div class="admin__field">
            <div class="admin__field-control">
                <input type="hidden" id="action_details__1__new_child" class="element-value-changer" />
                <ul id="action_details__1__children" class="rule-param-children">
                    <?php echo $block->getChildrenHtml() ?>
                </ul>
            </div>
    </div>
</div>