<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong>
        <span class="text" translate="'My Cart'"/>
        <span
            class="qty empty"
            text="getCartParam('summary_count')"
            data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
        </span>
    </strong>
</div>

<div id="minicart-widgets" class="minicart-widgets" if="regionHasElements('promotion')">
    <each args="getRegion('promotion')" render=""/>
</div>

<div class="block-content">
    <button type="button"
            id="btn-minicart-close"
            class="action close"
            data-action="close"
            data-bind="
                attr: {
                    title: $t('Close')
                },
                click: closeMinicart()
            ">
        <span translate="'Close'"/>
    </button>

    <if args="getCartParam('summary_count')">
        <div class="minicart-header">
            <div class="items-total">
                <span class="count" if="maxItemsToDisplay < getCartLineItemsCount()" text="maxItemsToDisplay"/>
                <translate args="'of'" if="maxItemsToDisplay < getCartLineItemsCount()"/>
                <span translate="'Shopping Cart'"/>
                <span class="count" data-bind="text: '(' + getCartParam('summary_count') + ')' "></span>
            </div>
    
            <if args="isCustomerLoggedIn()">
                <div class="customer-message">
                    <span translate="'Shopping cart from'"/>
                    <span data-bind="text: getCustomerName()"></span>
                    <span translate="'full of health'"/>:
                </div>
            </if>
        </div>
    </if>

    <if args="getCartParam('summary_count')">
        <strong class="subtitle" translate="'Recently added item(s)'"/>
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>

            <if args="getCartParam('crosssell_items')">
                <each args="getRegion('cartCrosssell')"
                    render="{name: getTemplate(), data: $parent.getCartParam('crosssell_items')}"
                />
            </if>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty"
                translate="'You have no items in your shopping cart.'"
        />
        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')"/>
            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span translate="'View and Edit Cart'"/>
                    </a>
                </div>
            </div>
        </if>
    </ifnot>

    <if args="getCartParam('summary_count')">
        <div class="minicart-footer">
            <each args="getRegion('shippingContainer')" render=""/>
            <each args="getRegion('subtotalContainer')" render=""/>
            <each args="getRegion('extraInfo')" render=""/>

            <div class="actions" if="getCartParam('summary_count')">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span translate="'View and Edit Cart'"/>
                    </a>
                </div>
            </div>
    
            <div class="actions" if="getCartParam('possible_onepage_checkout')">
                <div class="primary">
                    <button
                            id="top-cart-btn-checkout"
                            type="button"
                            class="action primary checkout"
                            data-action="close"
                            data-bind="
                                attr: {
                                    title: $t('Proceed to Checkout')
                                },
                                click: closeMinicart()
                            "
                            translate="'Proceed to Checkout'"
                    />
                    <div data-bind="html: getCartParamUnsanitizedHtml('extra_actions')"></div>
                </div>
            </div>
        </div>
    </if>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
