<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var url_about_us":"About Us URL",
"var url_customer_service":"Customer Service URL",
"var store_phone":"Store Phone",
"var store_hours":"Store Hours",
"var store.formatted_address|raw":"Store Address"
} @-->

<!-- End Content -->
</td>
</tr>
<tr>
    <td class="footer" style="background: #000">
        <table>
            <tr>
                <td>
                    <table style="width: auto;">
                        <tr>
                            <td style="padding: 0 5px;"><a href="https://www.instagram.com/urbanfarmcy/" target="_blank"><img width="24" height="24p" src="{{config path="web/secure/base_url"}}media/wysiwyg/footer/social-instagram.png" alt=""></a></td>
                            <td style="padding: 0 5px;"><a href="https://www.facebook.com/watch/urbanfarmcy/" target="_blank"><img width="24" height="24p" src="{{config path="web/secure/base_url"}}media/wysiwyg/footer/social-facebook.png" alt=""></a></td>
                            <td style="padding: 0 5px;"><a href="https://www.youtube.com/channel/UCqj-1coJQk8IXIGeSb4uQ_A" target="_blank"><img width="24" height="24p" src="{{config path="web/secure/base_url"}}media/wysiwyg/footer/social-youtube.png" alt=""></a></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 20%; padding: 0 5px;" align="center"><img src="{{config path="web/secure/base_url"}}media/wysiwyg/diferenciais/diferenciais-agricultura_familiar-branco.png" height="32" width="32" alt="Agricultura Familiar" /></td>
                            <td style="width: 20%; padding: 0 5px;" align="center"><img src="{{config path="web/secure/base_url"}}media/wysiwyg/diferenciais/diferenciais-alimento_limpo-branco.png" height="32" width="32" alt="Alimento Limpo" /></td>
                            <td style="width: 20%; padding: 0 5px;" align="center"><img src="{{config path="web/secure/base_url"}}media/wysiwyg/diferenciais/diferenciais-compromisso-planeta-branco.png" height="32" width="32" alt="Compromisso com o Planeta" /></td>
                            <td style="width: 20%; padding: 0 5px;" align="center"><img src="{{config path="web/secure/base_url"}}media/wysiwyg/diferenciais/diferenciais-plant_base-branco.png" height="32" width="32" alt="Plant Based" /></td>
                            <td style="width: 20%; padding: 0 5px;" align="center"><img src="{{config path="web/secure/base_url"}}media/wysiwyg/diferenciais/diferenciais-ultraprocessado-branco.png" height="32" width="32" alt="Não é ultraprocessado" /></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p style="text-align: right;">
                        <a href="mailto:{{config path="trans_email/ident_general/email"}}" style="color: #fff; font-weight: 600; text-decoration: underline;">Fale Conosco</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 25px 0 0;">
                    <p style="color:#fff; text-align: center;">
                        Horário de atendimento: {{config path="general/store_information/hours"}}
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
