.footer.content {
    #newsletter-popup {
        display: none !important;
    }
}
@media only screen and (max-width: 480px){
.modals-overlay {
    display: none !important;
}
}

.modal-popup.newsletter-popup {
    bottom: auto;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (max-width: 480px){
        .modal-inner-wrap {
            display: none !important;
        }
    }

    .modal-inner-wrap {
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);

        @include responsivo(tablet-up) {
            border-radius: 40px;
            height: auto;
            max-width: 360px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    &._show {
        .modal-inner-wrap {
            transform: translateY(0);
        }
    }

    .modal-header {
        display: flex;
        justify-content: center;
        padding: 15px;

        .action-close {
            line-height: 1;
            margin: 0;
            padding: 5px;
            position: static;

            &::before {
                background-color: $text-color-darker;
                content: "";
                display: block;
                height: 20px;
                width: 20px;

                -webkit-mask: url('../images/x-close.svg') no-repeat center;
                mask: url('../images/x-close.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask-size: 100%;
            }

        }
    }

    .modal-content {
        flex-grow: 1;
        overflow-x: hidden;
        padding: 0 30px 20px;
        text-align: center;

        @include responsivo(mobile) {
            max-height: 450px;
        }

        @include responsivo(tablet-up) {
            max-height: 620px;
            overflow-y: auto;
            padding: 0 40px 20px;
        }
    }

    .block.newsletter {
        max-width: none;
        width: 100%;

        .title {
            display: block;

            h2 {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        > img {
            margin: 0 -40px 10px;
            max-width: none;
            max-height: 200px;
            object-fit: cover;
            width: calc(100% + 80px);
        }

        p {
            font-size: 14px;
            font-weight: 500;
        }

        input {
            border-radius: 50px;
            font-size: 14px;
            height: 50px;
            padding-left: 20px;

            &::placeholder {
                color: $text-color;
            }
        }

        .form.subscribe {
            align-items: center;
            display: flex;
            flex-direction: column;

            > .field,
            > .actions {
                max-width: none;
                width: 100%;
            }
        }

        .field {
            margin-top: 10px;

            .control {
                margin-bottom: 10px;
                position: relative;

                &::before {
                    display: none;
                }
            }
        }

        .actions {
            margin-top: 10px;
            padding: 0 20px;

            .action.subscribe {
                background-color: $action-primary-background-color;
                border-color: $action-primary-border-color;
                border-radius: $button-border-radius;
                color: $action-primary-text-color;
                height: 50px;

                &:hover {
                    background-color: $action-primary-hover-background-color;
                    border-color: $action-primary-hover-border-color;
                    color: $action-primary-hover-text-color;
                }
            }
        }

        .legal-note {
            color: $text-color-light;
            font-size: 13px;
            margin-top: 15px;
        }
    }

    @include responsivo(tablet-up) {
        bottom: 0;
        left: 0;
        right: 0;
        transform: none;
        top: 0;
    }

}
