.delivery-address {
    .delivery-address-modal-content {
        display: none;

        .step {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    > .content {
        .message {
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 14px;

            img {
                display: none;
                margin-right: 4px;
                width: auto;
            }

            a {
                color: #fff;
                margin-left: 3px;
                text-decoration: underline;

                &:hover {
                    color: $link-color;
                }
            }
        }
    }
}

.modal-popup.delivery-address-popup {
    left: 0;
    top: auto;

    .modal-inner-wrap {
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);

        @include responsivo(tablet-up) {
            border-radius: 40px;
            height: auto;
            max-width: 360px;
        }
    }

    &._show {
        .modal-inner-wrap {
            transform: translateY(0);
        }
    }

    .modal-header {
        display: flex;
        justify-content: center;
        padding: 20px;

        .action-close {
            line-height: 1;
            margin: 0;
            padding: 5px;
            position: static;

            &::before {
                background-color: $text-color-darker;
                content: "";
                display: block;
                height: 20px;
                width: 20px;

                -webkit-mask: url('../images/angle-down.svg') no-repeat center;
                mask: url('../images/angle-down.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask-size: 100%;

                @include responsivo(tablet-up) {
                    -webkit-mask: url('../images/x-close.svg') no-repeat center;
                    mask: url('../images/x-close.svg') no-repeat center;
                    -webkit-mask-size: 100%;
                    mask-size: 100%;
                }
            }
        }
    }

    .modal-content {
        flex-grow: 1;
        padding: 0 40px 40px;
        text-align: center;

        .step {
            display: none;

            .title {
                font-family: $alternate-font;
                color: $text-color-darker;
                font-size: 22px;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .icon {
                display: block;
                margin-top: 30px;
                margin-bottom: 20px;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            p {
                color: $text-color-darker;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 15px;

                &.success {
                    margin-bottom: 3px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                @include responsivo(tablet-up) {
                    font-size: 16px;
                }
            }

            input[type="text"],
            input[type="tel"],
            input[type="number"],
            input[type="password"] {
                height: 50px;
                font-size: 16px;
                border-radius: 8px;
                margin-top: 15px;

                &::placeholder {
                    color: $text-color;
                }
            }

            .action.primary {
                height: 50px;
                font-size: 20px;
                font-weight: 400;
                margin-top: 40px;

                @include responsivo(tablet-up) {
                    max-width: 200px;
                }
            }

            .price {
                font-weight: 700;
                display: flex;
                justify-content: center;
            }

            &.active {
                display: block;
            }

            .loader {
                display: flex;
                justify-content: center;

                @include icon(loading, $alternate-color, 44px);

                &::before {
                    animation: spinner 0.48s linear infinite;
                    position: static;
                }

                &.hidden {
                    display: none;
                }
            }

            .address {
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        @include responsivo(tablet-up) {
            max-height: 440px;
            overflow-y: auto;
            padding-bottom: 30px;
        }
    }

    @include responsivo(tablet-up) {
        top: 0;
    }

}
