.breadcrumbs {
    margin-bottom: 30px;
    
    .items {
        align-items: center;
        color: $text-color-darker;
        display: flex;
        font-size: 14px;
        font-weight: 400;

        > li {
            align-items: center;
            display: flex;
        }

        @include responsivo(mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .item:not(:last-child) {
        align-items: center;
        display: flex;

        &::after {
            background-color: $text-color-darker;
            content: "";
            display: block;
            height: 12px;
            line-height: 1;
            margin: 0 4px; 
            // position: absolute;
            width: 12px;

            -webkit-mask: url('../images/angle-right.svg') no-repeat center;
            -webkit-mask-size: 100%;
            mask: url('../images/angle-right.svg') no-repeat center;
            mask-size: 100%;
        }
    }


    a {
        color: $text-color-darker !important;
    }

    @include responsivo(mobile) {
        display: block;
    }
}