button.action {
    position: relative;
    transition: all 0.2s linear;

    &:active {
        top: 1px;
    }
}

.action {
    &.primary {
        background-color: $action-primary-background-color;
        border: 1px solid $action-primary-border-color;
        border-radius: $button-border-radius;
        color: $action-primary-text-color;
        font-family: $alternate-font;
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        text-transform: uppercase;
        transition: all 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            background-color: $action-primary-hover-background-color;
            border: 1px solid $action-primary-hover-border-color;
            color: $action-primary-hover-text-color;
        }
    }

    &.secondary {
        background-color: $action-secondary-background-color;
        border: 1px solid $action-secondary-border-color;
        border-radius: $button-border-radius;
        color: $action-secondary-text-color;
        font-family: $alternate-font;
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        text-transform: uppercase;
        transition: all 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            background-color: $action-secondary-hover-background-color;
            border: 1px solid $action-secondary-hover-border-color;
            color: $action-secondary-hover-text-color;
        }
    }
}
