.contact-box {
    > .holder {
        align-items: center;
        display: flex;

        @include icon(headset, $main-color, 40px);

        &::before {
            margin-right: $grid-spacing/2;
            position: static;
        }

        > .link {
            color: $link-color;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.1;
        }
    }

    @include responsivo(mobile) {
        flex-grow: 1;
        margin-bottom: 0;
        max-width: 26%;
        padding-right: 12px;
        position: relative;

        > .holder {
            &::before {
                flex-shrink: 0;
                height: 32px;
                margin-right: 0;
                width: 32px;
            }

            > .link {
                font-size: 12px;
            }
        }
    }
}
