.footer-copyright {
    background-color: $footer-background-color;

    > .content {
        border-top: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $grid-max-width;
        align-items: center;
        padding: $grid-spacing*2 $grid-margin;

        > .text {
            color: $text-color-light;
            display: flex;
            font-size: 14px;
            font-weight: 500;
            margin: 0;

            span + span {
                margin-left: 8px;
            }
        }

        > .logo {
            margin: 0;
        }
    }

    @include responsivo(mobile) {
        > .content {
            padding: $grid-spacing/2;

            > .text {
                display: inline-block;
                font-size: 13px;

                span + span {
                    display: inline-block;
                }
            }
        }
    }
}
