.page-footer {
    background: $main-color;
    padding-top: $grid-margin*2;
    padding-bottom: $grid-margin*1.5;

    > .footer {
        border: 0;
        display: grid;
        grid-template-columns: 75% 25%;

        @include responsivo(mobile) {
            grid-template-columns: 100%;
        }

        .redes-sociais {
            display: flex;
            column-gap: 10px;
        }

        &.bottom {
            display: block;

            .pagebuilder-column {
                ul {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 5px;
                    width: fit-content;
                }

                &.seguro {
                    ul {
                        grid-template-columns: repeat(3, auto);
                        width: fit-content;
                        gap: 10px;
                    }
                }
            }
        }


        &.copyright {
            align-items: center;
            background: none;
            display: flex;
            gap: 20px;
            padding: $grid-margin;
            width: 100%;
            max-width: $grid-max-width;
            margin: 0 auto;
            text-align: left;
            padding-left: $grid-max-width*0.26;
            padding-bottom: $grid-margin/2;
            font-size: 1.4rem;
            justify-content: start;

            .copyright {
                background: none;
                padding: 0;
                text-align: left;
            }

            @include responsivo(mobile) {
                padding: $grid-margin/2;
            }
        }

        h2 {
            color: $action-primary-text-color;
            font-size: 1.8rem;
            margin-bottom: $grid-spacing;
            margin-top: 0;
            text-transform: uppercase;
        }

        p, a {
            color: $action-primary-text-color;
            font-size: 1.6rem;
            line-height: 1.2;
        }
        p {
            margin-bottom: 12px;
        }
    }

    .block {
        &.newsletter {
            float: none;
            width: auto;
            max-width: none;

            .title {
                display: block;
            }

            .form.subscribe {
                display: flex;
                flex-direction: column;

                > .field.newsletter {
                    float: none;
                    max-width: none;
                    margin-bottom: 20px;

                    .control {
                        margin-bottom: 10px;

                        &:before {
                            display: none;
                        }
                    }

                    input {
                        font-size: 1.8rem;
                        font-weight: 400;
                        margin: 0;
                        padding: 0 $grid-margin/2;
                        height: 50px;
                    }
                }

                > .actions {
                    display: inline-block;
                    float: none;
                    width: auto;

                    .action.subscribe {
                        background: $input-background-color;
                        border-radius: 25px;
                        color: $main-color;
                        display: inline-block;
                        font-family: $alternate-font;
                        font-size: 2rem;
                        text-transform: uppercase;
                        margin: 0;
                        padding: $grid-margin/2 $grid-margin;
                        width: auto;
                    }
                }
            }

            .legal-note {
                color: #ccc;
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 0;
            }
        }

        ul,
        ol {
            list-style: none;
            padding: 0;

            li {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.2;
                margin-bottom: 0;

                + li {
                    margin-top: 4px;
                }
            }
        }


        b,
        strong {
            font-weight: 500;
        }

        @include responsivo(desktop-up) {
            //padding-bottom: $grid-spacing*2;
            //padding-top: $grid-spacing*2;
        }
    }
}

.message.global.cookie {
    background: $main-color;
    color: #fff;
    padding: 8px 95px 8px 20px;

    @include responsivo(mobile) {
        padding: 8px 88px 8px 10px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .actions {
        margin: 0;

        .action.primary {
            background: #fff;
            color: $main-color;
            width: auto !important;
        }
    }
}
