input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
    align-items: center;
    background-color: $input-background-color;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    color: $input-text-color;
    display: flex;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding: 10px 16px;

    &::placeholder {
        color: $input-placeholder-color;
    }

    &:disabled,
    &:read-only {
        cursor: unset;
        opacity: 0.75;
    }

    @include responsivo(mobile) {
        height: 40px;
    }

    @include responsivo(tablet-up) {
        height: 50px;
    }
}

select {
    align-items: center;
    background-color: $input-background-color;
    background-position: center right 12px;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    color: $input-text-color;
    display: flex;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    padding: 8px 24px 8px 12px;

    &::placeholder {
        color: $input-placeholder-color;
    }

    @include responsivo(mobile) {
        background-position: center right 10px;
        height: 40px;
    }

    @include responsivo(tablet-up) {
        height: 50px;
    }
}

textarea {
    background-color: $input-background-color;
    border: 1px solid $input-border-color;
    border-radius: 15px;
    color: $input-text-color;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8;
    min-height: 110px;
    padding: 12px;

    &::placeholder {
        color: $input-placeholder-color;
    }
}

input:not([disabled]):focus,
textarea:not([disabled]):focus,
select:not([disabled]):focus {
    border-color: $main-color-light;
}

.fieldset {
    > .field,
    > .fields > .field {
        > .label {
            color: $text-color;
            font-family: $main-font;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;

            @include responsivo(desktop-up) {
                font-size: 14px;
            }
        }

        &.choice {
            align-items: center;
            display: flex;

            input[type="checkbox"] {
                margin: 0 8px 0 0;
                position: static;
            }

            > .label {
                margin: 0 !important;
            }
        }
    }
}

.field.date {
    .control {
        position: relative;
    }
}

._has-datepicker ~ .ui-datepicker-trigger {
    position: absolute;
    top: 10px;
    right: 0;

    @include responsivo(tablet-up) {
        top: 15px;
    }
}

.ui-datepicker {
    .ui-datepicker-title {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;

        .ui-datepicker-month {
            margin-left: 6%;
            margin-right: 0;
        }
    }
}
