html {
    font-size: 10px;
}

body {
    background-color: $body-background-color;
    font-family: $main-font;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-before-open {
    body {
        height: auto;
        overflow-y: auto;

        .page-header {
            background-color: #000;
        }

        #maincontent {
            padding-top: 76px;
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $alternate-font;
}

a {
    color: $link-color;

    &:hover {
        color: $link-color;
        text-decoration: underline;
    }

    &:visited {
        color: $link-color;
    }
}

.navigation,
.breadcrumbs,
.page-header .header.panel,
.header.content,
.page-full-width [data-content-type='row'][data-appearance='contained'],
[data-content-type='row'][data-appearance='contained'],
.footer.content,
.page-footer > .footer-main,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.top-container,
.page-main {
    max-width: $grid-max-width;

    @include responsivo(mobile) {
        padding-left: $grid-margin/2;
        padding-right: $grid-margin/2;
    }

    @include responsivo(tablet-up) {
        padding-left: $grid-margin/2;
        padding-right: $grid-margin/2;
    }

    @include responsivo(desktop-up) {
        padding-left: $grid-margin;
        padding-right: $grid-margin;
    }
}

.checkout-cart-index {
    .column.main {
        @include responsivo(mobile) {
            padding-left: $grid-spacing;
            padding-right: $grid-spacing;
        }
    }
}

.page-wrapper {
    > .widget.block-static-block {
        margin: 0;
        padding: 0;
    }
}

#html-body {
    .display-impacto {
        position: fixed;
        bottom: -70px;
        left: $grid-spacing*2;
        right: (($grid-spacing*2) + 120px);
        width: auto;
        z-index: 4;
        opacity: 0;
        transition: bottom 500ms, opacity 500ms;

        &.show {
            bottom: $grid-spacing/2;
            opacity: 1;

            &.allowed {
                bottom: 50px;
            }

            @include responsivo(mobile) {
                width: calc(100% - 100px);
            }
        }

        .pagebuilder-column {
            &.column-title {
                h3 {
                    font-weight: 400;
                    line-height: 1;

                    @include responsivo(tablet-up) {
                        font-size: 16px;
                    }
                }
            }

            &.column-icons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: 10px;

                figure {
                    display: flex;
                }
            }

            .slider-display-impacto {
                font-family: $alternate-font;
                font-size: 17px;
                line-height: 1;
                padding: 0 $grid-spacing*2;

                @include responsivo(tablet-up) {
                    font-size: 16px;
                }

                .slick-slide {
                    padding-top: 2px;
                }

                @include responsivo(mobile) {
                    color: #fff;
                }
            }

            .slick-prev:active,
            .slick-next:active,
            .slick-prev:focus,
            .slick-next:focus,
            .slick-prev:not(.primary),
            .slick-next:not(.primary) {
                background: none;
                border-radius: 0;
                box-shadow: none;
                width: auto;
                height: auto;
            }

            .pagebuilder-button-link {
                width: 20px;
                height: 14px;

                @include icon(x-close, #000, 20px);

                span {
                    display: none;
                }
            }
        }

        @include responsivo(mobile) {
            padding-left: 40px !important;
            left: $grid-spacing/2;
            right: auto;
            transition: none;

            .pagebuilder-column {
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    text-align: left;

                    @include icon(angle-up-circle, #000, 30px);

                    &:before {
                        top: 50%;
                        left: 7px;
                        transform: translateY(-50%);
                    }
                }

                &-group {
                    row-gap: 40px;
                }

                &.column-icons,
                &.column-text,
                &.column-button {
                    display: none;
                }

                &.column-text {
                    margin-bottom: 20px;
                }

                .slick-list {
                    padding: 0;
                }

                .slick-prev:active,
                .slick-next:active,
                .slick-prev:focus,
                .slick-next:focus,
                .slick-prev:not(.primary),
                .slick-next:not(.primary) {
                    &:before {
                        color: #fff;
                    }
                }
            }

            &.open {
                background: $main-color !important;
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 999;

                .pagebuilder-column {
                    &.column-icons,
                    &.column-text {
                        display: flex;
                    }

                    h3 {
                        color: #b9e8bd;
                        padding-top: 40px;
                        position: relative;

                        @include icon(angle-down, #fff, 20px);

                        &:before {
                            margin-left: -10px;
                            top: 0;
                            left: 50%;
                        }
                    }
                }
            }
        }
    }
}

.customer-account-login,
.customer-account-create {
    .page-wrapper > .page-main {
        @include responsivo(desktop-up) {
            padding-top: $grid-margin;
            padding-left: $grid-margin*2;
            padding-right: $grid-margin*2;
        }
    }
}

.page-layout-2columns-left {
    .column.main {
        @include responsivo(tablet-up) {
            padding-left: $grid-gutter;
            width: 75%;
        }
    }

    .sidebar-main,
    .sidebar-additional {
        @include responsivo(tablet-up) {
            padding-right: $grid-gutter;
            width: 25%;
        }
    }
}

.page-title {
    > .subtitle {

    }
}

.page-main {
    > .page-title-wrapper {
        margin-bottom: $grid-spacing;

        .page-title {
            color: $main-color;
            font-weight: 400;
            text-transform: uppercase;

            @include responsivo(mobile) {
                font-size: 36px;
            }

            @include responsivo(tablet-up) {
                font-size: 48px;
                margin-bottom: 0;
            }

            @include responsivo(desktop-up) {
                font-size: 60px;
            }
        }

        .subtitle {
            color: $text-color-darker;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-bottom: 0;
            margin-top: 8px;
        }

        @include responsivo(desktop-up) {
            margin-bottom: $grid-spacing*2;
        }
    }
}

.hidden-xs {
    @include responsivo(mobile) {
        display: none !important;
    }
}
