.page-header {
    border: 0;
    z-index: 100;

    .panel.wrapper {
        align-items: center;
        background-color: $main-color;
        border: 0;
        display: flex;
        height: $top-bar-height;
        justify-content: center;
        max-height: $top-bar-height;
        overflow: hidden;

        .header-panel-slider-wrapper {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            > *:not(:first-child) {
                @include responsivo(mobile) {
                    //display: none;
                }
            }

            &.finished {
                > *:not(:first-child) {
                    @include responsivo(mobile) {
                        display: flex;
                    }
                }
            }

            @include responsivo(tablet-up) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        [data-content-type="row"][data-appearance="contained"],
        .custom-top-bar-wrapper {
            margin: 0 !important;
            width: auto;

            [data-content-type="row"][data-appearance="contained"] {
                padding: 0 $grid-spacing/2 0 0;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                margin: 0;
                padding: 0;

                &:after {
                    content: "|";
                    margin: 0 0 0 $grid-spacing/2;
                }

                @include responsivo(mobile) {
                    line-height: 1.6;

                    &:after {
                        //display: none;
                    }
                }

                img {
                    margin-right: $grid-spacing/2;
                }

                a {
                    color: #fff;
                    text-decoration: underline;

                    &:hover {
                        color: $link-color;
                    }
                }

                &:not(:first-child) {
                    @include responsivo(mobile) {
                        //display: none;
                    }
                }
            }

            &.finished {
                li:not(:first-child) {
                    @include responsivo(mobile) {
                        display: flex;
                    }
                }
            }
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        .slick-initialized .slick-slide {
            display: flex;
            justify-content: center;
            line-height: 1;

            li {
                display: flex !important;
            }
        }

        .slick-prev,
        .slick-next {
            z-index: 5;
            height: 40px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;

            &::before {
                position: static;
            }
        }

        .slick-prev {
            left: 8px;

            @include icon(angle-left, #fff, 16px);
        }

        .slick-next {
            right: 8px;

            @include icon(angle-right, #fff, 16px);
        }

        @include responsivo(tablet-up) {
            background-color: $main-color;
        }
    }
}

.header.content {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 0px;
    transition: background-color 0.2s linear, top 0.2s linear;
    z-index: 2;

    &.invisible,
    &.visible {
        left: 0;
        position: fixed;
        width: 100%;
        box-shadow: $main-box-shadow;
    }

    &.invisible {
        top: -100px;
    }

    &.visible {
        top: 0px;
    }

    @include responsivo(mobile) {
        padding: 20px;
    }

    @include responsivo(tablet-up) {
        padding-bottom: $grid-spacing;
        padding-top: $grid-spacing;
    }

    @include responsivo(desktop-up) {
        padding: 30px 40px;
    }
}

.cms-index-index,
.has-image {
    .header.content {
        background-color: transparent;
        transition: background-color 0.2s linear;

        &.visible {
            background-color: #fff;
        }

        @include responsivo(tablet-up) {
            &:hover {
                background-color: #fff;
            }
        }
    }
}


.logo {
    order: 1;
    z-index: 1;

    > img {
        width: 100%;

        @include responsivo(mobile) {
            height: 100%;
            max-width: none;
            width: auto;
        }
    }

    .main {
        height: 0;
        opacity: 0;
        padding: 0 !important;
    }

    @include responsivo(mobile) {
        align-items: center;
        display: flex;
        height: 34px;
        margin: 0 auto 0 0;
    }

    @include responsivo(tablet-up) {
        margin: 0 $grid-spacing 0 0;
    }

    @include responsivo(desktop-up) {
        margin-right: $grid-spacing;
    }
}

.cms-index-index,
.has-image {
    .logo {
        .main {
            height: 100%;
            opacity: 1;
        }

        .alternate {
            height: 0;
            opacity: 0;
        }
    }
}

.nav-sections {
    order: 2;
}

.change-cd {
    order: 3;
}

.customer-box {
    order: 4;
}

.header.links {
    order: 3;

    > .greet {
        display: none;
    }
}

.minicart-wrapper {
    order: 2;
}

.block-search {
    order: 3;
}
