.loading-mask {
    .loader {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        > img {
            display: none;
        }

        @include icon(loading, $alternate-color, 44px);

        &::before {
            animation: spinner 0.48s linear infinite;
            left: 50%;
            position: static;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
        }
    }
}

.price {
    &.loader {
        @include icon(loading, $alternate-color, 44px);

        position: relative;

        &::before {
            left: 50%;
            top: 50%;
            width: 12px;
            height: 12px;
            transform: translate(-50%, -50%);
            z-index: 100;
            animation: spinner 0.48s linear infinite;
        }
    }
}

.minicart-wrapper {
    .loading-mask {
        .loader {
            &::before {
                height: 14px;
                width: 14px;
            }
        }
    }
}

.pdp-change-cd {
    .price.loader::before {
        position: static;
    }
}

.box-tocart {
    &.loader {
        @include icon(loading, $alternate-color, 44px);

        position: relative;

        &::before {
            left: 0;
            top: 32px;
            width: 20px;
            height: 20px;
            z-index: 100;
            animation: spinner 0.48s linear infinite;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
