.page.messages {
    // margin-top: $grid-spacing;

    .cms-index-index & {
        display: none;
    }
}

.message.success {
    padding: 20px 40px 20px 60px;
    border-radius: 10px;
    font-size: 14px;

    > *:first-child:before {
        display: none;
    }

    > div:first-child::before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 24px;
        line-height: 24px;
        color: #46ad46;
        content: '\e60e';
        font-family: 'luma-icons';
        margin: -12px 0 0;
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        left: 10px;
        top: 30px;
        width: 45px;
        position: absolute;
        text-align: center;
    }
}
