.nav-sections {
    background-color: $main-color;
    margin: 0 auto;

    .cms-home & {
        margin-bottom: 0;
    }

    .nav-sections-item-title {
        @include responsivo(mobile) {
            display: none;
        }
    }

    .nav-sections-item-content {
        @include responsivo(mobile) {
            margin-top: 0;
            padding: 20px 0;
        }
    }

    @include responsivo(tablet-up) {
        background-color: transparent;
    }
}

.nav-sections-item-content {
    > .header-menu-container {

        @include responsivo(tablet-up) {
            display: block;
        }
    }
}

.header-menu-container {
    padding: 0;

    br {
        display: none !important;
        margin: 0 !important;
    }

    .all-category {
        @include responsivo(tablet-up) {
            display: none;
        }
    }

    ul {
        display: flex;
        list-style: none;
        margin: -40px 0;
        padding: 0;

        li {
            font-family: $alternate-font;
            font-size: 18px;
            line-height: 1;
            margin: 0;
            padding: 0;
            // padding: 40px 25px;
            text-transform: uppercase;

            a {
                color: $text-color;
                display: block;
                padding: 40px 25px;

                @include responsivo(mobile) {
                    color: #fff;
                    padding: 12px 0;
                }
            }

            &:hover {
                > a {
                    position: relative;
                    text-decoration: none;

                    &::before {
                        display: block;
                        content: '';
                        height: 4px;
                        width: 100%;
                        background-color: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    @include responsivo(mobile) {
                        color: #fff !important;
                        text-decoration: none;
                    }
                }

                @include responsivo(desktop-up) {
                    ul {
                        display: block;
                    }
                }
            }

            &.has-children {
                > a {
                    @include responsivo(mobile) {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        @include icon(angle-down, #fff, 20px);

                        &::before {
                            position: static;
                        }
                    }
                }

                &.active > a {
                    @include responsivo(mobile) {
                        @include icon(angle-up, #fff, 20px);

                        &::before {
                            position: static;
                        }
                    }
                }
            }

            &.active {
                > ul {
                    @include responsivo(mobile) {
                        display: block;
                    }
                }
            }

            @include responsivo(mobile) {
                font-size: 24px;
                padding: 12px 0;
            }
        }

        ul {
            background-color: $topbar-background-color;
            break-inside: avoid-column;
            column-count: 5;
            display: none;
            height: auto;
            left: 0;
            margin: 0;
            padding: 40px 40px 80px;
            page-break-inside: avoid-column;
            position: absolute;
            top: calc(100% - 1px);
            width: 100%;
            z-index: 5;

            li {
                display: flex;
                flex-direction: column;
                padding: 0;

                a {
                    font-size: 17px;
                    color: #fff !important;
                    padding: 0;

                    &::before {
                        display: none !important;
                    }
                }

                ul {
                    break-inside: auto;
                    column-count: 1;
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    position: static;

                    li {
                        font-family: $main-font;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 1.2;
                        padding: 0;
                        text-transform: none;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        @include responsivo(mobile) {
                            padding: 8px 0;
                        }

                        @include responsivo(tablet-up) {
                            margin-bottom: 20px;
                        }
                    }

                    &.active {
                        @include responsivo(mobile) {
                            display: block;
                        }
                    }

                    @include responsivo(mobile) {
                        display: none;
                        padding-top: 10px;
                    }

                    @include responsivo(tablet-up) {
                        margin-top: 20px;
                    }
                }

                @include responsivo(mobile) {
                    padding: 10px 0;
                }

                @include responsivo(tablet-up) {
                    margin-bottom: 30px;
                }
            }

            > li {
                @include responsivo(tablet-up) {
                    break-inside: avoid-column;
                }
            }

            @include responsivo(mobile) {
                position: static;
                column-count: unset;
                padding: 15px 0 15px 10px;
            }
        }

        @include responsivo(mobile) {
            flex-direction: column;
            margin: 0;
            padding: 20px;
        }
    }

    [data-element="main"] > ul {
        & > li,
        & > li.has-children {
            & > a {
                @include responsivo(mobile) {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    .header-menu-authorization {
        display: none;

        .authorization-link {
            border-top: 1px solid #fff;
            font-family: $alternate-font;
            font-size: 24px;
            padding: 40px 0;
            text-transform: uppercase;

            a {
                color: #fff;
            }
        }

        .customer-welcome {
            display: none;
        }

        .customer-name {
            display: block;
            padding: 0;

            + .authorization-link {
                display: block;
                border: 0;
                position: static;
            }
        }

        @include responsivo(mobile) {
            display: block;
            padding: 40px;
            list-style: none;
        }
    }
}

.cms-index-index,
.has-image {
    .header-menu-container ul li a {
        color: #fff;
    }
}

.navigation {
    display: none !important;
}

.nav-toggle {
    margin-left: $grid-spacing/2;
    order: 4;
    align-items: center;
    display: flex;
    height: 36px;
    justify-content: center;
    position: static;
    width: 36px;

    @include icon(menu, $text-color, 27px);

    &::before {
        position: static;
    }

    @include responsivo(tablet-up) {
        display: none;
    }
}

.cms-index-index,
.has-image {
    .nav-toggle {
        &::before {
            background-color: #fff;
        }
    }
}
