.bundle-options-container {
    .product-add-form {
        display: block;
    }

    .bundle-options-wrapper {
        display: none;
    }

    .block-bundle-summary {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;

        .box-tocart {
            .actions {
                .action.tocart {
                    width: 100%;
                }
            }
        }
    }
}

.block-bundle-summary {
    .bundle.items {
        [data-container="options"] {
            font-family: $alternate-font;
            font-size: 20px;
        }
    }
}

.product-info-main.bundle {
    .xptoproduct-info-price {
        .xptoprice-box {
            display: flex;
            flex-direction: column;

            > .price-container {
                &.price-final_price {
                    order: 2;

                    .price {
                        color: $special-price-color;
                    }
                }
            }

            > .old-price {
                order: 1;

                .price-label {
                    display: none;
                }

                .price {
                    text-decoration: line-through;
                }
            }
        }
    }

    &.sticky {
        .bundle-summary {
            display: none;
        }

        .bundle-options-container {
            margin: 0;

            .block-bundle-summary {
                .box-tocart {
                    margin: 0;
                }
            }
        }
    }
}
