.widget-product-carousel {
    .slick-list {
        //overflow: visible;
    }

    .slick-track {
        display: flex;
    }

    .slick-next,
    .slick-prev {
        top: calc(75vw - 57px);
        transform: none;

        @include responsivo(tablet-up) {
            top: calc((75vw / 2) - 57px);
        }

        @include responsivo(desktop-up) {
            top: calc((75vw / 4) - 57px);
        }
    }

    .slick-slide {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;

        > div {
            height: 100%;
        }
    }

    .product-item {
        height: 100%;
    }

    .product-item-info {

        &:hover,
        &.active {
            background: none;
            box-shadow: none;
            border: 0;
            margin: 0;
            padding: 0;
        }
    }

    .product-item-inner {
        background: transparent;
        box-shadow: none;
        border: 0;
        left: unset;
        margin: 0;
        padding: 0;
        overflow: hidden;
        right: unset;
        position: static;
    }

    .product-item-actions {
        margin: 0;
    }
}

.slick-list {
    margin: 0 0;
    padding: 8px 16px;
}

.slick-prev:active,
.slick-next:active,
.slick-prev:focus,
.slick-next:focus,
.slick-prev:not(.primary),
.slick-next:not(.primary) {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);;
    width: 50px;
    height: 50px;

    &:before {
        color: $main-color;
        font-size: 1.6rem;
    }
}

.slick-prev {
    left: 10px;
    z-index: 3;

    &::before {
        padding: 0;
    }
}

.slick-next {
    right: 10px;
    z-index: 3;

    &::before {
        padding: 0;
    }
}
