.page-products {
    #maincontent {
        @include responsivo(mobile) {
            overflow: hidden;
        }
    }

    .columns {
        z-index: 0;
    }
    .products-grid {
        .product-items {
            display: grid;

            @include responsivo(mobile) {
                row-gap: $grid-gutter*4;
            }

            @include responsivo(tablet-up) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 48px $grid-gutter;
            }

            @include responsivo(desktop-up) {
                grid-gap: 48px 20px;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .product-item {
            margin: 0 !important;
            padding: 0 !important;
            width: auto;

            &-info {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: auto;

                &:hover {
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    padding: 0;
                }

                &:not(:hover),
                &:not(.active) {
                    .product-item-inner {
                        box-shadow: none;
                        border: 0;
                        display: block;
                        left: auto;
                        margin: 0;
                        padding: 0;
                        width: auto;
                        height: auto;
                        overflow: initial;
                        position: relative;
                    }
                }
            }

            &-actions {
                margin: 0;
            }

            &-details {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.product-items {
    .slick-list {
        padding-top: 16px;
        padding-bottom: 64px;
    }
}

.product-item {
    &-name {
            color: $main-color;
            font-family: $alternate-font;
            font-size: 2.2rem;
            text-transform: uppercase;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            word-break: break-word;

            &:hover {
                text-decoration: none;
            }
    }

    .short-description {
        font-size: 1.6rem;
        margin-bottom: auto;
    }

    &-actions {
        .actions-primary {
            display: block;

            form[data-role='tocart-form'] {
                display: flex;
                column-gap: 10px;
            }
        }
    }

    .price-weight {
        align-items: flex-end;
        column-gap: 10px;
        display: flex;
        margin: 10px 0 15px;

        .weight {
            font-size: 1.6rem;
            line-height: 2.7rem;

            &:before {
                content: "•";
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.7rem;
                margin-right: 8px;
            }
        }
    }

    .price-box {
        display: flex;
        flex-direction: column;
        margin: 0;

        .price-label {
            display: none;
        }

        .price {
            color: $main-color;
            font-family: $alternate-font;
            font-size: 2.2rem;
            font-weight: 400;
        }

        .old-price {
            order: 1;

            .price {
                color: $text-color;
                font-size: 18px;
                text-decoration: line-through;
            }
        }

        .special-price {
            order: 2;

            .price {
                color: $special-price-color;
            }
        }

        .minimal-price-link {
            display: none;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        width: auto;

        &:hover {
            border: 0;
            margin: 0;
            padding: 0;
        }
        .product-image-photo,
        .product-image-container {
            border-radius: 8px;
            width: 100% !important;
        }
    }

    &-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &.not-product {
        position: relative;
        transition: all 200ms;

        &:before {
            content: "";
            background-color: transparent;
            box-shadow: 0 2rem 3rem 0 rgba(0,0,0,0.5);
            display: block;
            width: 80%;
            height: 96%;
            top: 1rem;
            left: 50%;
            opacity: 0;
            position: absolute;
            z-index: 0;
            transform: translateX(-50%);
            transition: opacity .3s cubic-bezier(.38,.41,.27,1);
        }

        .product-item-name {
            > a {
                font-size: 3.4rem;

                @include responsivo(mobile) {
                    font-size: 2.4rem;
                    hyphens: none;
                    word-break: break-word;
                }
            }
        }

        .product-item-info {
            .product-image-container {
                background: $main-color;
                box-shadow: 0 0 0 0 rgba(0,0,0,0);
                border-radius: 8px;
                overflow: hidden;
                transition: all 200ms;
            }
        }

        .product-item-photo {
            transition: transform .3s cubic-bezier(.395,0,.135,1);

            .product-image-photo {
                width: 100%;
                opacity: 0.7;
                transition: all 500ms;
            }
        }

        .product-item-details {
            font-family: $alternate-font;
            font-size: 3.4rem;
            line-height: 1em;
            text-align: center;
            text-transform: uppercase;
            height: auto;
            bottom: 10%;
            left: 10%;
            right: 10%;
            position: absolute;
            z-index: 100;
        }

        .product-item-name {
            margin: 0;
            transition: all 500ms;

            a {
                color: $action-primary-text-color;
                display: block;
                text-decoration: none;
                -moz-hyphens: none;
                -ms-hyphens: none;
                -webkit-hyphens: none;
                hyphens: none;
                word-break: break-word;

                &:after {
                    content: "+";
                    background: #fff;
                    border-radius: 50%;
                    color: $main-color;
                    display: block;
                    font-family: $main-font;
                    font-size: 26px;
                    font-weight: 300;
                    line-height: 48px;
                    text-align: center;
                    pointer-events: none;
                    width: 50px;
                    height: 50px;
                    margin: -10px auto -40px;
                    position: relative;
                    opacity: 0;
                    transition: all 500ms;
                }
            }
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .product-item-photo {
                transform: scale(1.02);

                @include responsivo(mobile) {
                    transform: none;
                }

                .product-image-photo {
                    opacity: 0.55;
                }
            }

            .product-item-name {
                a {
                    &:after {
                        margin: 20px auto 0;
                        opacity: 1;

                        @include responsivo(mobile) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .product-reviews-summary {
        display: none;
    }
}

.field.qty {
    border: 1px solid $input-border-color;
    border-radius: 25px;
    overflow: hidden;
    position: relative;

    &:focus-within {
        border-color: $input-focus-border-color;
    }

    button {
        background: none;
        border: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
        font-weight: 400;
        padding: 0;
        height: 48px;
        width: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:disabled {
            opacity: 0.5;
        }

        &.decrease {
            left: 0;

            &.disabled {
                pointer-events: none;
                opacity: 0.3;
            }

            @include icon(minus, $text-color, 18px);

            &::before {
                position: static;
            }
        }

        &.increase {
            right: 0;

            &.disabled {
                pointer-events: none;
                opacity: 0.3;
            }

            @include icon(plus, $text-color, 18px);

            &::before {
                position: static;
            }
        }

        &:hover {
            &::before {
                background-color: $text-color-darker;
            }
        }
    }

    input[type='number'] {
        border: 0;
        border-radius: 0;
        font-family: $alternate-font;
        font-size: 2rem;
        text-align: center;
        height: 48px;
    }
}
