

.product.data.items {
    border: 0;
    margin: 0;
    padding: 0 $grid-spacing;

    > .item.title {
        > .switch {
            align-items: center;
            color: $text-color-darker;
            border-top: 0;
            display: flex;
            font-family: $alternate-font;
            font-size: 16px;
            font-weight: 400;
            height: auto;
            justify-content: space-between;
            line-height: 1;
            padding: 20px 0;
            text-transform: uppercase;

            &::after {
                position: static;
            }

            .subtitle {
                display: none;
            }

            @include responsivo(tablet-up) {
                background-color: transparent;
                border: 0;
                border-top: 2px solid $border-color-light;
            }
        }

        &:not(.disabled) {
            > .switch:active {
                padding-bottom: 20px;
            }
        }

        &.active {
            > .switch {
                padding: 20px 0;
                position: relative;

                &:hover,
                &:focus,
                &:active {
                    padding: 20px 0;
                }

                .subtitle {
                    @include responsivo(tablet-up) {
                        display: block;
                        font-size: 14px;
                        color: $text-color-light;
                        display: block;
                        margin-bottom: 20px;
                        font-family: $main-font;
                        position: absolute;
                        top: calc(100% - 10px);
                        text-transform: none;
                        left: 0;
                    }
                }
                
                @include responsivo(tablet-up) {
                    border: 0;
                }
            }

            @include responsivo(tablet-up) {
                flex-basis: 25%;
            }
        }

        @include responsivo(tablet-up) {
            margin: 0;
            flex-basis: 100%;
        }
    }

    > .item.content {
        border-bottom: 2px solid $border-color-light;
        padding: 10px 0 30px;

        > .subtitle {
            font-size: 14px;
            color: $text-color-light;
            display: block;
            margin-bottom: 20px;

            @include responsivo(tablet-up) {
                display: none;
            }
        }

        @include responsivo(tablet-up) {
            border: 0;
            flex-basis: 75%;
            margin-left: 0;
            margin-top: 4px;
            padding-left: 15px;
        }
    }

    @include responsivo(tablet-up) {
        display: flex;
        flex-wrap: wrap;
    }
}

.product.attribute {
    .value {
        h3 {
            border-left: 4px solid #000;
            color: $text-color-darker;
            font-family: $alternate-font;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3;
            margin: 0 0 20px;
            padding-left: 20px;
            text-transform: uppercase;
        }

        * + h3 {
            margin-top: 30px;

            @include responsivo(desktop-up) {
                margin-top: 40px;
            }
        }

        p {
            + p {
                margin-top: $grid-spacing;
            }
        }

        ol,
        ul {
            li {
                margin-bottom: 20px;
            }
        }
    }

    * + .attribute {
        margin-top: $grid-spacing*2;

        @include responsivo(tablet-up) {
            margin-top: $grid-spacing;
        }
    }

    .label {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: $grid-spacing;
        text-transform: uppercase;
    }

    .value.multiselect {
        display: flex;
        flex-wrap: wrap;

        .action {
            background-color: $action-secondary-background-color;
            border-radius: 50px;
            border: 1px solid $action-secondary-border-color;
            color: $action-secondary-text-color;
            flex-basis: 100%;
            font-family: $alternate-font;
            font-size: 16px;
            font-weight: 400;
            height: 32px;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            + .action {
                margin-top: 10px;

                @include responsivo(tablet-up) {
                    margin-top: 0;
                }
            }

            &:hover,
            &:active,
            &:focus {
                background-color: $action-secondary-hover-background-color;
                border: 1px solid $action-secondary-hover-border-color;
                color: $action-secondary-hover-text-color;
            }

            @include responsivo(tablet-up) {
                flex-basis: auto;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }

    &.ingredientes {
        @include responsivo(tablet-up) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .attribute.maior_quantidade_texto__cy,
    .attribute.menor_quantidade_texto__cy,
    .attribute.produtores_principais_culturas__cy {
        padding-left: 46px;
        position: relative;

        &::before {
            content: '';
            display: block;
            height: 100%;
            width: 4px;
            background-color: $text-color-darker;
            position: absolute;
            left: 11px;
            z-index: 0;

            @include responsivo(tablet-up) {
                height: calc(100% - 15px);
            }
        }

        &::after {
            background-color: $text-color-darker;
            content: "";
            display: block;
            height: 26px;
            left: 0;
            position: absolute;
            width: 26px;

            background-color: #fff;
            border: 3px solid #000;
            border-radius: 50%;
            left: -3px;
        }

        > .label {
            color: $text-color-darker;
            font-family: $alternate-font;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
        }

        > .value {
            .action {
                border-radius: 0;
                border: 0;
                font-family: $main-font;
                font-weight: 400;
                height: auto;
                letter-spacing: 0;
                padding: 3px 0;
                text-align: left;
                text-decoration: underline;
                text-transform: none;

                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                    color: $text-color-darker;
                }

                @include responsivo(tablet-up) {
                    flex-basis: 100%;
                }
            }
        }

        @include responsivo(tablet-up) {
            margin-bottom: $grid-spacing;
            width: 50%;
        }
    }

    .attribute.maior_quantidade_texto__cy {
        > .label {
            display: none;
        }

        &::before {
            top: 24px;
        }

        &::after {
            background-color: #000;
            top: -6px;
            -webkit-mask: url('../images/plus-circle.svg') no-repeat center;
            mask: url('../images/plus-circle.svg') no-repeat center;
            -webkit-mask-size: 100%;
            mask-size: 100%;
        }
    }

    .attribute.menor_quantidade_texto__cy {
        display: flex;
        flex-direction: column-reverse;
        margin-top: $grid-spacing;

        > .label {
            display: none;
        }

        &::before {
            bottom: 24px;
        }

        &::after {
            background-color: #000;
            bottom: -6px;
            -webkit-mask: url('../images/minus-circle.svg') no-repeat center;
            mask: url('../images/minus-circle.svg') no-repeat center;
            -webkit-mask-size: 100%;
            mask-size: 100%;
        }

        > .label {
            margin-bottom: 0;
            margin-top: $grid-spacing;
        }

        @include responsivo(tablet-up) {
            margin-top: 0;
        }
    }

    .attribute.produtores_principais_culturas__cy {
        &::after {
            display: none;
        }
    }

    .attribute.alto_conteudo_de__cy,
    .attribute.fonte_de__cy {
        flex-basis: 100%;
    }
}

.product.attribute.coordenadas {
    .value {
        font-size: 24px;
        font-family: $alternate-font;
        text-transform: uppercase;
        font-weight: 400;
        margin: 10px 0;
        text-align: center;

        @include responsivo(tablet-up) {
            font-size: 28px;
        }
    }
}

.product.attribute.informacoes-nutricionais {
    display: flex;
    flex-wrap: wrap;

    .attribute-holder {
        cursor: pointer;
        margin-top: 10px;

        &.textarea {
            cursor: default;
            flex-basis: 100%;
            margin-bottom: 20px;

            > .content {
                border: 0;
                border-radius: 0;
                cursor: pointer;
                text-align: left;

                .label {
                    font-weight: 700;
                    height: auto;
                    margin: 0 0 10px;
                    padding: 0;
                }
        
                .value {
                    display: block;
                    font-weight: 400;
                    padding: 0;
                }
            }
        }

        > .content {
            cursor: pointer;
            flex-basis: 100%;
            overflow: hidden;
            border-radius: 25px;
            border: 1px solid $border-color-darker;
            text-align: center;
            line-height: 1;
        }

        + .attribute-holder {
            // margin-top: 10px;

            @include responsivo(tablet-up) {
                margin-top: 0;
            }
        }

        .label {
            font-weight: 400;
            padding: 10px;
            margin: 0;
            height: 34px;
        }

        .value {
            display: block;
            font-weight: 700;
            font-size: 14px;
            padding: 10px;
        }

        .percent {
            display: block;
            background-color: #000;
            color: #fff;
            padding: 10px;
        }

        @include responsivo(mobile) {
            flex-basis: 50%;
            padding: 0 5px;
        }

        @include responsivo(tablet-up) {
            flex-basis: 25%;
            margin-top: 0;
            margin-bottom: 10px;
            padding: 0 5px;
        }

        @include responsivo(desktop-up) {
            flex-basis: 20%;
        }
    }
}