.filter {
    &.block {
        position: relative;

        @include responsivo(mobile) {
            margin-bottom: 8px;
        }

        @include responsivo(desktop-up) {
            padding-top: 50px;
        }
    }

    .filter-title {
        > strong {
            width: auto;
            padding: $grid-spacing/2 $grid-spacing;
            top: -50px;
        }
    }

    .block-subtitle {
        border: 0;
        color: $main-color;
        font-family: $alternate-font;
        font-size: 22px;
        font-weight: 400;
        padding: 0;
        margin: 0 0 25px;
        text-transform: uppercase;

        @include responsivo(mobile) {
            font-size: 13px;
            font-weight: 600;
            margin-bottom: $grid-spacing/2;
            padding: 8px 0;
        }
    }

    .filter-current-subtitle {
        &::before {
            @include responsivo(mobile) {
                top: 8px;
            }
        }
    }
}

.filter {
    .filter-options {
        .category-title {
            display: none;
        }
    }

    &.active {
        @include responsivo(mobile) {
            .filter {
                &-title {
                    background: $main-color;
                    border: 0;
                    height: 50px;

                    strong {
                        &:after {
                            color: #fff;
                        }
                    }
                }

                &-subtitle {
                    display: none;
                }

                &-options {
                    background: $main-color;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;

                    .category-title {
                        display: block;
                        text-align: center;
                        padding: 10vh 0;

                        strong {
                            color: #fff;
                            font-family: $alternate-font;
                            font-size: 2.8rem;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }

                    &-item {
                        padding: $grid-spacing;

                        &,
                        &:last-child {
                            margin: 0;
                        }
                    }

                    &-title {
                        color: #fff;
                        font-size: 1.6rem;
                        margin: 0;
                        padding: 0;

                        &:after {
                            top: 4px;
                        }
                    }

                    &-content {
                        a {
                            color: $text-color-muted;
                        }
                    }
                }
            }
        }
    }
}

.filter-options-title {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;

    @include responsivo(mobile) {
        font-size: 14px;
        line-height: 1.1;
        margin-bottom: $grid-spacing;
    }
}
