.fotorama__nav-wrap {
    position: absolute;
    bottom: 0;
}

.fotorama__stage {
    // @include responsivo(tablet-up) {
    //     max-height: 440px;
    // }

    // @include responsivo(desktop-up) {
    //     max-height: 600px;
    // }

    // @include responsivo(desktop-large-up) {
    //     max-height: 700px;
    // }
}

.fotorama__stage__frame {
    .fotorama__img {
        @include responsivo(tablet-up) {
            //height: 100%;
            // height: auto;
            // max-height: none;
            // object-fit: cover;
            // width: 100%;
        }
    }
}

.fotorama__nav--dots {
    padding: 20px;

    .fotorama__nav__frame {
        height: auto;
        margin: 0 5px;
        width: auto;
    }
}

.fotorama__nav__shaft {
    display: flex;
    justify-content: center;
}

.fotorama__dot {
    background-color: rgba(0, 0, 0, 0.6);
    position: static;
    width: 30px;
    border-radius: 4px;
    height: 4px;
    border: 0;

    .fotorama__active & {
        background-color: #fff;
    }
}


.fotorama--fullscreen {
    .fotorama__wrap {
        // height: 100%;
    }

    .fotorama__stage__frame {
        .fotorama__img--full {
            // object-fit: cover;
            // width: 100%;
        }
    }

    .fotorama__nav--thumbs {
        display: flex;
        justify-content: center;
    }

    .fotorama__nav__frame {
        margin: 0;
    }

    .fotorama__zoom-in.fotorama__zoom-in--disabled,
    .fotorama__zoom-out.fotorama__zoom-out--disabled {
        display: block;
    }
}
