.product-custom-label {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $main-color;
    border-radius: 30px;
    max-width: 200px;
    padding: 8px 16px;
    text-align: center;
    z-index: 1;

    > .label {
        color: #fff;
        font-family: $alternate-font;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin: 0 !important;
        text-transform: uppercase;
    }
}