.catalog-product-view {
    .column.main {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        @include responsivo(tablet-up) {
            padding-top: 30px;
        }

        @include responsivo(desktop-up) {
            display: block;
        }
    }

    .page-title {
        font-size: 42px;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;

        @include responsivo(tablet-up) {
            font-size: 48px;
        }

        @include responsivo(desktop-up) {
            font-size: 60px;
        }
    }

    .breadcrumbs {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding: 20px 0 0;

        @include responsivo(desktop-up) {
            margin-bottom: 28px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
        }
    }
}

.page-layout-1column {
    .product.media {
        float: none;
        margin: $grid-spacing;
        margin-left: -$grid-spacing;
        margin-right: -$grid-spacing;
        order: unset;
        width: auto;

        @include responsivo(desktop-up) {
            float: left;
            margin-bottom: $grid-spacing*2;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            width: 45%;
        }
    }

    .product-info-main {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: auto;

        @include responsivo(desktop-up) {
            align-items: flex-start;
            padding-left: $grid-spacing*2;
            width: 55%;
        }
    }
}

.product-info-main {
    .subtitulo {
        .value {
            color: $text-color-darker;
            font-family: $alternate-font;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
        }

        @include responsivo(desktop-up) {
            margin-bottom: 28px;
        }
    }

    .product-info-price {
        border: 0;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 10px;
        width: 100% !important;

        @include responsivo(desktop-up) {
            justify-content: flex-start;
            padding: 0;
        }

        .price-box {
            display: flex;
        }
    }

    .product.pricing {
        display: none;
    }
}

.product-options-bottom,
.product-info-price {
    .product-info-stock-sku {
        display: none;
    }

    .price-box {
        display: flex;
        flex-direction: column;
        padding: 0;

        .price-container {
            .price {
                color: $text-color-darker;
                font-family: $alternate-font;
                font-size: 28px;
                font-weight: 400;
                text-align: center;
            }
        }

        .special-price {
            order: 2;
            .price-container {
                .price {
                    color: $special-price-color;
                }
            }
        }

        .old-price {
            order: 1;

            .price-container {
                .price-label {
                    display: none;
                }
            }

            .price-label {
                display: none;
            }

            .price {
                text-decoration: line-through;
            }
        }

        @include responsivo(mobile) {
            text-align: center;
        }
    }
}

.box-tocart {
    margin-bottom: 0;
    padding: 0 20px;

    > .fieldset {
        align-items: center;
        display: flex;
        margin-bottom: 0;
    }

    .field.qty {
        border: 0;
        border-radius: 0;
        display: block;
        flex-basis: 42%;
        margin: 0;
        padding-right: 10px;

        .control {
            position: relative;
        }

        .label {
            display: none;
        }

        .input-text {
            border-radius: 60px;
            border: 1px solid $input-border-color;
            height: 50px;
            width: 100%;

            &:focus,
            &:focus-within {
                border-color: $input-focus-border-color;
            }
        }
    }

    .actions {
        flex-basis: 58%;
        margin: 0;

        .action.tocart {
            font-size: 20px;
            height: 50px;
            line-height: 1;
            margin: 0;

            @include responsivo(tablet-up) {
                width: 100%;
            }
        }
    }

    @include responsivo(desktop-up) {
        padding-left: 0;
        padding-right: 0;
    }
}

.product-social-links {
    padding: 20px;

    @include responsivo(desktop-up) {
        margin-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }
}

.product-share {
    > .content {
        display: flex;
        justify-content: center;

        .social-links {
            display: none;
        }

        .action.share-product {
            background-color: $action-secondary-background-color;
            border: 1px solid $action-secondary-border-color;
            border-radius: 50px;
            color: $action-secondary-text-color;
            font-family: $alternate-font;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            height: 38px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            width: 100%;

            @include icon(share, #000, 26px);

            &:hover,
            &:active,
            &:focus {
                background-color: $action-secondary-hover-background-color;
                border: 1px solid $action-secondary-hover-border-color;
                color: $action-secondary-hover-text-color;

                &::before {
                    background-color: #fff;
                }
            }

            &::before {
                position: static;
                margin-right: 10px;
            }

            @include responsivo(tablet-up) {
                padding-left: 50px;
                padding-right: 50px;
                width: auto;
            }
        }

        @include responsivo(desktop-up) {
            justify-content: flex-start;
        }
    }
}

.modal-popup.pdp-share-product {
    left: 0;
    top: auto;

    .modal-inner-wrap {
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);

        @include responsivo(tablet-up) {
            border-radius: 40px;
            height: auto;
            max-width: 360px;
        }
    }

    &._show {
        .modal-inner-wrap {
            transform: translateY(0);
        }
    }

    .modal-header {
        display: flex;
        justify-content: center;
        padding: 20px;

        .action-close {
            line-height: 1;
            margin: 0;
            padding: 5px;
            position: static;

            &::before {
                background-color: $text-color-darker;
                content: "";
                display: block;
                height: 20px;
                width: 20px;

                -webkit-mask: url('../images/angle-down.svg') no-repeat center;
                mask: url('../images/angle-down.svg') no-repeat center;
                -webkit-mask-size: 100%;
                mask-size: 100%;

                @include responsivo(tablet-up) {
                    -webkit-mask: url('../images/x-close.svg') no-repeat center;
                    mask: url('../images/x-close.svg') no-repeat center;
                    -webkit-mask-size: 100%;
                    mask-size: 100%;
                }
            }
        }
    }

    .modal-content {
        flex-grow: 1;
        padding: 0 40px 40px;
        text-align: center;

        @include responsivo(tablet-up) {
            max-height: 440px;
            overflow-y: auto;
            padding-bottom: 30px;
        }
    }

    .social-links {
        .title {
            font-weight: 400;
            margin-bottom: 20px;
            margin-top: 0;
            text-transform: uppercase;
        }

        > .list {
            padding: 0;
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: center;

            > .item {
                margin: 0;
                padding: 0 7px;
            }

            a {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid #000;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                text-decoration: none;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }

                > i {
                    font-size: 24px;
                }

                > span {
                    display: none;
                }
            }
        }
    }

    @include responsivo(tablet-up) {
        top: 0;
    }

}

.product-info-main {
    bottom: -80px;
    transition: bottom 0.16s linear;
}

.product-info-main.sticky {
    box-shadow: $main-box-shadow;
    align-items: flex-start;
    background-color: #fff;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    left: 0;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    z-index: 4;

    .selos-box,
    .product-social-links,
    .subtitulo {
        display: none;
    }

    .breadcrumbs {
        margin: 0;
        padding: 0;

        a,
        strong {
            white-space: nowrap;

            @include responsivo(mobile) {
                font-weight: 700;
            }
        }

        .items>li:not(:last-of-type) {
            @include responsivo(mobile) {
                display: none;
            }
        }
    }

    .product-info-price {
        justify-content: flex-end;
        margin-left: auto;
        width: auto !important;

        .price-box {
            @include responsivo(mobile) {
                margin-bottom: 0;
                text-align: right;
            }
        }

        .price-box .price-container {
            .price {
                @include responsivo(mobile) {
                    font-size: 18px;
                }
            }
        }

        .price-box .special-price .price-container {
            .price {
                @include responsivo(mobile) {
                    font-size: 22px;
                }
            }
        }

        @include responsivo(mobile) {
            padding: 0;
        }

        @include responsivo(desktop-up) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .product-add-form {
        padding: 0;

        form {
            display: flex;
            align-items: center;
        }

        .box-tocart {
            @include responsivo(mobile) {
                padding: 0;
            }
        }

        @include responsivo(mobile) {
            margin-top: 10px;
        }
    }

    @include responsivo(tablet-up) {
        height: 80px;
        align-items: center;
        flex-wrap: nowrap;
    }
}
