.product.attribute.description {
    margin-left: -$grid-spacing;
    margin-right: -$grid-spacing;

    [data-content-type="heading"] {
        text-align: left;
    }

    h2 {
        color: $text-color-darker;
        font-family: $alternate-font;
        text-transform: uppercase;
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;

        @include responsivo(tablet-up) {
            font-size: 34px;
        }
    }

    .pagebuilder-banner {
        color: #fff;
        text-align: center;

        h2 {
            font-family: $alternate-font;
            text-transform: uppercase;
            font-size: 42px;
            margin-top: 0;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .click-section {
            display: flex;
            justify-content: center;
            margin: 0 auto;

            .pagebuilder-button-primary {
                background-color: #fff;
                border: 0;
                color: $text-color;
                font-family: $alternate-font;
                font-size: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding: 10px 30px 10px 15px;
                text-transform: uppercase;
            }

            &.play {
                .pagebuilder-button-primary {
                    @include icon(triangle-right, #000, 32px);

                    &::before {
                        margin-right: 5px;
                        position: static;
                    }
                }
            }
        }
    }
    
    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .slick-list {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 36px;
        padding-right: 36px;

        .slick-slide {
            padding: 0 10px;
        }
    }
}
