.add-to-cart-popup {
    display: flex;
    align-items: center;

    > .modal-inner-wrap {
        border-radius: 40px;
        width: fit-content;
        max-width: 100%;
        //max-height: 100%;
        overflow: auto;

        h3 {
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 0 10px;
        }

        button.action {
            max-width: 240px;
            padding: 16px;

            &-close {
                margin: 0 auto;
                padding: 0;
                position: relative;

                &:before {
                    color: $main-color;
                    font-size: 16px;
                    line-height: 16px;
                }
            }

            &.secondary {
                margin-bottom: 10px;
            }
        }

        .modal {
            &-header,
            &-content,
            &-footer {
                max-width: 360px;
                text-align: center;
                padding: 15px 60px 25px;

                @include responsivo(mobile) {
                    max-width: 310px;
                    padding: 10px 30px;
                }
            }

            &-content {
                padding: 0 40px;

                .add-to-cart-modal-popup {
                    //max-width: 240px;
                    margin: 0 auto;

                    @include responsivo(mobile) {}
                }

                .product-image {
                    align-items: center;
                    border-radius: 8px;
                    display: flex;
                    max-width: 240px;
                    max-height: 240px;
                    margin: 15px auto;
                    overflow: hidden;

                    @include responsivo(mobile) {
                        margin: 10px auto;
                    }

                    &-photo {
                        border-radius: 8px;
                    }
                }

                .product-qty {
                    color: $main-color;
                    font-size: 16px;
                    margin: 0 0 10px;
                }

                .price-box {
                    .price-label {
                        display: none;
                    }

                    .price {
                        color: $main-font;
                        font-family: $alternate-font;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    .old-price {
                        .price {
                            color: $text-color-muted;
                        }
                    }
                }
            }
        }
    }
}
