.product-reviews-summary {
    display: flex;
    justify-content: center;
    margin-bottom: 0;

    .reviews-actions {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-top: 2px;

        a {
            color: #000;
            text-decoration: underline;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .rating-summary {
        margin-right: 20px;
    }

    @include responsivo(mobile) {
        flex-wrap: wrap;
    }

    @include responsivo(desktop-up) {
        margin-bottom: $grid-spacing*2;
    }
}

#product-review-container {
    .block-title {
        display: none;
    }

    .items {
        display: flex;
        flex-direction: column;
    }

    .review-item {
        border-bottom: 0;
        padding: 30px 0;

        + .review-item {
            border-top: 2px solid $input-border-color;
        }
    }

    .review-title {
        border-left: 4px solid $text-color-darker;
        font-family: $alternate-font;
        font-size: 20px;
        margin-bottom: 15px;
        padding-left: 20px;
        text-transform: uppercase;
    }

    .review-ratings {
        align-items: baseline;
        display: flex;
        float: none;
        margin-bottom: 15px;

        .rating-label {
            display: none;
        }

        .rating-summary {
            display: flex;
            overflow: visible;
        }

        .review-date {
            color: $text-color-light;
            margin-left: 20px;
        }
    }

    .review-content {
        color: $text-color-darker;
        font-size: 16px;
        line-height: 1.5;
        margin-left: 0;
    }

    .review-details {
        margin-left: 0;

        .review-details-label {
            display: none;
        }

        .review-details-value {
            font-weight: 400;
            font-size: 18px;
            color: $text-color-darker;
        }
    }
}

.rating-summary {
    .rating-result {
        width: 90px;

        &::before {
            color: #dadada;
            letter-spacing: 3px;
        }

        > span {
            &::before {
                color: #000;
                letter-spacing: 3px;
            }
        }
    }
}

.review-form {
    .legend.review-legend {
        text-align: center;

        span {
            font-weight: 600;
            font-size: 15px;

            @include responsivo(tablet-up) {
                font-size: 16px;
            }
        }

        strong {
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            font-family: $alternate-font;

            @include responsivo(tablet-up) {
                font-size: 22px;
            }
        }

        @include responsivo(tablet-up) {
            text-align: left;
        }
    }

    .review-field-ratings {
        .review-field-rating {
            .label {
                display: none;
            }
        }
    }

    .fieldset {
        margin-bottom: 20px;
    }

    .action.submit.primary {
        background-color: $action-primary-background-color;
        border: 1px solid $action-primary-border-color;
        border-radius: $button-border-radius;
        color: $action-primary-text-color;
        font-family: $alternate-font;
        font-size: 18px;
        font-weight: 400;
        height: 50px;
        padding: 10px 40px;
        width: 100%;
        text-transform: uppercase;
        transition: all 0.2s linear;

        &:hover,
        &:active,
        &:focus {
            background-color: $action-primary-hover-background-color;
            border: 1px solid $action-primary-hover-border-color;
            color: $action-primary-hover-text-color;
        }
    }
}

.review-control-vote {
    label:before,
    &:before {
        font-size: 28px;
        height: 28px;
        letter-spacing: 6px;
        line-height: 28px;
    }

    label:before {
        color: $text-color-darker;
    }
}
