.page-products {
    .toolbar {
        margin: 0 0 20px;

        .limiter {
            display: inline;
            font-family: $main-font;
            font-size: 12px;
            font-weight: 400;
            color: $text-color-darker;

            @include responsivo(mobile) {
                display: block;
                margin-bottom: 8px;
            }
        }

        @include responsivo(mobile) {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }

    .sorter {
        color: $text-color-darker;
        font-family: $main-font;
        font-size: 12px;
        font-weight: 400;

        @include responsivo(mobile) {
            position: static;
        }

        @include responsivo(tablet-up) {
            align-items: center;
            display: flex;
        }
    }

    select {
        background-color: #fff;
        border: 1px solid $border-color;
        font-size: 12px;
        height: 30px;
        line-height: 18px;
        padding: 0 25px 0 10px;
        margin: 1px 5px 0;
    }
}

.toolbar-amount {
    color: $text-color-darker;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
}

.pages {
    a.page {
        color: $text-color-darker !important;
    }

    strong.page {
        background: none;
        color: $main-color;
        font-weight: 700;
    }

    .action {
        background: $main-color;
        border: 0;

        &::before {
            color: #fff !important;
        }
    }
}

.products {
    &.wrapper ~ .toolbar {
        .limiter {
            display: none;
        }

        .pages {
            float: none;
        }
    }
}
