.catalog-category-view {
    .page-main {
        .page.messages {
            color: #fff;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            left: 0;
            position: absolute;
            z-index: 100;
        }
    }
}

.page-products .columns {
    padding-top: 0;

    .products {
        margin-top: 0;
    }
}

.category-view {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .page-title-wrapper {
        position: relative;
        z-index: 3;

        h1 {
            color: $main-color;
            font-size: 6rem;
            text-transform: uppercase;
            margin: 0;
        }
    }

    > .page-main {
        padding: 0;
        margin: -100px 0 0;
        text-align: center;
        position: relative;

        .filter {
            @include icon(angle-down, $action-secondary-background-color, 22px);
            width: 22px;
            height: 22px;
            bottom: 50px;
            position: absolute;
            z-index: 100;

            @include responsivo(mobile) {
                bottom: 25px;
            }
        }

        .category-image {
            background: $main-color;

            img {
                width: 100%;
                margin: 0 auto;
                opacity: 0.5;

                @include responsivo(mobile) {
                    height: 100%;
                    object-fit: cover;
                }    
            }

            @include responsivo(mobile) {
                height: calc(100vh - 48px);
                margin-bottom: 0;
            }
        }
    }
}

.has-image {
    .category-view {
        .page-title-wrapper {
            position: absolute;

            h1 {
                color: $action-primary-text-color;
                margin: -80px 0 0;

                @include responsivo(mobile) {
                    margin: -60px 0 0;
                    font-size: 4.5rem;
                    line-height: 0.9;
                    text-align: center;
                }
            }
        }
    }
}
