<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** This changes need to valid applying filters and configuration before search process is started. */
$productList = $block->getProductListHtml();
?>

<?php if ($block->getResultCount()) : ?>

    <?= /* @noEscape */ $block->getChildHtml('tagged_product_list_rss_link') ?>
    <div class="search results">
        <?php if ($messages = $block->getNoteMessages()) : ?>
        <div class="message notice">
            <div>
                <?php foreach ($messages as $message) : ?>
                    <?= /* @noEscape */ $message ?><br />
                <?php endforeach; ?>
            </div>
        </div>
        <?php endif; ?>
        <?= /* @noEscape */ $productList ?>
    </div>

<?php else : ?>

    <div class="no-products-message">
        <div class="content">
            <p class="text">
                Que tal passar no nosso <a href="<?= $block->getUrl('cardapio-completo.html') ?>" title="cardápio completo">cardápio completo</a> e ver outras opções?
            </p>
        </div>
    </div>

    <script type="text/javascript">
        /**
            Inicialmente, usávamos o bloco Nectar_CatalogSearch/Block/Result para modificar o título da página de resultados
            dependendo da quantidade de resultados. Porém, isso passou a gerar um erro no system.log quando alguém utilizava
            os filtros laterais da busca

            Esse erro aconteceu durante meses sem tomarmos uma ação. O que ocorre é que no bloco acima citado, nós tentávamos
            obter o número de resultados da busca em um momento ANTERIOR à aplicação dos filtros de busca. O problema é que
            posteriormente, quando o Magento tentava aplicar o filtro, já existia uma Collection de resultados, daí ele lançava
            a exceção "Illegal state" (vendor/magento/module-catalog-search/Model/ResourceModel/Fulltext/Collection.php)

            A nova solução foi trocar o título via Javascript, em um momento onde já temos acesso de fato à quantidade de resultados
         */
        let pageTitle = document.querySelector('.page-title > span');
        pageTitle.innerText = "Não encontramos o que você procura.";
        document.body.classList.add('catalogsearch-no-products');
    </script>

<?php endif; ?>
