.wrapper-mp-freeshippingbar {
    margin-top: 15px;

    .mpfsb {
        border-radius: 6px;
        line-height: 1;
        padding: 12px 16px;
    }
}

.block-minicart {
    .wrapper-mp-freeshippingbar {
        margin-bottom: $grid-spacing;
        order: 1;
    }
}