<!--
/**
 * @author      Open Source Team
 * @copyright   2021 Pagar.me (https://pagar.me)
 * @license     https://pagar.me Copyright
 *
 * @link        https://pagar.me
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked()), 'deactivated': isMethodDisabled}, afterRender: function(element) { console.log('renderizou'); element.classList.add( getCode() ); }">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-note">
        <span>Caso você opte por pagamento via boleto, seu agendamento de entrega deverá ser superior a 4 dias úteis.</span>
    </div>

    <div class="payment-method-content pagarme-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <!-- ko template: getBase() --><!-- /ko -->
        </form>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <each args="$parent.getRegion('before-place-order')" render=""></each>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: beforeplaceOrder,
                        attr: {
                            title: $t('Place Order'),
                            id: getCode() + '-submit'
                            }
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>