/* Fonte */

$main-font: 'Roboto', 'Open Sans', sans-serif;
$alternate-font: 'Wood Heinz', 'Open Sans', sans-serif;

/* Cores */

$main-color: #000;
$main-color-light: #181818;
$alternate-color: #f6a0a1;
$alternate-color-light: #fcaeb0;
$alternate-color-stronger: #f59899;
$alternate-color-darker: #e79799;
$highlight-color: $alternate-color;

$text-color: #181818;
$text-color-darker: #000;
$text-color-light: #666;
$text-color-muted: #afafaf;

$link-color: $alternate-color;

$border-color: #ccc;
$border-color-darker: #000;
$border-color-light: #cfcfcf;
$border-color-muted: #e5e5e5;

$system-color-blue: #223d78;
$system-color-green: #1fa731;
$system-color-yellow: #e9c122;
$system-color-red: #ca2626;
$system-background-color-red: #fae5e5;

/* Botões */

$action-primary-background-color: $main-color;
$action-primary-border-color: $main-color;
$action-primary-text-color: #fff;
$action-primary-hover-background-color: #fff;
$action-primary-hover-border-color: $main-color;
$action-primary-hover-text-color: $main-color;
$action-primary-active-background-color: #fff;
$action-primary-active-border-color: $main-color;
$action-primary-active-text-color: $main-color;

$action-secondary-background-color: #fff;
$action-secondary-border-color: $main-color;
$action-secondary-text-color: $main-color;
$action-secondary-hover-background-color: $main-color;
$action-secondary-hover-border-color: $main-color;
$action-secondary-hover-text-color: #fff;
$action-secondary-active-background-color: $main-color;
$action-secondary-active-border-color: $main-color;
$action-secondary-active-text-color: #fff;

$button-border-radius: 60px;

/* Fundos */

$body-background-color: #fff;
$topbar-background-color: $main-color;
$header-background-color: #fff;
$footer-background-color: #f4f4f4;
$block-background-color: #f4f4f4;

/* Formularios */

$input-border-color: #ccc;
$input-background-color: #fff;
$input-text-color: $text-color;
$input-placeholder-color: $text-color-muted;
$input-focus-border-color: $main-color;

$input-border-radius: 60px;

/* Efeitos */

$main-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
$overlay-color: rgba(0, 0, 0, 0.5);

/* Grid */

$grid-margin: 32px;
$grid-gutter: 16px;
$grid-spacing: 16px;
$grid-max-width: 100%;

$header-max-height: 100px;
$top-bar-height: 52px;
