<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Search\Block\Term $block
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
?>

<?php

$max_term_count = 4;
$counter = 0;

?>

<?php if (count($block->getTerms()) > 0): ?>
    <ul class="search-terms">
        <?php foreach ($block->getTerms() as $_term): ?>
            <?php if($counter < $max_term_count) : ?>
                <?php $counter++; ?>
                <li id="term-<?= /* @noEscape */ $_term->getId() ?>" class="item">
                    <a href="<?= $block->escapeUrl($block->getSearchUrl($_term)) ?>">
                        <?= $block->escapeHtml($_term->getQueryText()) ?>
                    </a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
<?php else: ?>
    <div class="message notice">
        <div><?= $block->escapeHtml(__('There are no search terms available.')) ?></div>
    </div>
<?php endif; ?>
